{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Delete SPI URL</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal col-sm-12" role="form" method="Post"
              action="#">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">ID</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txt_spi_url_id" name="spi_url_id" value="{{ spi_detail.spi_url_id }}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">SPI URL Type</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txt_spi_url_type" name="spi_url_type" value="{{ spi_detail.spi_url_type }}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">SPI URL call method</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txt_spi_url_call_method" name="spi_url_call_method" value="{{ spi_detail.spi_url_call_method }}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">SPI URL Value *</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txt_spi_url_value" name="spi_url_value" value="{{ spi_detail.url }}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Read Timeout</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_read_timeout" name="read_timeout" value="{{ spi_detail.read_timeout }}" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Retry Delay</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_retry_delay" name="retry_delay" value="{{ spi_detail.retry_delay_millisecond }}" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Connection Timeout</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_connection_timeout" name="connection_timeout" value="{{ spi_detail.connection_timeout }}" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Expire in Minute</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_expire_in_minute" name="expire_in_minute" value="{{ spi_detail.expire_in_minute }}" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Max Retry</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_max_retry" name="max_retry" value="{{ spi_detail.max_retry }}" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Created Timestamp</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txt_created_timestamp"
                           value="{{spi_detail.created_timestamp}}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Updated Timestamp</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txt_last_updated_timestamp"
                           value="{{spi_detail.created_timestamp}}" readonly/>
                </div>
            </div>
            <div class="form-group pull-right">
                <a href="{{request.META.HTTP_REFERER}}">
                    <input id="btn_cancel" class="btn" type="button" value="Cancel"/>
                </a>
                <a>
                    <input id="btn_yes" class="btn btn-success" type="submit" value="Yes"/>
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}


