{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="panel mb25">
    <div class="panel-heading border mb15">
        <h3>SPI URL List</h3>
    </div>
    {% if add_spi_url_msg is not None %}
    <div class="col-xs-12 mb5">
        <div class="alert alert-success alert-dismissable" id="msg-update-client">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ add_spi_url_msg }}</strong>
        </div>
    </div>
    {% endif %}

    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="col-xs-12">
            <div class='alert alert-success alert-dismissable' id="msg-update-client">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ message|capfirst }}</strong>
            </div>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="col-xs-12">
            <div class='alert alert-danger alert-dismissable' id="msg-update-client">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ message|capfirst }}</strong>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="Post" action="#">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">SPI URL Type *</label>
                <div class="col-sm-4">
                    <select class="form-control" id="ddl_spi_url_type" name="spi_url_type" required = "required">
                        {% for type in spi_types %}
                        <option value="{{ type.spi_url_type }}">{{ type.spi_url_type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">SPI URL call method *</label>
                <div class="col-sm-4">
                    <select class="form-control" id="ddl_spi_url_call_method" name="spi_url_call_method" required = "required">
                        {% for method in data_spi_call_method %}
                        <option value="{{ method.spi_url_call_method }}">{{ method.spi_url_call_method }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div style="margin-bottom: 7px;">
                <label class="col-sm-2"></label>
                <label><input type="radio" name="spi_url_option" value="internal" checked="checked"> Internal</label>&nbsp;&nbsp;&nbsp;
                <label><input type="radio" name="spi_url_option" value="external"> External </label>
            </div>
            <div class="form-group internal box" id= "internal">
                    <label class="col-sm-2 control-label">SPI URL Value</label>
                    <div class="col-sm-4">
                            <select class="form-control" id="ddl_spi_url_value" name="spi_url_value_internal">
                                <option value="/voucher/{}/internal/vouchers">Voucher Generate</option>
                                <option value="/voucher/{}/internal/vouchers/pre-payment">Voucher Verification</option>
                                <option value="/voucher/{}/internal/vouchers/post-payment">Voucher Claim</option>
                                <option value="/voucher/{}/internal/vouchers/cancellation">Voucher Cancel</option>
                                <option value="/voucher/{}/internal/vouchers/rollback">Voucher Rollback</option>
                            </select>
                        </div>
                </div>
            <div class="form-group external box" id= "external" hidden>
                <label class="col-sm-2 control-label">SPI URL Value *</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txt_spi_url_value" name="spi_url_value_external"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Read Timeout (millisec.) *</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_read_timeout" name="read_timeout" required = "required" />
                </div>
            </div>
            <div class="form-group" id="retry_delay">
                <label class="col-sm-2 control-label">Retry Delay (millisec.) *</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_retry_delay" name="retry_delay" required = "required" />
                </div>
            </div>
            <div class="form-group" id="expire_in_minutes">
                <label class="col-sm-2 control-label">Expire in Minute *</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_expire_in_minute" name="expire_in_minute" required = "required" />
                </div>
            </div>
            <div class="form-group" id="max_retry">
                <label class="col-sm-2 control-label">Max Retry *</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_max_retry" name="max_retry" required = "required" />
                </div>
            </div>
            <div class="form-group pull-right">
                <a href="{% url 'services:command_list' service_id %}">
                    <input id="btn_cancel" class="btn" type="button" value="Cancel"/>
                </a>
                <a>
                    <input id="btn_add" class="btn btn-success" type="submit" value="Add"/>
                </a>
            </div>
        </form>

        <div class="table-responsive row">
            <table class="table table-bordered table-striped mb0" id="tbl_spi">
                <thead>
                <tr>
                    <th id="lbl_spi_url_type">SPI URL Type</th>
                    <th id="lbl_spi_url_value">SPI URL Value</th>
                    <th id="lbl_spi_read_timeout">Read Timeout (millisec.)</th>
                    <th id="lbl_action">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for spi in data %}
                <tr>
                    <td class="col-sm-2">{{ spi.spi_url_type|default_if_none:'' }}</td>
                    <td class="col-sm-3">{{ spi.url|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ spi.read_timeout|default_if_none:'' }}</td>
                    <td class="col-sm-3">
                        <a type="button" class="btn btn-outline btn-xs btn-primary"
                           id="btn_edit" role="button"
                           href="{% url 'services:spi_update' service_id command_id service_command_id spi.spi_url_id %}">
                            <span class="small">Edit</span>
                        </a>
                        <a type="button" class="btn btn-outline btn-xs btn-primary"
                           id="btn_add_configuration" role="button"
                           href="{% url 'services:spi_configuration_list' service_id command_id service_command_id spi.spi_url_id %}">
                            <span class="small">Configuration</span>
                        </a>
                        <a type="button"
                           class="btn btn-outline btn-xs btn-danger"
                           role="button"
                           id="btn_delete"
                           href="{% url 'services:spi-delete' service_id command_id service_command_id spi.spi_url_id %}">
                           <span class="small">Delete</span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block body_js %}
{{ block.super }}
<script>
var $url_type = $('#ddl_spi_url_type');
var $call_method = $('#ddl_spi_url_call_method');
if ($url_type.val() !='Notification'){
            $call_method.val('synchronous');
        }
        else if ($url_type.val() == 'Notification'){
            $call_method.val('asynchronous');
        }

if ($call_method.val()=='synchronous'){
    $("#retry_delay").hide();
    $("#expire_in_minutes").hide();
    $("#max_retry").hide();
    $("#txt_retry_delay").attr('disabled', 'disabled');
    $("#txt_expire_in_minute").attr('disabled', 'disabled');
    $("#txt_max_retry").attr('disabled', 'disabled');
}
function showRelateConfig(){
    if ($call_method.val() == 'synchronous') {
            $("#retry_delay").fadeOut(500);
            $("#expire_in_minutes").fadeOut(500);
            $("#max_retry").fadeOut(500);
            $("#txt_retry_delay").attr('disabled', 'disabled');
            $("#txt_expire_in_minute").attr('disabled', 'disabled');
            $("#txt_max_retry").attr('disabled', 'disabled');
        }
        else if ($call_method.val() == 'asynchronous'){
            $("#retry_delay").fadeIn(500);
            $("#expire_in_minutes").fadeIn(500);
            $("#max_retry").fadeIn(500);
            $("#txt_retry_delay").prop("disabled", false);
            $("#txt_expire_in_minute").prop("disabled", false);
            $("#txt_max_retry").prop("disabled", false);
        }
}
function changeType(){
    $url_type.change(function(){
        if ($url_type.val() !='Notification'){
            $call_method.val('synchronous');
            showRelateConfig();
        }
        else if ($url_type.val() == 'Notification'){
            $call_method.val('asynchronous');
            showRelateConfig();

       }
    })
}
$(changeType);
$call_method.change(function() {
        showRelateConfig();
    });
function radioCheckbox(){
    $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
        if (inputValue =="internal"){
            $('#txt_spi_url_value').removeAttr('required');
        }
        else if (inputValue =="external"){
            $('#txt_spi_url_value').attr('required', true);
        }
    });
}
$(radioCheckbox);
</script>
{%  endblock %}
