{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="panel mb15">
    <div class="panel-heading border">
        <h3>Edit SPI URL</h3>
    </div>
    {% if add_spi_url_msg is not None %}
    <div class="col-xs-12 mb5">
        <div class="alert alert-success alert-dismissable" id="msg-update-client">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ add_spi_url_msg }}</strong>
        </div>
    </div>
    {% endif %}
    {% if spi_update_msg is not None %}
    <div class="col-xs-12 mb5">
        <div class="alert alert-success alert-dismissable" id="msg-update-client">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ spi_update_msg }}</strong>
        </div>
    </div>
    {% endif %}
    <div class="panel-body">
        <form class="form-horizontal col-sm-12" role="form" method="Post" action="#">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">ID</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txt_spi_url_id" name="spi_url_id" value="{{ data.spi_url_id }}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">SPI URL Type *</label>
                <div class="col-sm-4">
                    <select class="form-control" id="ddl_spi_url_type" name="spi_url_type" required>
                        {% for type in spi_types %}
                            {% if type.spi_url_type == data.spi_url_type %}
                            <option value="{{ type.spi_url_type }}" selected>{{ type.spi_url_type }}</option>
                            {% else %}
                            <option value="{{ type.spi_url_type }}">{{ type.spi_url_type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">SPI URL call method *</label>
                <div class="col-sm-4">
                    <select class="form-control" id="ddl_spi_url_call_method" name="spi_url_call_method" required>
                        {% for method in data_spi_call_method %}
                        {% if method.spi_url_call_method == data.spi_url_call_method %}
                            <option value="{{ method.spi_url_call_method }}" selected>{{ method.spi_url_call_method }}</option>
                            {% else %}
                            <option value="{{ method.spi_url_call_method }}">{{ method.spi_url_call_method }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">SPI URL Value *</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txt_spi_url_value" name="spi_url_value" value="{{ data.url }}" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Read Timeout (millisec.) *</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_read_timeout" name="read_timeout" value="{{ data.read_timeout }}" required="required"/>
                </div>
            </div>
            <div class="form-group" id="retry_delay">
                <label class="col-sm-2 control-label">Retry Delay (millisec.) *</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_retry_delay" name="retry_delay" value="{{ data.retry_delay_millisecond }}" required="required"/>
                </div>
            </div>
            <div class="form-group" id="expire_in_minutes">
                <label class="col-sm-2 control-label">Expire in Minute *</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_expire_in_minute" name="expire_in_minute" value="{{ data.expire_in_minute }}" required="required"/>
                </div>
            </div>
            <div class="form-group" id="max_retry">
                <label class="col-sm-2 control-label">Max Retry *</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_max_retry" name="max_retry" value="{{ data.max_retry }}" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Created Timestamp</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txt_created_timestamp"
                           value="{{data.created_timestamp}}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Updated Timestamp</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txt_last_updated_timestamp"
                           value="{{data.created_timestamp}}" readonly/>
                </div>
            </div>
            <div class="form-group pull-right">
                <a href="{{request.META.HTTP_REFERER}}">
                    <input id="btn_cancel" class="btn" type="button" value="Cancel"/>
                </a>
                <a>
                    <input id="btn_save" class="btn btn-success" type="submit" value="Save"/>
                </a>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script>
var $url_type = $('#ddl_spi_url_type');
var $call_method = $('#ddl_spi_url_call_method');
function showRelateConfig(){
    if ($call_method.val() == 'synchronous') {
            $("#retry_delay").fadeOut(500);
            $("#expire_in_minutes").fadeOut(500);
            $("#max_retry").fadeOut(500);
            $("#txt_retry_delay").attr('disabled', 'disabled');
            $("#txt_expire_in_minute").attr('disabled', 'disabled');
            $("#txt_max_retry").attr('disabled', 'disabled');
        }
        else if ($call_method.val() == 'asynchronous'){
            $("#retry_delay").fadeIn(500);
            $("#expire_in_minutes").fadeIn(500);
            $("#max_retry").fadeIn(500);
            $("#txt_retry_delay").prop("disabled", false);
            $("#txt_expire_in_minute").prop("disabled", false);
            $("#txt_max_retry").prop("disabled", false);
        }
}
function changeType(){
    $url_type.change(function(){
        if ($url_type.val() =='Notification'){
            $call_method.val('synchronous');
            showRelateConfig();
        }
        else if ($url_type.val() != 'Notification'){
            $call_method.val('asynchronous');
            showRelateConfig();

       }
    })
}
$(changeType);
$call_method.change(function() {
        showRelateConfig();
    });
</script>

{% endblock %}
