{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Agent List</h3>
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0" id="tbl_agent_list">
                <thead>
                <tr>
                    <th id="agent_type">Agent ID</th>
                    <th id="last_name">Last Name</th>
                    <th id="first_name">First Name</th>
                    <th id="phone">Phone</th>
                    <th id="kyc">KYC</th>
                    <th id="created_at">Created Date</th>
                    <th id="modified_at">Modified Date</th>
                    <th id="status">Status</th>
                    <th id="action">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for agent in data %}
                {% if not agent.is_deleted %}
                <tr>
                    <td class="col-sm-3">{{ agent.id }}</td>
                    <td class="col-sm-3">{{ agent.lastname|default_if_none:'' }}</td>
                    <td class="col-sm-5">{{ agent.firstname|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ agent.primary_phone|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ agent.kyc_status|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ agent.created_timestamp|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ agent.last_updated_timestamp|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ agent.status|default_if_none:'' }}</td>
                    <td class="col-sm-3">
                        <div class="btn-group">
                            <button id="btn_detail" class="btn btn-outline btn-xs btn-primary"
                                    onclick="location.href='{% url 'agents:agent_detail' agent.id %}'">Detail
                            </button>
                            <button id="btn_edit" class="btn btn-outline btn-xs btn-primary"
                                    onclick="location.href='{% url 'agents:agent_update' agent.id %}'">Edit
                            </button>
                            <button id="btn_delete" hidden>Delete</button>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
