{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Edit Service Group</h3>
    </div>

    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form id="submit-form" class="form-horizontal" role="form" method="post"
                      action="{%  url 'service_group:service_group_update' service_group_info.service_group_id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_name" name="service_group_name"
                                   value="{{ service_group_info.service_group_name | default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-8">
                                <textarea type="text" class="form-control input-rounded"
                                          id="txt_description" name="description" form="submit-form">{{ service_group_info.description | default_if_none:''}}</textarea>
                        </div>
                    </div>
                    <div class="pull-right">
                        <a href="{% url 'service_group:service_group_list' %}">
                            <input id="btn_cancel" class="btn" type="button" value="Cancel"/>
                        </a>
                        <a href="{% url 'service_group:service_group_detail' service_group_info.service_group_id %}">
                            <input id="btn_service_group_save" class="btn btn-success" type="submit" value="Save">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}