{% extends "base.html" %}
{% load static %}
{% load permissions_filter %}

{% block content %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Individual Wallet View</h3>
    </div>
    <div class="alert alert-success" id="msg-update-success" hidden>
            <button type="button" class="close" onclick="$('.alert').hide()">×</button>
            <strong id="alert-msg"></strong>
    </div>

    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="col-xs-12">
            <div class="alert alert-success alert-dismissable" id="msg-roles">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ message }}</strong>
            </div>
        </div>
        {% else %}
        <div class="col-xs-12">
            <div class='alert alert-danger alert-dismissable' id="msg-error">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ message|capfirst }}</strong>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <div id="ajax-messages">
        {% if msg is not None %}
            <div class="col-xs-12">
                <div class='alert
                            alert-success
                            alert-dismissable' id="msg-update-client">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ msg }}</strong>
                </div>
            </div>
        {% endif %}
        {% if delete_msg is not None %}
            <div class="col-xs-12">
                <div class='alert
                            alert-success
                            alert-dismissable' id="msg-update-client">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ delete_msg }}</strong>
                </div>
            </div>
        {% endif %}
        {% if msg_failed is not None %}
            <div class="col-xs-12">
                <div class='alert
                            alert-danger
                            alert-dismissable' id="msg-update-client">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ msg_failed }}</strong>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
            <form id="submit-form" class="form-horizontal" role="form" method="get" action="{% url 'customers:customer_transaction_history' user_id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-1 control-label">SOF Type</label>
                    <div class="col-sm-1">
                        <select class="form-control" name="sof_type_id"
                                        id="ddl_sof_type">
                                {% for sof_type in choices.sof_types %}
                                   {% if sof_type.sof_type == 'cash' %} <option value="{{ sof_type.sof_type_id }}"  selected >{{ sof_type.sof_type }}</option> {% endif %}
                                {% endfor %}
                        </select>
                    </div>
                    <label class="col-sm-1 control-label">SOF ID</label>
                    <div class="col-sm-1">
                        <select class="form-control" id="ddl_sof_id" name="sof_id" >
                            <option value="" selected="selected">All</option>
                            {% for sof in cash_sof_list %}
                                {%if sof.id == sof_id %}
                                    <option value="{{sof.id }}" selected>{{sof.id }}</option>
                                {% else %}
                                    <option value="{{sof.id }}">{{sof.id }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <label class="col-sm-1 control-label">Status</label>
                    <div class="col-sm-1">
                        <select class="form-control" id="ddl_status" name="status_id">
                            {% for item in status_list %}
                                <option value="{{item.id}}" {% if item.id == status_id %}selected="selected"{% endif %}>{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label class="col-xs-1 control-label">From</label>
                    <div class="col-xs-2">
                        <input type="date" class="form-control input-rounded"
                               name="from_created_timestamp"
                               value="{{ from_created_timestamp|default_if_none:'' }}"
                               id="dtp_from">
                    </div>
                    <label class="col-xs-1 control-label">To</label>
                    <div class="col-xs-2">
                        <input type="date" class="form-control input-rounded"
                               name="to_created_timestamp"
                               value="{{ to_created_timestamp|default_if_none:'' }}"
                               id="dtp_to">
                    </div>
                </div>

                <div class="form-group">
                    <input id="current_page_index" name="current_page_index" style="display:none" value="1">
                    <div class="col-xs-1 pull-right">
                        <input id="btn_back" class="btn text-left mb15" type="button" value="Back" onclick="location.href='{% url 'customers:customer-list' %}'"/>
                    </div>
                    <div class="col-xs-1 pull-right">
                        <input id="btn_search" class="btn btn-success btn-block" type="submit" name="search" value="Search">
                    </div>

                </div>

                <div class="form-group">
                    <label class="pull-right" id="lbl_total">{{ search_count }}</label>
                    <label class="pull-right" >Total transactions found:&nbsp;</label>

                    <div class="col-xs-1 col-xs-offset-3" hidden>
                            <input id="export-type" type="text" name="export-type" value="" />
                            <input id="download_button" class="btn btn-success btn-block" type="submit" name="download"
                                   value="Download">
                    </div>
                    {% if is_show_export %}
                    <div class="pull-right dropdown export-file-dropdown">
                        <label class="dropdown-toggle" title="Export this filter" id="button_export" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="true"><i class="glyphicon glyphicon-download-alt"></i></label>
                        <ul class="dropdown-menu" aria-labelledby="button_export">
                            <li id="download_excel_option" onclick="exportFile('excel')">Export Excel (All Fields) - 5,000 results</li>
                            <li id="download_csv_option" onclick="exportFile('csv')">Export CSV (All Fields) - 5,000 results</li>
                        </ul>
                    </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mb0" id="tbl_customer_transaction_history">
                            <thead>
                            <tr>
                                <th id="order_id">Order ID</th>
                                <th id="short_order_id">Short Order ID</th>
                                <th id="order_status">Order Status</th>
                                <th id="external_id">External ID</th>
                                <th id="command">Command</th>
                                <th id="order_detail_id">Order Detail ID</th>
                                <th id="order_detail_status">Order Detail Status</th>
                                <th id="sof_type">Sof Type</th>
                                <th id="sof_id">Sof ID</th>
                                <th id="service_name">Service Name</th>
                                <th id="from_amount">From Amount</th>
                                <th id="pre_balance">Pre-Balance</th>
                                <th id="debit">Debit (-)</th>
                                <th id="credit">Credit (+)</th>
                                <th id="post_balance">Post-Balance</th>
                                <th id="currency">Currency</th>
                                <th id="created_date">Created Date</th>
                                <th id="action">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in list %}
                                <tr>
                                    <td>{{ row.order_id|default_if_none:'' }}</td>
                                    <td>{{ row.short_order_id|default_if_none:'' }}</td>
                                    <td>{{ row.order_status_name|default_if_none:'' }}</td>
                                    <td>{{ row.ext_transaction_id|default_if_none:'' }}</td>
                                    <td>{{ row.command_name|default_if_none:'' }}</td>
                                    <td>{{ row.order_detail_id|default_if_none:'' }}</td>
                                    <td>{{ row.order_detail_status_name|default_if_none:'' }}</td>
                                    <td>{{ row.sof_type_name|default_if_none:'' }}</td>
                                    <td>{{ row.sof_id|default_if_none:'' }}</td>
                                    <td>{{ row.service_name|default_if_none:'' }}</td>
                                    <td>{{ row.amount_type|default_if_none:'' }}</td>
                                    <td>{{ row.pre_balance|default_if_none:'' }}</td>
                                    <td>{% if row.action_type|lower == 'debit'%}{{ row.amount|default_if_none:'' }}{% endif %}</td>
                                    <td>{% if row.action_type|lower == 'credit'%}{{ row.amount|default_if_none:'' }}{% endif %}</td>
                                    <td>{{ row.post_balance|default_if_none:'' }}</td>
                                    <td>{{ row.currency|default_if_none:'' }}</td>
                                    <td>{{ row.created_timestamp|default_if_none:'' }}</td>
                                    <td class="col-sm-3">
                                        {% if row.has_permission_view_payment_order_detail %}
                                        <a type="button"
                                           class="btn btn-outline btn-xs btn-info"
                                           role="button"
                                           id="btn_detail"
                                           href="{% url 'payments:order_detail' row.order_id %}">
                                            <span class="small">Detail</span>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                {% for row in summaries %}
                                    <tr>
                                        <td colspan="11" style="text-align:right">Total SUM of all search result in {{ row.currency }}</td>
                                        <td>{{ row.total_debit_amount|default_if_none:'0' }}</td>
                                        <td>{{ row.total_credit_amount|default_if_none:'0' }}</td>
                                        <td colspan="4"></td>
                                    </tr>
                                {% endfor %}
                            </tfoot>
                        </table>
                    </div>
                </div>
                {% include "pagination.html" %}
            </form>
            </div>
        </div>
    </div>
</div>
<script>
    var exportFile = function(type) {
        if(type == 'excel') {
            $('#export-type').val('excel');
        } else if (type == 'csv'){
            $('#export-type').val('csv');
        }
        $('#download_button').click();
    }
</script>
{% endblock %}