{% extends "base.html" %}
{% load static %}

{% block body_stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/sweetalert/lib/sweet-alert.css' %}">
    <style>
        .recipient-mechanic {
            position: relative;
            top: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="panel mb25">
        <div class="panel-heading border">
            <h3>Add Mechanic</h3>
        </div>
        {% if error_msg is not none %}
            <div class="alert alert-danger" id="msg-update-failed">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong id="alert-msg">{{ error_msg|capfirst }}</strong>
            </div>
        {% endif %}

        <div class="col-xs-12 mb5">
        <div class="alert alert-danger alert-dismissable" style="display: none;" id="alert-campaign">
            <button type="button" class="close" onclick="$('.alert').hide()">×</button>
            <strong id="alert-message"></strong>
        </div>
        </div>

        <div class="panel-body">
            <div class="row no-margin">
                <div class="col-lg-12">
                    <form id="submit-form" class="form-horizontal" role="form" method="post"
                          action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Trigger</label>
                            <div class="col-xs-3">
                                <select class="form-control" id="ddl_trigger" name="trigger" onchange="listenTrigger()" required>
                                    {% for item in trigger %}
                                        {% if item.description != "" %}
                                        <option value= "{{ item.term }}">{{ item.description }}</option>
                                        {% else %}
                                        <option value= "{{ item.term }}">{{ item.term }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Start Date *</label>
                            <div class="col-xs-3">
                                <input type="date" class="form-control input-rounded"
                                       name="dtp_start_date" style="height:40px;"
                                       value="{{ dtp_start_date|default_if_none:'' }}"
                                       id="dtp_start_date" required >
                            </div>
                            <div class="col-xs-2">
                                <input  class="form-control input-rounded"
                                        type=time min=00:00 max=23:59 step=60 value="00:01"
                                       id="dtp_start_time" name="dtp_start_time"
                                       value="{{ dtp_start_time|default_if_none:'' }}"
                                       style="height:40px;" required >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">End Date *</label>
                            <div class="col-xs-3">
                                <input type="date" class="form-control input-rounded"
                                       name="dtp_end_date" style="height:40px;"
                                       value="{{ dtp_end_date|default_if_none:'' }}"
                                       id="dtp_end_date" required>
                            </div>
                            <div class="col-xs-2">
                                <input  class="form-control input-rounded"
                                        type=time min=00:00 max=23:59 step=60 value="00:01"
                                       id="dtp_end_time" name="dtp_end_time"
                                       value="{{ dtp_end_time|default_if_none:'' }}"
                                        style="height:40px;" required>
                            </div>
                        </div>

                        <div class="panel-heading">
                            <h5><b>Set Condition</b></h5>
                        </div>
                        <div id="condition-group">
                            <div id="div_condition_1">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Condition type</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" id="ddl_condition_type" name="condition_type_1" counter="1" onchange="selectConditionType(this.value, this)">
                                            <option value= "event_detail">Event Detail</option>
                                            <option value= "sum_of">Sum of</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="event_detail_area">
                                    <div class="form-group">
                                    <label class="col-sm-3 control-label">Detail Name</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" id="ddl_detail_name" name="detail_name_1">
                                            {% for item in detail_names %}
                                                {% if item.description != "" %}
                                                <option value= "{{ item.term }}">{{ item.description }}</option>
                                                {% else %}
                                                <option value= "{{ item.term }}">{{ item.term }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Key Value Type</label>
                                        <div class="col-xs-3">
                                            <select class="form-control" id="ddl_key_value_type" name="key_value_type_1" onchange="listenKeyValType(this, this.options[this.selectedIndex].value, {{ operations }}, {{ freetext_ops }})">
                                                {% for type in key_value_types %}
                                                    <option value= "{{ type }}">{{ type }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Operator</label>
                                        <div class="col-xs-3">
                                            <select class="form-control" id="ddl_operator" name="operator_1" onchange="listenOperator(this, this.options[this.selectedIndex].value, {{ filter_ops }}, {{ key_value_types }}, {{ filter_key_value_types }})">
                                                {% for oper in operations %}
                                                    <option value= "{{ oper }}">{{ oper }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" id="last_form_group">
                                        <label class="col-sm-3 control-label">Key Value *</label>
                                        <div class="col-xs-3">
                                            <input id="txt_key_value" class="form-control input-rounded" name="key_value_1" type="number" required>
                                        </div>
                                    </div>
                                </div>
                                <div id="sum_of_area">
                                </div>
                            <br>
                            </div>
                        </div>
                        <input type="hidden" name="condition_counter" id="txt_condition_counter">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-xs-3">
                                <button type="button" class="btn btn-primary btn-block" id="btn_add_condition" onclick="addCondition()">
                                  <span class="glyphicon glyphicon-plus"></span> Add Condition
                                </button>
                            </div>
                        </div>

                        <div class="panel-heading">
                            <h5><b>Set Rewards</b></h5>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Reward</b></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Reward Type</label>
                            <div class="col-xs-3">
                                <select class="form-control" id="ddl_reward_type" name="reward_type" onchange="listenRewardType(this.options[this.selectedIndex].value)">
                                    <option value= "fixed_cashback">Fixed Cashback</option>
                                    <option value= "send_notification">Send Notification</option>
                                    <option value= "suspend_account">Suspend account</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="div_send_to" hidden>
                            <label class="col-sm-3 control-label">Send to *</label>
                            <div class="col-xs-3">
                                <input id="txt_send_to" class="form-control input-rounded" name="send_to" type="text" placeholder="Enter URL">
                            </div>
                        </div>
                        <div class="form-group" id="div_amount">
                            <label class="col-sm-3 control-label">Amount *</label>
                            <div class="col-xs-3">
                                <input id="txt_amount" class="form-control input-rounded" name="amount" type="number" required>
                            </div>
                        </div>

                        <div class="form-group" id="div_reward_recipient">
                            <label class="col-sm-3 control-label"><b>Reward Recipient</b></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Reward Recipient should be</label>
                            <div class="col-xs-3">
                                <select class="form-control" id="ddl_reward_recipient" name="reward_recipient" onchange="rewardRecipientShouldBe()">
                                    <option value= "customer" selected>Customer</option>
                                    <option value= "agent">Agent</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Give Rewards to</label>
                            <div class="col-xs-3">
                                <select class="form-control" id="ddl_give_reward_to" name="give_reward_to" onchange="giveRewardsTo()">
                                    <option value= "@@user_id@@">Actor who registered</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="lbl_paid_amount" hidden>
                            <label class="col-sm-3 control-label">Paid Amount</label>
                            <div class="col-xs-3">
                                <input id="txt_paid_amount" class="form-control input-rounded" value="@@amount@@" name="paid_amount" type="text" disabled>
                            </div>
                        </div>
                        <div id="div_fixed_cashback">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Get Funds From</b></label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Product Service ID *</label>
                                <div class="col-xs-3">
                                    <input id="txt_product_service_id" class="form-control input-rounded" name="product_service_id" type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Payer ID *</label>
                                <div class="col-xs-3">
                                    <input id="txt_payer_id" class="form-control input-rounded" name="payer_id" type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Payer SOF ID *</label>
                                <div class="col-xs-3">
                                    <input id="txt_payer_sof_id" class="form-control input-rounded" name="payer_sof_id" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div id="div_send_notification"></div>
                        <div class="panel-heading">
                            <h5><b>Set Limitations</b></h5>
                        </div>
                        <div id="limitation-group">
                            <div id="div_condition_1">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Limitation Type *</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" id="ddl_limitation_type" name="limitation_type" required>
                                            <option value= "count">Count</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Limit to *</label>
                                    <div class="col-xs-3">
                                        <input id="txt_limit_to" class="form-control input-rounded" name="limit_to" type="number" required>

                                    </div>
                                    <span class="recipient-mechanic">/recipient/mechanic</span>

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Reward Recipient should be</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" id="ddl_limitation_reward_recipient" name="reward_type_disabled" disabled>
                                            <option value= "customer">Customer</option>
                                            <option value= "agent">Agent</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Give Rewards to</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" id="ddl_limitation_give_reward" name="give_reward_to_disabled" disabled>
                                            <option value= "@@user_id@@">Actor who registered</option>
                                        </select>
                                    </div>
                                </div>

                            <br>
                            </div>
                        </div>

                        <div id='div_button' class="form-group pull-right">
                            <a href="{% url 'campaign:campaign_detail' campaign_id %}">
                                <input id="btn_dismiss" class="btn text-left mb15" type="button"
                                       value="Dismiss"/>
                            </a>
                            <input id="btn_add_mechanic" class="btn btn-success text-left mb15" type="button" onclick="return submitForm();"
                                   value="Add Mechanic"/>
                            <input id='hidden_submit' type="submit" hidden>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function rewardRecipientShouldBe() {
            var e = document.getElementById("ddl_reward_recipient");
            document.getElementById("ddl_limitation_reward_recipient").selectedIndex = e.selectedIndex;
        }

        function giveRewardsTo()  {
            var e = document.getElementById("ddl_give_reward_to");
            document.getElementById("ddl_limitation_give_reward").selectedIndex = e.selectedIndex;
        }

        function getCurrentOps (ddl) {
            var ops = [];
            ddl.find('option').each(function()
            {
                ops.push($(this).val());
            });
            return ops
        }

        function setDDL(ddl, newOps) {
            ddl.empty();
            for (var ops in newOps) {
                ddl.append( $("<option>")
                    .val(newOps[ops])
                    .html(newOps[ops])
                )
            }
        }

        function listenKeyValType(ele, type, fullOps, filterOps) {
            var keyValue = $(ele).parent().parent().nextAll('div').find('input');
            var operator = $(ele).parent().parent().next('div').find('select');
            var currentOperator = getCurrentOps(operator);
            keyValue.val('');
            if (type === 'Freetext') {
                if (JSON.stringify(currentOperator) !== JSON.stringify(filterOps)) {
                    setDDL(operator, filterOps);
                }
                keyValue.attr('type', 'text');
            } else {
                if (JSON.stringify(currentOperator) !== JSON.stringify(fullOps)) {
                    setDDL(operator, fullOps);
                }
                if (type === 'Numeric') {
                    keyValue.attr('type', 'number');
                } else if (type === 'Timestamp') {
                    keyValue.attr('type', 'datetime-local');
                }
            }
        }

        function listenOperator(ele, type, operation, fullOps, filterOps) {
            return;

            var keyValueType = $(ele).parent().parent().prev('div').find('select');
            var keyValue = $(ele).parent().parent().next('div').find('input');
            var currentKVType = getCurrentOps(keyValueType);
            if (type === "Equal to" || type === "Not Equal to" || type === "Contains") {
                if (currentKVType.length === 2) {
                    keyValueType.find('[value="Numeric"]').after('<option value="Freetext">Freetext</option>');
                }
            } else {
                if (currentKVType.length === 3) {
                    keyValueType.find('[value="Freetext"]').remove();
                }
            }
        }

        var _counter = 1;
        // defaut element when create new condition with the index
        var createDefaultConditionElem = function(counter) {
             var defaultConditionHtml = '<div><div class="col-sm-12" style="margin-bottom: 20px;"><label class="col-sm-3 control-label" id="lbl_and"><b>AND</b></label></div>\
                                <div id="div_condition_' + counter + '">\
                                <div class="form-group">\
                                    <label class="col-sm-3 control-label">Condition type</label>\
                                    <div class="col-xs-3">\
                                        <select class="form-control" id="ddl_condition_type" name="condition_type_' + counter + '" counter="' + counter + '" onchange="selectConditionType(this.value, this)">\
                                            <option value= "event_detail">Event Detail</option>\
                                            <option value= "sum_of">Sum of</option>\
                                        </select>\
                                    </div>\
                                </div>\
                                <div id="event_detail_area">\
                                    <div class="form-group">\
                                    <label class="col-sm-3 control-label">Detail Name</label>\
                                    <div class="col-xs-3">\
                                        <select class="form-control" id="ddl_detail_name" name="detail_name_' + counter + '">\
                                            {% for item in detail_names %}\
                                                {% if item.description != "" %}\
                                                <option value= "{{ item.term }}">{{ item.description }}</option>\
                                                {% else %}\
                                                <option value= "{{ item.term }}">{{ item.term }}</option>\
                                                {% endif %}\
                                            {% endfor %}\
                                        </select>\
                                    </div>\
                                    </div>\
                                    <div class="form-group">\
                                        <label class="col-sm-3 control-label">Key Value Type</label>\
                                        <div class="col-xs-3">\
                                            <select class="form-control" id="ddl_key_value_type" name="key_value_type_' + counter + '" onchange="listenKeyValType(this, this.options[this.selectedIndex].value, {{ operations }}, {{ freetext_ops }})">\
                                                {% for type in key_value_types %}\
                                                    <option value= "{{ type }}">{{ type }}</option>\
                                                {% endfor %}\
                                            </select>\
                                        </div>\
                                    </div>\
                                    <div class="form-group">\
                                        <label class="col-sm-3 control-label">Operator</label>\
                                        <div class="col-xs-3">\
                                            <select class="form-control" id="ddl_operator" name="operator_' + counter + '" onchange="listenOperator(this, this.options[this.selectedIndex].value, {{ filter_ops }}, {{ key_value_types }}, {{ filter_key_value_types }})">\
                                                {% for oper in operations %}\
                                                    <option value= "{{ oper }}">{{ oper }}</option>\
                                                {% endfor %}\
                                            </select>\
                                        </div>\
                                    </div>\
                                    <div class="form-group" id="last_form_group">\
                                        <label class="col-sm-3 control-label">Key Value *</label>\
                                        <div class="col-xs-3">\
                                            <input id="txt_key_value" class="form-control input-rounded" name="key_value_' + counter + '" type="number" required>\
                                        </div>\
                                    </div>\
                                </div>\
                                <div id="sum_of_area">\
                                </div>\
                            <br>\
                            </div></div>';
            return defaultConditionHtml;
        };

        function addCondition() {
            _counter++;
            var div = document.createElement('div');
            div.innerHTML = createDefaultConditionElem(_counter);
            var newConditionElem  = div.cloneNode(true);
            document.getElementById("condition-group").appendChild(newConditionElem);
            $("#txt_condition_counter").val(_counter);
        }

        function removeElement(id) {
            var element = document.getElementById(id);
            element.parentNode.removeChild(element);
        }

        function hideElement(id) {
            var element = document.getElementById(id);
            element.style.display = 'none';
        }

        function showElement(id) {
            var element = document.getElementById(id);
            element.style.display = 'block';
        }

        function setRequired(id) {
            var element = document.getElementById(id);
            element.setAttribute("required", "");
        }

        function setNotRequired(id) {
            var element = document.getElementById(id);
            element.removeAttribute("required");
        }
        var resetValue = function(id) {
            var element = document.getElementById(id);
            element.value = '';
        };

        function listenTrigger() {
            var ddl_give_reward_to = $("#ddl_give_reward_to");
            var triggerValue = $("#ddl_trigger").val();
            var ddl_limitation_give_reward = $("#ddl_limitation_give_reward");
            var rewardTypeSelectedValue = $("#ddl_reward_type").val();

            if (triggerValue === 'register_customer' || triggerValue === 'login') {
                $("#lbl_paid_amount").prop('hidden', true);
                ddl_give_reward_to.empty();
                ddl_give_reward_to.append($("<option>")
                    .val("@@user_id@@")
                    .html("Actor who registered")
                )
                ddl_limitation_give_reward.empty();
                ddl_limitation_give_reward.append($("<option>")
                    .val("@@user_id@@")
                    .html("Actor who registered")
                )
            } else {
                if(rewardTypeSelectedValue == 'suspend_account') {
                    $("#lbl_paid_amount").prop('hidden', true);
                } else {
                    $("#lbl_paid_amount").prop('hidden', false);
                }
                ddl_give_reward_to.empty();
                ddl_give_reward_to.append($("<option>")
                    .val("@@payer_user_id@@")
                    .html("Actor that paid for the transaction")
                )
                ddl_give_reward_to.append($("<option>")
                    .val("@@initiator_user_id@@")
                    .html("Actor that created the transaction")
                )
                ddl_give_reward_to.append($("<option>")
                    .val("@@payee_user_id@@")
                    .html("Actor that received the transaction")
                )

                ddl_limitation_give_reward.empty();
                ddl_limitation_give_reward.append($("<option>")
                    .val("@@payer_user_id@@")
                    .html("Actor that paid for the transaction")
                )
                ddl_limitation_give_reward.append($("<option>")
                    .val("@@initiator_user_id@@")
                    .html("Actor that created the transaction")
                )
                ddl_limitation_give_reward.append($("<option>")
                    .val("@@payee_user_id@@")
                    .html("Actor that received the transaction")
                )
            }
        }

        var div_fixed_cashback = document.getElementById('div_fixed_cashback');
        var div_fixed_cashback_html = '\
            <div class="form-group">\
                <label class="col-sm-3 control-label"><b>Get Funds From</b></label>\
            </div>\
            <div class="form-group">\
                <label class="col-sm-3 control-label">Product Service ID *</label>\
                <div class="col-xs-3">\
                    <input id="txt_product_service_id" class="form-control input-rounded" name="product_service_id" type="text" required>\
                </div>\
            </div>\
            <div class="form-group">\
                <label class="col-sm-3 control-label">Payer ID *</label>\
                <div class="col-xs-3">\
                    <input id="txt_payer_id" class="form-control input-rounded" name="payer_id" type="text" required>\
                </div>\
            </div>\
            <div class="form-group">\
                <label class="col-sm-3 control-label">Payer SOF ID *</label>\
                <div class="col-xs-3">\
                    <input id="txt_payer_sof_id" class="form-control input-rounded" name="payer_sof_id" type="text" required>\
                </div>\
            </div>';

        var div_send_notification = document.getElementById('div_send_notification');
        var div_send_notification_html = '\
                            <div class="form-group">\
                                <label class="col-sm-3 control-label"><b>Data to be sent</b></label>\
                            </div>\
                            <div id="data_send_group">\
                                <div id="data_tobe_send_1">\
                                    <div class="form-group">\
                                        <label class="col-sm-3 control-label">Data type</label>\
                                        <div class="col-xs-3">\
                                            <select class="form-control" id="ddl_reward_data_type" name="reward_data_type" onchange="listenDataType(this, this.options[this.selectedIndex].value)">\
                                                <option value= "from_database">From Database</option>\
                                                <option value= "user_defined">User Defined</option>\
                                            </select>\
                                        </div>\
                                    </div>\
                                    <div id="div_from_database">\
                                        <div class="form-group">\
                                            <label class="col-sm-3 control-label">Detail Name</label>\
                                            <div class="col-xs-3">\
                                                <select class="form-control" id="ddl_reward_detail_name" name="reward_detail_name">\
                                                    {% for item in detail_names %}\
                                                        {% if item.description != "" %}\
                                                        <option value= "{{ item.term }}">{{ item.description }}</option>\
                                                        {% else %}\
                                                        <option value= "{{ item.term }}">{{ item.term }}</option>\
                                                        {% endif %}\
                                                    {% endfor %}\
                                                </select>\
                                            </div>\
                                        </div>\
                                    </div>\
                                    <div id="div_user_defined" hidden>\
                                        <div class="form-group">\
                                            <label class="col-sm-3 control-label">Key Name *</label>\
                                            <div class="col-xs-3">\
                                                <input id="txt_reward_key_name" class="form-control input-rounded" name="reward_key_name" type="text">\
                                            </div>\
                                        </div>\
                                        <div class="form-group">\
                                            <label class="col-sm-3 control-label">Key Value Type</label>\
                                            <div class="col-xs-3">\
                                                <select class="form-control" id="ddl_reward_key_value_type" name="reward_key_value_type" onchange="listenRewardKeyValType(this, this.options[this.selectedIndex].value)">\
                                                    {% for type in key_value_types %}\
                                                        <option value= "{{ type }}">{{ type }}</option>\
                                                    {% endfor %}\
                                                </select>\
                                            </div>\
                                        </div>\
                                        <div class="form-group">\
                                            <label class="col-sm-3 control-label">Key Value *</label>\
                                            <div class="col-xs-3">\
                                                <input id="txt_reward_key_value" class="form-control input-rounded" name="reward_key_value" type="number">\
                                            </div>\
                                        </div>\
                                    </div>\
                                </div>\
                            </div>\
                            <input type="hidden" name="data_counter" id="txt_data_counter">\
                            <div class="form-group">\
                                <label class="col-sm-3 control-label"></label>\
                                <div class="col-xs-3">\
                                    <button type="button" class="btn btn-primary btn-block" id="btn_add_data_to_be_sent" onclick="addDataToSend()">\
                                      <span class="glyphicon glyphicon-plus"></span> Add Data To Be Sent\
                                    </button>\
                                </div>\
                            </div>';

        var reward_recipient_should_be_elem = document.getElementById('ddl_reward_recipient');
        var give_rewards_to_elem = document.getElementById('ddl_give_reward_to');

        var resetSelectElement = function (selectElement) {
            var options = selectElement.options;

            // Look for a default selected option
            for (var i=0, iLen=options.length; i<iLen; i++) {

                if (options[i].defaultSelected) {
                    selectElement.selectedIndex = i;
                    return;
                }
            }

            selectElement.selectedIndex = 0; // or -1 for no option selected
        };

        var resetRewardRecipient = function() {
            resetSelectElement(reward_recipient_should_be_elem);
            resetSelectElement(give_rewards_to_elem);
            rewardRecipientShouldBe();
            giveRewardsTo();
        };

        // confirm API, confirm paid amount
        function listenRewardType (rType) {
            var triggerValue = $("#ddl_trigger").val();
            if (rType === 'send_notification') {
                if (triggerValue === 'register_customer' || triggerValue === 'login') {
                    $("#lbl_paid_amount").prop('hidden', true);
                } else {
                    $("#lbl_paid_amount").prop('hidden', false);
                }
                resetRewardRecipient();
                hideElement('div_amount');
                setNotRequired('txt_amount');
                resetValue('txt_amount');
                hideElement('div_reward_recipient');
                div_fixed_cashback.innerHTML = '';

                showElement('div_send_to');
                setRequired('txt_send_to');

                div_send_notification.innerHTML = div_send_notification_html;
                sampleData = document.getElementById("data_tobe_send_1").cloneNode(true);

            }   else if (rType === 'fixed_cashback') {
                if (triggerValue === 'register_customer' || triggerValue === 'login') {
                    $("#lbl_paid_amount").prop('hidden', true);
                } else {
                    $("#lbl_paid_amount").prop('hidden', false);
                }
                resetRewardRecipient();
                hideElement('div_send_to');
                setNotRequired('txt_send_to');
                resetValue('txt_send_to');
                div_send_notification.innerHTML = '';

                showElement('div_amount');
                setRequired('txt_amount');
                showElement('div_reward_recipient');

                div_fixed_cashback.innerHTML = div_fixed_cashback_html;

            } else if (rType === 'suspend_account') {
                $("#lbl_paid_amount").prop('hidden', true);
                resetRewardRecipient();
                showElement('div_reward_recipient');
                hideElement('div_amount');
                setNotRequired('txt_amount');
                resetValue('txt_amount');
                hideElement('div_send_to');
                setNotRequired('txt_send_to');
                resetValue('txt_send_to');
                div_send_notification.innerHTML = '';
                div_fixed_cashback.innerHTML = '';
            }
        }

        function listenDataType (ele, dType) {
            var div_from_database = $(ele).parent().parent().next('div');
            var div_user_defined = $(div_from_database).next('div');
            if (dType === 'from_database') {
                hideElement(div_user_defined.attr('id'));
                showElement(div_from_database.attr('id'));
                var nodes = document.getElementById(div_user_defined.attr('id')).getElementsByTagName('input');
                for(var i = 0; i < nodes.length; i++){
                     nodes[i].required = false;
                }
            }   else if (dType === 'user_defined') {
                hideElement(div_from_database.attr('id'));
                showElement(div_user_defined.attr('id'));
                var nodes = document.getElementById(div_user_defined.attr('id')).getElementsByTagName('input');
                for(var i = 0; i < nodes.length; i++){
                     nodes[i].required = true;
                }
            }
        }

        function listenRewardKeyValType(ele, type) {
            var keyValue = $(ele).parent().parent().nextAll('div').find('input');
            keyValue.val('');
            if (type === 'Freetext') {
                keyValue.attr('type', 'text');
            } else if (type === 'Numeric') {
                keyValue.attr('type', 'number');
            } else if (type === 'Timestamp') {
                keyValue.attr('type', 'datetime-local');
            }
        }

        var _data_counter = 1;
        function addDataToSend() {
            _data_counter++;
            var dataClone = sampleData.cloneNode(true);
            dataClone.querySelectorAll('[id="div_from_database"]')[0].id = "div_from_database" + (_data_counter + "");
            dataClone.querySelectorAll('[id="div_user_defined"]')[0].id = "div_user_defined" + (_data_counter + "");
            var inputEle = dataClone.getElementsByTagName("input");
            for (var i = 0; i < inputEle.length; i++) {
                inputEle[i].name += (_data_counter + "");
                inputEle[i].id += (_data_counter + "");
            }
            var ddlEle = dataClone.getElementsByTagName("select");
            for (var i = 0; i < ddlEle.length; i++) {
                ddlEle[i].name += (_data_counter + "");
                ddlEle[i].id += (_data_counter + "");
            }

            dataClone.id = "data_tobe_send_" + _data_counter;
            var div = document.createElement('div');
            div.className = 'form-group';
            div.innerHTML = '<label class="col-sm-3 control-label" id="lbl_and"><b>AND</b></label>';
            dataClone.insertBefore(div, dataClone.firstChild);
            document.getElementById("data_send_group").appendChild(dataClone);
            $("#txt_data_counter").val(_data_counter);
        }

    // Sum of
        var getSumOfKeyValueHtml = function(conditionNumber) {
              var sumOfKeyValueHtml =  '<div class="form-group">\
                                    <label class="col-sm-3 control-label">Sum Key Name</label>\
                                    <div class="col-xs-3">\
                                        <select class="form-control" id="ddl_sum_key_name" name="sum_key_name_' + conditionNumber + '">\
                                            {% for key_name in sum_key_name %}\
                                                <option value= "{{ key_name.value }}">{{ key_name.text }}</option>\
                                            {% endfor %}\
                                        </select>\
                                    </div>\
                                </div>\
                                <div class="form-group">\
                                    <label class="col-sm-3 control-label">Operator</label>\
                                    <div class="col-xs-3">\
                                        <select class="form-control" id="ddl_sum_operator" name="sum_operator_' + conditionNumber +'">\
                                            {% for operator in sum_of_operators %}\
                                                <option value= "{{ operator }}">{{ operator }}</option>\
                                            {% endfor %}\
                                        </select>\
                                    </div>\
                                </div>\
                                <div class="form-group">\
                                    <label class="col-sm-3 control-label">Sum Key Value *</label>\
                                    <div class="col-xs-3">\
                                        <input id="txt_sum_key_value" class="form-control input-rounded" name="sum_key_value_' + conditionNumber + '" type="number" required>\
                                    </div>\
                                </div>\
                                <div class="form-group">\
                                    <label class="col-sm-3 control-label" style="font-weight: bold;">Filter</label>\
                                    <div class="col-xs-3">\
                                    </div>\
                                    <input id="filter_count" name="filter_count_' + conditionNumber +'" type="text" value="1" hidden />\
                                </div>';
            return sumOfKeyValueHtml;
        };

        var getMoreFilterButtonHtml = function(conditionNumber) {
               var addMoreFilterHtml =  '<div class="form-group" id="add_more_filter_area">\
                                <label class="col-sm-3 control-label"></label>\
                                <div class="col-xs-3" style="text-align: right;">\
                                    <button style="background-color: #7b7676; border: none; color: white;" type="button" class="btn" id="btn_add_filter" onclick="addFilter(this, ' + conditionNumber + ')">\
                                      <span class="glyphicon glyphicon-plus"></span> Add Filter\
                                    </button>\
                                </div>\
                                </div>';
               return addMoreFilterHtml;
        };

        var getFilterAreaHtml = function(conditionNumber, filterCount) {
             var filterAreaHtml = '<div class="form-group">\
                                    <label class="col-sm-3 control-label">Detail Name</label>\
                                    <div class="col-xs-3">\
                                        <select class="form-control" id="ddl_filter_detail_name" name="' + filterCount + '_detail_name_' + conditionNumber + '">\
                                            {% for item in detail_names %}\
                                                {% if item.description != "" %}\
                                                <option value= "{{ item.term }}">{{ item.description }}</option>\
                                                {% else %}\
                                                <option value= "{{ item.term }}">{{ item.term }}</option>\
                                                {% endif %}\
                                            {% endfor %}\
                                        </select>\
                                    </div>\
                                    </div>\
                                    <div class="form-group">\
                                        <label class="col-sm-3 control-label">Key Value Type</label>\
                                        <div class="col-xs-3">\
                                            <select class="form-control" id="ddl_filter_key_value_type" name="' + filterCount + '_key_value_type_' + conditionNumber + '" onchange="listenKeyValType(this, this.options[this.selectedIndex].value, {{ operations }}, {{ freetext_ops }})">\
                                                {% for type in key_value_types %}\
                                                    <option value= "{{ type }}">{{ type }}</option>\
                                                {% endfor %}\
                                            </select>\
                                        </div>\
                                    </div>\
                                    <div class="form-group">\
                                        <label class="col-sm-3 control-label">Operator</label>\
                                        <div class="col-xs-3">\
                                            <select class="form-control" id="ddl_filter_operator" name="'+ filterCount + '_operator_' + conditionNumber + '" onchange="listenOperator(this, this.options[this.selectedIndex].value, {{ filter_ops }}, {{ key_value_types }}, {{ filter_key_value_types }})">\
                                                {% for oper in operations %}\
                                                    <option value= "{{ oper }}">{{ oper }}</option>\
                                                {% endfor %}\
                                            </select>\
                                        </div>\
                                    </div>\
                                    <div class="form-group" id="last_form_group">\
                                        <label class="col-sm-3 control-label">Key Value *</label>\
                                        <div class="col-xs-3">\
                                            <input id="txt_filter_key_value" class="form-control input-rounded" name="' + filterCount + '_key_value_' + conditionNumber + '" type="number" required>\
                                        </div>\
                                    </div>';
            return filterAreaHtml;
        };

        var getEventDetailAreaHtml = function(conditionNumber) {
            var eventdetailareaHtml =     '<div class="form-group">\
                                    <label class="col-sm-3 control-label">Detail Name</label>\
                                    <div class="col-xs-3">\
                                        <select class="form-control" id="ddl_detail_name" name="detail_name_' + conditionNumber + '" >\
                                            {% for item in detail_names %}\
                                                {% if item.description != "" %}\
                                                <option value= "{{ item.term }}">{{ item.description }}</option>\
                                                {% else %}\
                                                <option value= "{{ item.term }}">{{ item.term }}</option>\
                                                {% endif %}\
                                            {% endfor %}\
                                        </select>\
                                    </div>\
                                    </div>\
                                    <div class="form-group">\
                                        <label class="col-sm-3 control-label">Key Value Type</label>\
                                        <div class="col-xs-3">\
                                            <select class="form-control" id="ddl_key_value_type" name="key_value_type_' + conditionNumber + '" onchange="listenKeyValType(this, this.options[this.selectedIndex].value, {{ operations }}, {{ freetext_ops }})">\
                                                {% for type in key_value_types %}\
                                                    <option value= "{{ type }}">{{ type }}</option>\
                                                {% endfor %}\
                                            </select>\
                                        </div>\
                                    </div>\
                                    <div class="form-group">\
                                        <label class="col-sm-3 control-label">Operator</label>\
                                        <div class="col-xs-3">\
                                            <select class="form-control" id="ddl_operator" name="operator_' + conditionNumber + '" onchange="listenOperator(this, this.options[this.selectedIndex].value, {{ filter_ops }}, {{ key_value_types }}, {{ filter_key_value_types }})">\
                                                {% for oper in operations %}\
                                                    <option value= "{{ oper }}">{{ oper }}</option>\
                                                {% endfor %}\
                                            </select>\
                                        </div>\
                                    </div>\
                                    <div class="form-group" id="last_form_group">\
                                        <label class="col-sm-3 control-label">Key Value *</label>\
                                        <div class="col-xs-3">\
                                            <input id="txt_key_value" class="form-control input-rounded" name="key_value_' + conditionNumber + '" type="number" required>\
                                        </div>\
                                    </div>';
            return eventdetailareaHtml;
        };

        var selectConditionType = function(selectedValue, elem) {
            var conditionNumber = parseInt($(elem).attr('counter'), 10);
            var conditionElem = document.getElementById('div_condition_' + conditionNumber);
            if(selectedValue == 'sum_of') {
                conditionElem.querySelector('#event_detail_area').innerHTML = '';
                var sumOfArea = conditionElem.querySelector('#sum_of_area');
                var sumKeyDiv = document.createElement('div');
                sumKeyDiv.innerHTML = getSumOfKeyValueHtml(conditionNumber);
                var newSumKeyElem  = sumKeyDiv.cloneNode(true);
                sumOfArea.appendChild(newSumKeyElem);
                var filterAreaDiv = document.createElement('div');
                filterAreaDiv.id = "sum-of-filter-area";
                filterAreaDiv.innerHTML = getFilterAreaHtml(conditionNumber, 1);
                var filterAreaDivElem  = filterAreaDiv.cloneNode(true);
                sumOfArea.appendChild(filterAreaDivElem);
                var filterButtonDiv = document.createElement('div');
                filterButtonDiv.innerHTML = getMoreFilterButtonHtml(conditionNumber, 1);
                var filterButtonDivElem  = filterButtonDiv.cloneNode(true);
                sumOfArea.appendChild(filterButtonDivElem);
            } else if(selectedValue == 'event_detail') {
                conditionElem.querySelector('#sum_of_area').innerHTML = '';
                var eventDetailArea = conditionElem.querySelector('#event_detail_area');
                var eventDetailDiv = document.createElement('div');
                eventDetailDiv.innerHTML = getEventDetailAreaHtml(conditionNumber);
                var eventDetailDivElem  = eventDetailDiv.cloneNode(true);
                eventDetailArea.appendChild(eventDetailDivElem);
            }
        };

        var addFilter = function(elem, conditionNum) {
            var conditionElem = document.getElementById('div_condition_' + conditionNum);
            var filterCountInput = conditionElem.querySelector('#filter_count');
            var filterCount = filterCountInput.getAttribute('value');
            filterCount = parseInt(filterCount, 10);
            filterCount++;
            var filterAreaElem = conditionElem.querySelector('#sum-of-filter-area');
            var newFilterElementHtml = '<div><div class="col-sm-12" style="margin-bottom: 20px;"><label class="col-sm-3 control-label" id="lbl_and"><b>AND</b></label></div>' + getFilterAreaHtml(conditionNum, filterCount) + '</div>';
            var newFilterElemDiv = document.createElement('div');
            newFilterElemDiv.innerHTML = newFilterElementHtml;
            var newFilterElemDivElem = newFilterElemDiv.cloneNode(true);
            filterAreaElem.appendChild(newFilterElemDivElem);
            filterCountInput.setAttribute('value', filterCount);
        };

        function submitForm(){
            var form = $("#submit-form");
            if (form[0].checkValidity()) {
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (response) {
                        if (!response.status) {
                            location.reload();
                        } else if (response.status == 2) {
                            // success
                            url = $('#div_button').find('a').attr('href');
                            window.location.replace(url);
                        } else {
                            console.log(response);
                            showErrorMessage(response.msg);
                            if (response.status == 4) {
                                $('#dtp_start_date').css('border-color', 'red');
                                $('#dtp_start_time').css('border-color', 'red');
                                $('#dtp_end_date').css('border-color', 'red');
                                $('#dtp_end_time').css('border-color', 'red');
                            }
                        }
                    },
                    error: function (msg) {
                        showErrorMessage('System Error');
                    }
                });
            } else {
                $('#hidden_submit').click();
            }
        };

        function showErrorMessage(msg) {
            $("#alert-message").text(msg);
            $("#msg-update-failed").prop("hidden", true);
            $("#alert-campaign").show();
            $("html, body").animate({scrollTop: 0}, "slow");
        }

    </script>
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script src="{% static 'vendor/sweetalert/lib/sweet-alert.min.js' %}"></script>
{% endblock %}