{% extends "base.html" %}
{% load static %}

{% block body_stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/sweetalert/lib/sweet-alert.css' %}">
{% endblock %}

{% block content %}
    <div class="panel mb25">
        <div class="panel-heading border">
            <h3>Add Mechanic</h3>
        </div>
        {% if error_msg is not none %}
            <div class="alert alert-danger" id="msg-update-failed">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong id="alert-msg">{{ error_msg|capfirst }}</strong>
            </div>
        {% endif %}
        <div class="panel-body">
            <div class="row no-margin">
                <div class="col-lg-12">
                    <form id="submit-form" class="form-horizontal" role="form" method="post"
                          action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Trigger</label>
                            <div class="col-xs-2">
                                <select class="form-control" id="ddl_trigger" name="trigger" required>
                                    <option value="register_customer">Customer Registration</option>
                                    <option value="executed_order">Customer Payment</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Start Date:</label>
                            <div class="col-sm-2">
                                <input type="date" class="form-control input-rounded"
                                       name="dtp_start_date"
                                       value="{{ start_date|default_if_none:'' }}"
                                       id="dtp_start_date" required>
                            </div>
                            <div class="col-xs-2">
                                <input type=time min=00:00 max=23:59 step=60 value="00:01"
                                       id="dtp_start_time" name="dtp_start_time" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">End Date:</label>
                            <div class="col-xs-2">
                                <input type="date" class="form-control input-rounded"
                                       name="dtp_end_date"
                                       value="{{ end_date|default_if_none:'' }}"
                                       id="dtp_end_date" required>
                            </div>
                            <div class="col-xs-2">
                                <input type=time min=9:00 max=23:59 step=60 value="00:01"
                                       id="dtp_end_time" name="dtp_end_time" required>
                            </div>
                        </div>

                        <div class="panel-heading">
                            <h5><b>Set Condition</b></h5>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Condition type</label>
                            <div class="col-xs-3">
                                <select class="form-control" id="ddl_condition_type" name="condition_type">
                                    <option value= "event_detail">Event Detail</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Detail Name</label>
                            <div class="col-xs-3">
                                <select class="form-control" id="ddl_detail_name" name="detail_name">
                                    {% for name in detail_names %}
                                        <option value= "{{ name }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Key Value Type</label>
                            <div class="col-xs-3">
                                <select class="form-control" id="ddl_key_value_type" name="key_value_type" onchange="listenKeyValType(this.options[this.selectedIndex].value, {{ operations }}, {{ freetext_ops }})">
                                    {% for type in key_value_types %}
                                        <option value= "{{ type }}">{{ type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Operator</label>
                            <div class="col-xs-3">
                                <select class="form-control" id="ddl_operator" name="operator" onchange="listenOperator(this.options[this.selectedIndex].value, {{ filter_ops }}, {{ key_value_types }}, {{ filter_key_value_types }})">
                                    {% for oper in operations %}
                                        <option value= "{{ oper }}">{{ oper }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Key Value *</label>
                            <div class="col-xs-3">
                                <input id="txt_key_value" class="form-control input-rounded" name="key_value" type="number" required>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <a href="{% url 'campaign:campaign_detail' campaign_id %}">
                                <input id="btn_dismiss" class="btn text-left mb15" type="button"
                                       value="Dismiss"/>
                            </a>
                            <input id="btn_add_mechanic" class="btn btn-success text-left mb15" type="submit"
                                   value="Add Mechanic"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function getCurrentOps (ddl) {
            var ops = [];
            ddl.each(function()
            {
                ops.push($(this).val());
            });
            return ops
        }

        function setDDL(ddl, newOps) {
            ddl.empty();
            for (var ops in newOps) {
                ddl.append( $("<option>")
                    .val(newOps[ops])
                    .html(newOps[ops])
                )
            }
        }

        function listenKeyValType(type, fullOps, filterOps) {
            var keyValue = $("#txt_key_value");
            var operator = $("select#ddl_operator");
            var currenctOperator = getCurrentOps($("#ddl_operator option"));

            if (type === 'Freetext') {
                if (JSON.stringify(currenctOperator) !== JSON.stringify(filterOps)) {
                    setDDL(operator, filterOps);
                }
                keyValue.attr('type', 'text');
            } else {
                if (JSON.stringify(currenctOperator) !== JSON.stringify(fullOps)) {
                    setDDL(operator, fullOps);
                }
                if (type === 'Numeric') {
                    keyValue.attr('type', 'number');
                } else if (type === 'Timestamp') {
                    keyValue.attr('type', 'datetime-local');
                }
            }
        }

        function listenOperator(type, operation, fullOps, filterOps) {
            var keyValueType = $("select#ddl_key_value_type");
            var currenctKVType = getCurrentOps($("#ddl_key_value_type option"));

            if (operation.includes(type)) {
                if (JSON.stringify(currenctKVType) !== JSON.stringify(fullOps)) {
                    setDDL(keyValueType, fullOps);
                }
            } else {
                if (JSON.stringify(currenctKVType) !== JSON.stringify(filterOps)) {
                    setDDL(keyValueType, filterOps);
                }
            }
        }
    </script>
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script src="{% static 'vendor/sweetalert/lib/sweet-alert.min.js' %}"></script>
{% endblock %}