{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block body_stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/sweetalert/lib/sweet-alert.css' %}">
    <style>
        .recipient-campaign {
            position: relative;
            top: 10px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="panel mb25">

    <div class="panel-heading border">
        <label id="lbl_title"><h4>Add Rule Limits</h4></label>
    </div>
    {% include "message.html" %}
    <div class="col-xs-12 mb5">
        <div class="alert alert-danger alert-dismissable" style="display: none;" id="alert-client">
            <button type="button" class="close" onclick="$('.alert').hide()">×</button>
            <strong id="alert-msg"></strong>
        </div>
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form id="submit-form" class="form-horizontal" role="form" method="post"
                      action="{{ request.path }}">
                    {% csrf_token %}
                    <br/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" id="lbl_rule_id">Rule ID</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="campaign.id"
                                   id="txt_rule_id" disabled
                                   value="{{ campaign.id | default_if_none:'' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" id="lbl_rule_name">Rule Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="campaign.name"
                                   id="txt_rule_name" disabled
                                   value="{{ campaign.name | default_if_none:'' }}">
                        </div>
                    </div>
                    <div class="panel-heading">
                        <lable id="lbl_amount_limitation"><h5><b>Amount Limitation</b></h5></lable>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3" style="padding-left: 45px">
                            <input type="number" step="any" id="txt_limit_value" class="form-control input-rounded" name="limit_to_value" required>
                        </div>
                        <span class="col-sm-3 recipient-campaign" id="lbl_url">/recipient/campaign</span>
                        <div class="col-sm-3">
                            <input id="btn_add" class="btn btn-success text-left mb15" style="width: 69px;" type="button" value="Add" onClick="submitForm(this)"/>
                        </div>
                    </div>

                    <div class="panel-heading">
                        <label id="lbl_current_limitations"><h5><b>Current Amount Limitation</b></h5></label>
                    </div>
                    <div class="table-responsive">
                        <table id='tbl_current_limitations' class="table table-bordered table-striped ml30" style="width: 50%">
                            <thead>
                            <tr>
                                <th>Limit To</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% if current_amount_limit %}
                                    {% for i in current_amount_limit %}
                                        <tr>
                                            <td>
                                                {{ i.limit_value | intcomma | floatformat:2 | default_if_none:'' }} /recipient/campaign
                                            </td>
                                            <td>
                                                <div class="col-sm-2">
                                                    <input class="btn btn-outline btn-primary remove-denomination" id="btn_delete" type="button" value="Delete"/>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group pull-right">
                        <a href="{% url 'campaign:campaign_detail' campaign_id %}">
                            <input id="btn_back" class="btn text-left mb15" type="button"
                                   value="Back"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body_js %}
{{ block.super }}
<script>

function submitForm(e) {

    var amount_limit = document.getElementById("txt_limit_value");
    var amount = parseFloat(amount_limit.value) || 0.0;
    if (amount <= 0) {
        $('#alert-client').css('display', 'block');
        $('#alert-client #alert-msg').text('Cannot set zero or negative limitations');
    } else {
        $("#alert-client").hide();
        document.getElementById('submit-form').submit();
    }
}

</script>
{%  endblock %}
