{% extends "core.html" %}

{% block content %}
<h3>Campaign Details</h3>
<div class="panel panel-primary " style="background-color: #ecf0f1;">
    <div class="panel-heading" style="background-color: #ecf0f1; border:none; margin-bottom:0;">
        <div class="pull-left">
        <p class="bold" style="margin-bottom:0;">
            <label size="2"><strong>Campaign ID:</strong></label>
            <span id="lbl_campaign_id" style="text-transform: uppercase">{{data.id}}</span>
        </p>
        <p class="bold">
            <label size="2"><strong>Campaign Name:</strong></label>
            <span id="lbl_campaign_name">{{data.name}}</span>
        </p>
        </div>
    </div>
    <div class="panel-body" style="margin-top: -20px;">
        <p>
            <label>Campaign Description:</label>
            <span id="lbl_campaign_description">{{data.description}}</span>
        </p>
        <p style="margin-bottom:0; ,">
            <label size="2">Start Date: </label>
            <span id="lbl_campaign_start_date">{{data.start_active_timestamp}}</span>
        </p>
        <p><font size="2"></font>
        <label>End Date:</label>
        <span id="lbl_campaign_end_date">{{data.end_active_timestamp}}</span>
        </p>
    </div>
</div>
{#    {% if request.user|has_permission_name:"CAN_CREATE_MECHANIC"%}#}
        <div class="pull-left">
            <a href="{% url 'campaign:add_mechanic' campaign_id %}">
                <input id="btn_add" class="btn btn-success btn-block btn-sm mb15" type="button"
                       value="Add More Mechanic"/>
            </a>
        </div>
{#        {% endif %}#}

<div class="pull-right">
    <a href="{% url 'campaign:campaign' %}">
    <input id="btn_dismiss" class="btn text-left mb15" type="button"
               value="Dismiss"/>
    </a>
</div>
{% endblock %}
