<div class="modal" tabindex="-1" role="dialog" id="approveVoucherRefundModal" style="text-align: center; margin-top: 150px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div style="margin-top: 20px;">
                    <span style="font-weight: bold; font-size: 20px;">Detail</span>
                </div>
                <div style="margin-top: 10px;">
                    <span style="font-size: 15px; font-weight: bold;">Approve reason</span>
                </div>
                <div style="width: 80%; margin-top: 20px; display: inline-block;">
                    <textarea rows="5" style="width: 100%;" id="txt_approve_refund_reason"></textarea>
                </div>
            </div>
            <div style="text-align: center; margin-top: 30px; margin-bottom: 40px">
                <button id="btn_dialog_done" type="button" class="btn btn-default"
                        style="font-size: 15px; font-weight: bold; border-radius: 4px; width: 25%;"
                        data-dismiss="modal">Back</button>
                <button id="btn_approve_voucher_refund_confirm" type="button" class="btn btn-success" style="margin-left: 10px; font-size: 15px; font-weight: bold; border-radius: 4px; width: 25%;">Confirm</button>
            </div>
        </div>
    </div>
</div>