{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="panel-heading border">
    <h3>Configuration Scope Management</h3>
</div>

<div class="panel-body">
    <div class="table-responsive">
        <table id="tbl_configuration_scope_management" class="table table-bordered table-striped mb0">
            <thead>
            <tr>
                <th class="col-sm-1" id="id">ID</th>
                <th class="col-sm-2" id="name">Name</th>
                <th class="col-sm-2" id="action">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for scope in scopes %}
            <tr>
                <td class="col-sm-1">{{ scope.id|default_if_none:'' }}</td>
                <td class="col-sm-2">{{ scope.name|default_if_none:'' }}</td>
                <td class="col-sm-2">
                    <a href="{% url 'centralize_configuration:configuration_list' scope.name %}">
                        <input id="btn_configuration" class="btn btn-outline btn-info btn-xs text-left"
                               type="button"
                               value="Configuration"/>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
