{% extends "base.html" %}

{% block content %}
    <div class="panel mb25">
          <div class="panel-heading">
            Bootstrap option
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped mb0">
                <thead>
                  <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                  </tr>
                </thead>
                <tbody>
                  {% for client in data %}
                      <tr>
                          <td>{{ client.client_id }}</td>
                          <td>{{ client.client_name }}</td>
                          <td>{{ client.created_timestamp }}</td>
                          <td>{{ client.last_updated_timestamp }}</td>
                          <td>{{ client.last_updated_user_id }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
{% endblock %}