{% extends "base.html" %}

{% block content %}
<div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell ClientId">&nbsp;Client Id(required)</div>
                    <div class="divTableCell ClientName">Client Name</div>
                    <div class="divTableCell">Created At&nbsp;</div>
                    <div class="divTableCell">Updated At&nbsp;</div>
                    <div class="divTableCell">Created By</div>
                    <div class="divTableCell">Edit</div>
                    <div class="divTableCell">Detail&nbsp;</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                </div>

            </div>
</div>
{% endblock %}