<div class="col-xs-12 mb5">
        <div class="alert alert-danger alert-dismissable" style="display: none;" id="alert-client-failed">
            <button type="button" class="close" onclick="$('.alert').hide()">×</button>
            <strong id="alert-msg-failed"></strong>
        </div>
    </div>

{% csrf_token %}

<input type="hidden" name="id" value="{{ form.id }}" />
<input type="hidden" name="agent_id" value="{{ form.agent_id }}" />

<h4>Shop Details</h4>

<div class="form-group">
    <label class="col-sm-3 control-label">Acquisition Source</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_acquisition_source" name="acquisition_source" value="{{ form.acquisition_source }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Shop Name *</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_shop_name" name="name" value="{{ form.name }}" required {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Shop Type</label>
    <div class="col-sm-7">
        {% if is_readonly %}
            <input type="text" class="form-control" id="txt_shop_type" name="shop_type_name" value="{{ form.shop_type_name }}" readonly />
        {% else %}
            <select class="form-control" id="ddl_shop_type" name="shop_type_id" >
                <option value="">-</option>
                {% for item in list_shop_type %}
                <option value="{{ item.id }}" {%if form.shop_type_id == item.id|slugify %}selected{%endif%}>{{ item.name }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Shop Category</label>
    <div class="col-sm-7">
        {% if is_readonly %}
            <input type="text" class="form-control" id="txt_shop_category" name="shop_category_name" value="{{ form.shop_category_name }}" readonly />
        {% else %}
            <select class="form-control" id="ddl_shop_category" name="shop_category_id" {% if is_readonly %}readonly{% endif %} >
                <option value="">-</option>
                {% for item in list_shop_category %}
                <option value="{{ item.id }}" {%if form.shop_category_id == item.id|slugify %}selected{%endif%}>{{ item.name }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Country</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_country" name="country" value="{{ form.country }}" readonly />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Postal Code</label>
    <div class="col-sm-7">
        <input type="number" class="form-control" id="txt_postal_code" name="postal_code" value="{{ form.postal_code }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Province</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_province" name="province" value="{{ form.province }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">City</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_city" name="city" value="{{ form.city }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">District</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_district" name="district" value="{{ form.district }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Commune</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_commune" name="commune" value="{{ form.commune }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Address</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_address" name="address" value="{{ form.address }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Landmark</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_landmark" name="landmark" value="{{ form.landmark }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Latitude</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_latitude" name="latitude" value="{{ form.latitude }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Longitude</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_longitude" name="longitude" value="{{ form.longitude }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<h4 style="margin: 30px 0px;">Representative Contact Details</h4>

{% if not is_readonly %}
<div class="form-group">
    <label class="col-sm-3 control-label">&nbsp;</label>
    <div class="col-sm-7 text-right">
        Pull information from Agent (ID) &nbsp;
        <input type="text" id="txt_details_agent_id" class="form-control" style="display: inline-block; width: 100px;" />
        &nbsp;
        <input class="btn btn-primary" id="btn_details_enter" onclick="pull_representative_contact_details()" style="vertical-align: baseline" type="button" value="Enter"/>
    </div>
</div>
{% endif %}

<div class="form-group">
    <label class="col-sm-3 control-label">First Name</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_first_name" name="representative_first_name" value="{{ form.representative_first_name|default:'' }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Middle Name</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_middle_name" name="representative_middle_name" value="{{ form.representative_middle_name|default:'' }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Last Name</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_last_name" name="representative_last_name" value="{{ form.representative_last_name|default:'' }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Mobile Number</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_details_mobile_number" name="representative_mobile_number" value="{{ form.representative_mobile_number|default:'' }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Telephone Number</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_details_telephone_number" name="representative_telephone_number" value="{{ form.representative_telephone_number|default:'' }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Email Address</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_details_email_address" name="representative_email" value="{{ form.representative_email|default:'' }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<h4 style="margin: 30px 0px;">Shop Contact Details</h4>

{% if not is_readonly %}
<div class="form-group">
    <label class="col-sm-3 control-label">&nbsp;</label>
    <div class="col-sm-7 text-right">
        Pull information from Agent (ID) &nbsp;
        <input type="text" id="txt_shop_details_agent_id" class="form-control" style="display: inline-block; width: 100px;" />
        &nbsp;
        <input class="btn btn-primary" id="btn_shop_details_enter" onclick="pull_shop_contact_details()" style="vertical-align: baseline" type="button" value="Enter"/>
    </div>
</div>
{% endif %}

<div class="form-group">
    <label class="col-sm-3 control-label">Mobile Number</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_shop_details_mobile_number" name="shop_mobile_number" value="{{ form.shop_mobile_number|default:'' }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Telephone Number</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_shop_details_telephone_number" name="shop_telephone_number" value="{{ form.shop_telephone_number|default:'' }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Email Address</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_shop_details_email_address" name="shop_email" value="{{ form.shop_email|default:'' }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<h4 style="margin: 30px 0px;">Additional</h4>

<div class="form-group">
    <label class="col-sm-3 control-label">Relationship Manager ID</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_relationship_manager_id" name="relationship_manager_id" value="{{ form.relationship_manager_id }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Relationship Manager Name</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_relationship_manager_name" name="relationship_manager_name" value="{{ form.relationship_manager_name }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Relationship Manager Email</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_relationship_manager_email" name="relationship_manager_email" value="{{ form.relationship_manager_email }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Acquiring Sales Executive Name</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_acquiring_sales_executive_name" name="acquiring_sales_executive_name" value="{{ form.acquiring_sales_executive_name }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Sales Region</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_sales_region" name="sales_region" value="{{ form.sales_region }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Account Manager Name</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_account_manager_name" name="account_manager_name" value="{{ form.account_manager_name }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Reference 1</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_reference_1" name="ref1" value="{{ form.ref1 }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Reference 2</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="txt_reference_2" name="ref2" value="{{ form.ref2 }}" {% if is_readonly %}readonly{% endif %} />
    </div>
</div>

<script>
    function pull_representative_contact_details() {
        var agent_id = $("#txt_details_agent_id").val();
        if (agent_id == "") {
            return;
        }
        var url = '/admin-portal/shops/ajax/agent-detail/' + agent_id;
        $.ajax({
            url: url,
            type: "GET",
            success: function (response) {
                if(response.wrong_agent){
                    $("#alert-msg-failed").text("Agent ID does not exist");
                    $("#alert-client-failed").show();
                    $("html, body").animate({scrollTop: 0}, "slow");
                }
                else if(response.invalid_access_token){
                    var url = window.location.origin + "/admin-portal/authentications/login/?next=/admin-portal/shops/create/";
                    window.location.replace(url);
                    location.reload();
                }
                else{
                $("#txt_first_name").val(response.firstname);
                $("#txt_last_name").val(response.lastname);
                $("#txt_details_mobile_number").val(response.primary_mobile_number);
                $("#txt_details_email_address").val(response.email);
                }
            }
        });
    }

    function pull_shop_contact_details() {
        var agent_id = $("#txt_shop_details_agent_id").val();
        if (agent_id == "") {
            return;
        }
        var url = '/admin-portal/shops/ajax/agent-detail/' + agent_id;
        $.ajax({
            url: url,
            type: "GET",
            success: function (response) {
                if(response.wrong_agent){
                    $("#alert-msg-failed").text("Agent ID does not exist");
                    $("#alert-client-failed").show();
                    $("html, body").animate({scrollTop: 0}, "slow");
                }
                else if(response.invalid_access_token){
                    var url = window.location.origin + "/admin-portal/authentications/login/?next=/admin-portal/shops/create/";
                    window.location.replace(url);
                    location.reload();
                }
                else{
                $("#txt_shop_details_mobile_number").val(response.primary_mobile_number);
                $("#txt_shop_details_email_address").val(response.email);
                }
            }
        });
    }
</script>