{% extends "core.html" %}

{% block content %}
<h3>Campaign Details</h3>
<div class="panel panel-primary " style="background-color: #ecf0f1;">
    <div class="panel-heading" style="background-color: #ecf0f1; border:none; margin-bottom:0;">
        <div class="pull-left">
        <p class="bold" style="margin-bottom:0;">
            <label size="2"><strong>Campaign ID:</strong></label>
            <span style="text-transform: uppercase">{{data.id}}</span>
        </p>
        <p class="bold">
            <label size="2"><strong>Campaign Name:</strong></label>
            <span style="text-transform: uppercase">{{data.name}}</span>
        </p>
        </div>
        <div class="panel-controls">
            <a href="#" class="panel-collapse" panel-control-collapse>
                <i class="glyphicon glyphicon-edit" style="color: #616a6b;"></i>
            </a>
        </div>
    </div>
    <div class="panel-body" style="margin-top: -20px;">
        <p>Campaign Description: {{data.description}}</p>
        <p style="margin-bottom:0; ,">
            <label size="2">Start Date: </label>
            <span>{{data.created_timestamp}}</span>
        </p>
        <p><font size="2">End Date: {{data.last_updated_timestamp}}</font></p>
    </div>
</div>
{% endblock %}
