{% extends "core.html" %}

{% block content %}
<h3>Campaign Detail</h3>
<div class="panel panel-primary " style="background-color: #ecf0f1;">
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                    <p><font size="3"><strong>Campaign Id</strong></font>: {{data.id}}</p>
                    <p><font size="3"><strong>Campaign Name </strong></font>: {{data.name}}</p>
                    <p><font size="3"><strong>Campaign Description </strong></font>: {{data.description}}</p>
                    <p><font size="3"><strong>Start Date </strong></font>: {{data.created_timestamp}}</p>
                    <p><font size="3"><strong>End Date </strong></font>: {{data.last_updated_timestamp}}</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
