{% extends "base.html" %}
{% load static %}
{% load permissions_filter %}
{% block content %}
    <div class="panel mb25">
        <div class="panel-heading border mb15">
            <div>
                <div class="pull-left"><h3>Services</h3></div>
                {% if request|has_any_permission:"CAN_CREATE_GW_SERVICE" %}
                <div class="pull-right" style="margin-top: 15px;margin-right: 15px;">
                    <a id="btn_add_new_service" class="btn btn-success btn-block btn-md mb15" href="{% url 'channel_gateway_service:create' %}?back_url={% current_url_encoded_for_back %}">
                        <strong>+</strong> <span>Add New Service</span>
                    </a>
                </div>
                {% endif %}
                <div class="clearfix"></div>
            </div>
        </div>
        {% include "message.html" %}
        <div class="panel-body">
            <form id="submit-form" class="form-horizontal" role="form" method="get"
                  action="{% url 'channel_gateway_service:list' %}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Service ID</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control input-rounded" name="service_id" id="txt_service_id"
                               value="{{ service_id }}">
                    </div>
                    <label class="col-sm-2 control-label">Service Name</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-rounded" name="service_name" id="txt_service_name"
                               value="{{ service_name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Is Deleted</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="ddl_is_deleted" name="is_deleted">
                            {% for item in is_deleted_status_list %}
                                {% if item.value == selected_deleted_status %}
                                    <option value="{{ item.value }}" selected>{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.value }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                 <div class="form-group">
                    <input id="current_page_index" name="current_page_index" style="display:none" value="1">
                    <div class="col-xs-1 pull-right">
                            <input id="btn_search" class="btn btn-success btn-block" type="submit" name="search"
                                   value="Search">
                    </div>
                </div>
                <label class="pull-right" id="lbl_total">{{ total_result }}</label>
                <label class="pull-right" >Total records found:&nbsp;</label>
            </form>
           <div class="table-responsive">
                <table id='tbl_services' class="table table-bordered table-striped mb0">
                        <thead>
                        <tr>
                            <th id="">Service ID</th>
                            <th id="">Service Name</th>
                            <th id="">Service Location</th>
                            <th id="">Is Deleted</th>
                            <th id="">Update Date</th>
                            <th id="">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in channel_service_list %}
                            {% if not i.is_deleted %}
                                <tr>
                                    <td>{{ i.id|default_if_none:'' }}</td>
                                    <td>{{ i.name|default_if_none:'' }}</td>
                                    <td>{{ i.location|default_if_none:'' }}</td>
                                    <td>{{ i.is_deleted|yesno:"Yes,No" }}</td>
                                    <td>{{ i.last_updated_timestamp|default_if_none:'' }}</td>
                                    <td>
                                        {% if request.user|has_permission_name:"CAN_VIEW_GW_SERVICE" %}
                                            <a id="btn_detail" class="btn btn-outline mb5 btn-xs btn-info" href="{% url 'channel_gateway_service:detail' i.id%}?back_url={% current_url_encoded_for_back %}" >Detail</a>
                                        {% endif %}
                                        <a id="btn_edit" class="btn btn-outline mb5 btn-xs btn-primary" href="{% url 'channel_gateway_service:edit' i.id%}?back_url={% current_url_encoded_for_back %}">Edit</a>
                                        <a id="btn_delete" class="btn btn-outline mb5 btn-xs btn-danger" href="{% url 'channel_gateway_service:delete' i.id%}?back_url={% current_url_encoded_for_back %}">Delete</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td><del>{{ i.id|default_if_none:'' }}</del></td>
                                    <td><del>{{ i.name|default_if_none:'' }}</del></td>
                                    <td><del>{{ i.location|default_if_none:'' }}</del></td>
                                    <td><del>{{ i.is_deleted|yesno:"Yes,No" }}</del></td>
                                    <td><del>{{ i.last_updated_timestamp|default_if_none:'' }}</del></td>
                                    <td>
                                        <a id="btn_detail" class="btn btn-outline mb5 btn-xs btn-info" href="{% url 'channel_gateway_service:detail' i.id%}?back_url={% current_url_encoded_for_back %}" >Detail</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
        </div>
        {% include "pagination.html" %}
        </div>
    </div>
{% endblock %}
