{% extends "base.html" %}
{% load static %}

{% block body_stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/jquery.tagsinput/dist/jquery.tagsinput.min.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="/admin-portal/static/vendor/jquery.ui/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/admin-portal/static/css/accordion-custom.css">
    {% endblock %}
{% block content %}
    <div class="panel mb25">
        <div class="panel-heading border">
            <h3>Create Fraud Ticket(s)</h3>
        </div>
        <div class="col-xs-12">
            <div class='alert alert-danger alert-dismissable' id="msg-error" hidden>
                <button type="button" class="close" onclick="$('#msg-error').hide()">×</button>
                <strong id="alert-msg"></strong>
            </div>
        </div>

        <div id="accordion" class="col-xs-12" {{ summary_result|yesno:"'',hidden" }} >
            <h3>{{ summary_result }}</h3>
            <div id="msg_cre_fraud">
                {% if result_messages.success %}
                    {% for  message in result_messages.success %}
                        <strong>{{ message|capfirst }}</strong><br/>
                    {% endfor %}
                    <br/>
                {% endif %}
                {% if result_messages.already_frozen %}
                    {% for  message in result_messages.already_frozen %}
                        <strong>{{ message|capfirst }}</strong><br/>
                    {% endfor %}
                    <br/>
                {% endif %}
                {% if result_messages.not_exist %}
                    {% for  message in result_messages.not_exist %}
                        <strong>{{ message|capfirst }}</strong><br/>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12" {{ is_error|yesno:"'',hidden" }}>
            <div class='alert alert-danger alert-dismissable' id="msg_cre_fraud_success">
                <a class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ result_messages|capfirst }}</strong><br/>
            </div>
        </div>
        <div class="panel-body">
            <div class="row no-margin">
                <div class="col-lg-12">
                    <form id="submit-form" class="form-horizontal" role="form" method="post"
                          action="{{ request.path }}" onsubmit="return validateDate()" >
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Data Type *</label>
                            <div class="col-xs-3">
                                <select class="form-control" id="ddl_data_type" name="data_type" required onchange="listenDataType(this.options[this.selectedIndex].value)">
                                    <option value="virtual_card">Virtual Card</option>
                                    <option value="device_id">Device ID</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" id="lbl_key_value">Virtual Card ID(s) *</label>
                            <div class="col-xs-3">
{#                                <input id="txt_key_value" class="form-control input-rounded" name="key_value" type="text" required>#}
                                <input id="txt_key_value" name="key_value" type="text" class="input-rounded tags input_multiple_id form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Action</label>
                            <div class="col-xs-3">
                                <select class="form-control" id="ddl_action" name="action" required>
                                    <option>Freeze Virtual Card</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Reason *</label>
                            <div class="col-xs-3">
                                <select class="form-control" id="ddl_reason" name="reason" required onchange="listenReason(this.options[this.selectedIndex].value)">
                                    <option value="Not Sufficient Fund">Not Sufficient Fund</option>
                                    <option value="Multiple Void">Multiple Void</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="div_notes" hidden>
                            <label class="col-sm-3 control-label" >Notes *</label>
                            <div class="col-xs-3">
                                <input id="txt_notes" class="form-control input-rounded" name="notes" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Start Date</label>
                            <div class="col-xs-3">
                                <input id="dtp_start_date" class="form-control input-rounded" name="start_date" type="date"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">End Date</label>
                            <div class="col-xs-3">
                                <input id="dtp_end_date" class="form-control input-rounded" name="end_date" type="date">
                            </div>
                        </div>

                        <div class="form-group pull-right">
                            <a href="{% url 'web:web-index' %}">
                                <input id="btn_cancel" class="btn btn-default text-left mb15" type="button"
                                       value="Cancel"/>
                            </a>
                            <input id="btn_create_fraud_ticket" class="btn btn-success text-left mb15" type="submit"
                                   onclick="validateId()"
                                   value="Create Fraud Ticket(s)"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/admin-portal/static/vendor/jquery/dist/jquery.js"></script>
    <script src="/admin-portal/static/vendor/jquery.ui/ui/jquery-ui.js"></script>
    <script src="/admin-portal/static/vendor/jquery.tagsinput/dist/jquery.tagsinput.min.js"></script>

    <script>
        function listenReason(reason) {
            if (reason === 'Others') {
                $('#div_notes').show();
                $('#txt_notes').prop('required',true);
            } else {
                $('#div_notes').hide();
                $('#txt_notes').prop('required',false);
            }
        }
        function listenDataType(type) {
            $('#div_notes').hide();
            $('#txt_notes').prop('required',false);

            var lbl_kv = $("#lbl_key_value");
            var ddl_action = $("#ddl_action");
            var ddl_reson = $("#ddl_reason");

            if (type === 'virtual_card') {
                lbl_kv.text('Virtual Card ID *');
                ddl_action.empty();
                ddl_action.append($("<option>")
                    .html("Freeze Virtual Card")
                );
                ddl_reson.empty();
                ddl_reson.append($("<option>")
                    .html("Not Sufficient Fund")
                    .val("Not Sufficient Fund")
                );
                ddl_reson.append($("<option>")
                    .html("Multiple Void")
                    .val("Multiple Void")
                );
                ddl_reson.append($("<option>")
                    .html("Others")
                    .val("Others")
                )
            }   else if (type === 'device_id') {
                lbl_kv.text('Device ID(s) *');
                ddl_action.empty();
                ddl_action.append($("<option>")
                    .html("Block Registration")
                );
                ddl_reson.empty();
                ddl_reson.append($("<option>")
                    .html("Multiple Registration")
                    .val("Multiple Registration")
                );
                ddl_reson.append($("<option>")
                    .html("Others")
                    .val("Others")
                )
            }
        }

        function showErrorMessage(msg) {
            $("#alert-msg").text(msg);
            $("#msg-error").fadeIn();
        }

        function validateId(){
            if ($("input[name='key_value']").val() =='' ) {
                $("#txt_key_value_tag").attr("required","required")
            }else{
                $("#txt_key_value_tag").removeAttr("required")
            }
        }

        function validateDate() {
            $("#msg-error").fadeOut();
            $("#accordion").fadeOut();
            var from = document.getElementById("dtp_start_date");
            var to = document.getElementById("dtp_end_date");
            if (!to.value) {
                return true;
            } else {
                var toDate = new Date(to.value);
            }

            if (!from.value) {
                var fromDate = new Date();
            } else {
                var fromDate = new Date(from.value);
            }

            if (fromDate >= toDate) {
                $("#msg_cre_fraud_success").fadeOut();
                $("#msg_cre_fraud_error").fadeOut();
                $("#msg-error").fadeOut();
                $("#accordion").fadeOut();
                if (!from.value) {
                    from.valueAsDate = new Date();
                }
                showErrorMessage('Start date should be less than end date');
                return false;
            }
        }
        $('.input_multiple_id').tagsInput({
            'defaultText':'',
            'removeWithBackspace' : true
        });

        var icons = {
              header: "ui-icon-circle-arrow-e",
              activeHeader: "ui-icon-circle-arrow-s"
        };
        $( "#accordion" ).accordion({
            icons: icons,
            collapsible: true,
            active: false
        });

        $(document).ready(function(){
            $("#txt_key_value_tag").attr("required","required")
        });

    </script>
{% endblock %}

{% block body_js %}
    {{ block.super }}
{% endblock %}