{% extends "base.html" %}

{% block content %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Add Service Tier</h3>
    </div>

    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form class="form-horizontal" role="form" method="post"
                      action="">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Service Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="service_name" id="txt_service_name"
                                   value="{{ service_name }}" required readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Command</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="command" id="txt_command"
                                   value="{{ command_name }}" required readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Condition</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="ddl_condition" name="condition" required>
                                {% for item in conditions %}
                                <option value="{{ item.fee_tier_condition_id }}">{{ item.fee_tier_condition }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Amount</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="condition_amount" id="txt_amount" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fee Type</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="ddl_fee_type" name="fee_type" required>
                                {% for item in fee_types %}
                                <option value="{{ item }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fee Amount</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="fee_amount" id="txt_fee_amount" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Bonus Type</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="ddl_bonus_type" name="bonus_type" required>
                                {% for item in bonus_types %}
                                <option value="{{ item }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group" id="from">
                        <label class="col-sm-2 control-label" id="txt_from">From</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="ddl_from" name="amount_type" required>
                                {% for type in amount_types %}
                                <option value="{{ type.amount_type_id }}">{{ type.amount_type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Bonus Amount</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="bonus_amount" id="txt_bonus_amount" required/>
                        </div>
                    </div>

                    <div class="pull-right">
                        <a href="{% url 'services:fee_tier_list' service_id command_id service_command_id %}">
                            <input id="btn_back" class="btn btn-success text-left mb15" type="button"
                                   value="Back"/>
                        </a>
                        <input id="btn_add" class="btn btn-success text-left mb15" type="submit"
                                   value="Add"/>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script>
function changeValue() {
    var $bonus_type = $('#ddl_bonus');

    function toggleFromDropdownList() {
        if($bonus_type.val() === 'Flat value') {
            $("#from").fadeOut(500);
        } else {
            $("#from").fadeIn(1000);
        }
    }

    $bonus_type.on('change', function() {
        toggleFromDropdownList();
    });

    toggleFromDropdownList();
}

$(changeValue);

</script>

{% endblock %}
