{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel mb25">
    <div class="panel-heading border mb15">
        <h3>Additional Details</h3>
    </div>
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="col-xs-12">
            <div class='alert alert-danger alert-dismissable' id="msg-error-client">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ message|capfirst }}</strong>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form id="submit-form" class="form-horizontal" role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Initiator Type</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_initiator_type" name="initiator_type"
                                   value="{{ order.initiator_user_type.name | default_if_none:'' }}"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">SoF Type</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_sof_type" name="sof_type"
                                   value="{% if order.initiator_sof_type_id == '1' %}Bank{% else %}Cash{% endif %}"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Agent ID</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_agent_id" name="agent_id"
                                   value="{{ order.initiator_user_id | default_if_none:'' }}"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ref Order ID</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_ref_order_id" name="ref_order_id"
                                   value="{{ order.reference_order_id | default_if_none:'' }}"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Reason for Adjustment</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_reason_for_adjustment" name="reason_for_adjustment"
                                   value="{{ order.reason_for_adjustment | default_if_none:'' }}"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Reason for Approval or Reject</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_reason_for_approval_or_reject" name="reason_for_approval_or_reject"
                                   value="{{ order.reason_for_approve_or_reject | default_if_none:'' }}"
                                    {% if order.status != 3 %} readonly {% endif %}
                            >
                        </div>
                    </div>

                    <input id="reference_id" type="hidden" name="reference_id" value="{{ order.reference_id | default_if_none:'' }}">
                    <div class="pull-right">
                    {% if order.status == 3 and permissions.SYS_BAL_ADJUST_APPROVE and allow_actions %}
                        <a href="{% url 'balance_adjustment:balance_adjustment_approve' order.order_id %}">
                            <input id="btn_approve" class="btn btn-success" type="submit" name="submit" value="Approve"/>
                        </a>
                        <a href="{% url 'balance_adjustment:balance_adjustment_approve' order.order_id %}">
                            <input id="btn_reject" class="btn btn-danger" type="submit" name="submit" value="Reject">
                        </a>
                    {% endif %}
                        <a href="{% url 'balance_adjustment:balance_adjustment_list' %}">
                            <input id="btn_back" class="btn" type="button" value="Back"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
