{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel mb25" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading border">
        <h3>Balance Adjustment History</h3>
    </div>
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissable" id="msg-success">
                    <a class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ message }}</strong>
                </div>
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissable" id="msg-success">
                    <a class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ message }}</strong>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="panel-body">
        <form id="submit-form" class="form-horizontal" role="form" method="post" action="{% url 'balance_adjustment:balance_adjustment_list' %}">
            {% csrf_token %}
            <div class="form-group">
                    <label class="col-sm-3 control-label">Request Date: From</label>
                    <div class="col-sm-2">
                        <input type="date" class="form-control input-rounded"
                               name="from_created_timestamp"
                               value="{{ date_from|default_if_none:'' }}"
                               id="dtp_from">
                    </div>
                    <label class="col-sm-3 control-label">Request Date: To</label>
                    <div class="col-xs-2">
                        <input type="date" class="form-control input-rounded"
                               name="to_created_timestamp"
                               value="{{ date_to|default_if_none:'' }}"
                               id="dtp_to">
                    </div>
                </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Requested By</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-rounded"
                           name="requested_by_id"
                           value="{{ requested_by_id|default_if_none:'' }}"
                           id="txt_requested_by">
                </div>
                <label class="col-sm-3 control-label">Approved/Rejected By</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-rounded"
                           name="approved_by_id"
                           value="{{ approved_by_id|default_if_none:'' }}"
                           id="txt_approved_rejected_by">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Service Name</label>
                <div class="col-sm-2">
                    <select class="form-control" id="ddl_service_name" name="service_name" >
                        <option value="" selected="selected">All</option>
                        {% for service in data %}
                            {%if service.service_id == service_id %}
                            <option value="{{service.service_id }}" selected>{{service.service_name }}</option>
                            {% else %}
                            <option value="{{service.service_id }}">{{service.service_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <label class="col-sm-3 control-label">Status</label>
                <div class="col-sm-2">
                    <select class="form-control" id="ddl_status" name="status_id" >
                        <option value="" selected="selected">All</option>
                        {% for item in status_list %}
                           {% if item.id == status_id %}
                            <option value="{{item.id}}" selected>{{item.name}}</option>
                            {% else %}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Order ID</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-rounded" name="order_id" id="txt_order_id" value="{{ order_id }}">
                </div>
                <label class="col-sm-3 control-label">Ref Order ID</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-rounded" name="ref_order_id" id="txt_ref_order_id" value="{{ ref_order_id }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Payer ID</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control input-rounded" name="payer_user_id" id="txt_payer_id" value="{{ payer_user_id }}">
                </div>
                <label class="col-sm-3 control-label">Payee ID</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control input-rounded" name="payee_user_id" id="txt_payee_id" value="{{ payee_user_id }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Payer Type</label>
                <div class="col-xs-2">
                    <select class="form-control" id="ddl_payer_type" name="payer_user_type_id">
                        <option value=0 {% if payer_user_type_id == '0' %}selected="selected"{% endif %}>All</option>
                        <option value=1 {% if payer_user_type_id == '1' %}selected="selected"{% endif %}>Customer</option>
                        <option value=2 {% if payer_user_type_id == '2' %}selected="selected"{% endif %}>Agent</option>
                    </select>
                </div>
                <label class="col-sm-3 control-label">Payee Type</label>
                <div class="col-xs-2">
                    <select class="form-control" id="ddl_payee_type" name="payee_user_type_id">
                        <option value=0 {% if payee_user_type_id == '0' %}selected="selected"{% endif %}>All</option>
                        <option value=1 {% if payee_user_type_id == '1' %}selected="selected"{% endif %}>Customer</option>
                        <option value=2 {% if payee_user_type_id == '2' %}selected="selected"{% endif %}>Agent</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Payer Source of Fund Type</label>
                <div class="col-xs-2">
                    <select class="form-control" id="ddl_payer_source_of_fund_type" name="payer_sof_type_id">
                        <option value=0 {% if payer_sof_type_id == '0' %}selected="selected"{% endif %}>All</option>
                        <option value=1 {% if payer_sof_type_id == '1' %}selected="selected"{% endif %}>Bank</option>
                        <option value=2 {% if payer_sof_type_id == '2' %}selected="selected"{% endif %}>Cash</option>
                        <option value=3 {% if payer_sof_type_id == '3' %}selected="selected"{% endif %}>Card</option>
                    </select>
                </div>
                <label class="col-sm-3 control-label">Payee Source of Fund Type</label>
                <div class="col-xs-2">
                    <select class="form-control" id="ddl_payee_source_of_fund_type" name="payee_sof_type_id">
                        <option value=0 {% if payee_sof_type_id == '0' %}selected="selected"{% endif %}>All</option>
                        <option value=1 {% if payee_sof_type_id == '1' %}selected="selected"{% endif %}>Bank</option>
                        <option value=2 {% if payee_sof_type_id == '2' %}selected="selected"{% endif %}>Cash</option>
                        <option value=3 {% if payee_sof_type_id == '3' %}selected="selected"{% endif %}>Card</option>
                    </select>
                </div>
                <input id="current_page_index" name="current_page_index" style="display:none" value="1">
                <div class="col-xs-1">
                        <input id="btn_search" class="btn btn-success btn-block" type="submit" name="search"
                               value="Search">
                </div>
            </div>
            
            <label class="pull-right" id="lbl_total">{{ search_count }}</label>
            <label class="pull-right" >Total Orders found:&nbsp;</label>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0" id="tbl_balance_adjustment">
                <thead>
                <tr>
                    <th id="id">Order ID</th>
                    <th id="amount">Transaction Amount</th>
                    <th id="service_id">Service ID</th>
                    <th id="payer_id">Payer ID</th>
                    <th id="payer_type">Payer Type</th>
                    <th id="payer_sof_type">Payer SoF Type</th>
                    <th id="payee_id">Payee ID</th>
                    <th id="payee_type">Payee Type</th>
                    <th id="payee_sof_type">Payee SoF Type</th>
                    <th id="status">Status</th>
                    <th id="request_date">Request Date</th>
                    <th id="requester">Requester</th>
                    <th id="approved_rejected_by">Approved/Rejected by</th>
                    <th id="adjustment_detail">Adjustment Details</th>
                </tr>
                </thead>
                <tbody id="table_body">
                    {% for order in order_list %}
                        <tr>
                            <td class="col-sm-2">{{ order.order_id|default_if_none:'' }}</td>
                            <td class="col-sm-2">{{ order.amount|default_if_none:'' }}</td>
                            <td class="col-sm-2">{{ order.product_service_id|default_if_none:'' }}</td>
                            <td class="col-sm-2">{{ order.payer_user.user_id|default_if_none:'' }}</td>
                            <td class="col-sm-2">{{ order.payer_user.user_type.name|default_if_none:'' }}</td>
                            <td class="col-sm-2">{% if order.payer_user.sof.type_id == 1 %}Bank{% elif order.payer_user.sof.type_id == 2 %}Cash{% elif order.payer_user.sof.type_id == 3 %}Card{% endif %}</td>
                            <td class="col-sm-2">{{ order.payee_user.user_id|default_if_none:'' }}</td>
                            <td class="col-sm-2">{{ order.payee_user.user_type.name|default_if_none:'' }}</td>
                            <td class="col-sm-2">{% if order.payee_user.sof.type_id == 1 %}Bank{% elif order.payee_user.sof.type_id == 2 %}Cash{% elif order.payee_user.sof.type_id == 3 %}Card{% endif %}</td>
                            <td class="col-sm-2">{{ order.status.name|default_if_none:'' }}</td>
                            <td class="col-sm-2">{{ order.created_timestamp|default_if_none:'' }}</td>
                            <td class="col-sm-2">{{ order.created_user.user_id|default_if_none:'' }}</td>
                            <td class="col-sm-2">{{ order.approved_user.user_id|default_if_none:'' }}</td>
                            <td class="col-sm-3">
                                <a type="button"
                                   class="btn btn-outline btn-xs btn-info"
                                   role="button"
                                   id="btn_detail"
                                   href="{% url 'balance_adjustment:balance_adjustment_detail' order.reference_id %}">
                                    <span class="small">Detail</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "pagination.html" %}
    </div>
    <div class="loader" style="display:none" id="loader-indicator"></div>
    <div class="col-xs-12" id="search-result-notification" style="display:none">
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            Something wrong happened.
        </div>
    </div>
</div>
{% endblock %}
