{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
        .main-label-custom {
            text-align: left;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 16px;
            margin-left: 75px;
        }

    </style>
    <div class="panel mb25">
        <div class="panel-heading border mb15">
            <h3>Create New Trust Authorization</h3>
        </div>

        {% include "message.html" %}

        <div class="col-xs-12 mb5">
            <div class="alert alert-success alert-dismissable" style="display: none;" id="alert-client">
                <button type="button" class="close" onclick="$('.alert').hide()">×</button>
                <strong id="alert-msg"></strong>
            </div>
        </div>

        <div class="panel-body">
            <div class="row no-margin">
                <div class="col-lg-12">
                    <form class="form-horizontal" role="form" method="post" action="" id="form-data">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="col-sm-2 control-label main-label-custom">Truster</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="ddl_truster_user_type_id" name="truster_user_type_id">
                                    <option value="">-</option>
                                    <option value='2' {% if truster_user_type_id == '2' %} selected="selected"{% endif %}>Agent</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ID</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-rounded" name="truster_user_id"
                                       id="txt_truster_user_id"
                                       value="{{ truster_user_id|default_if_none:'' }}" data-name="txt_truster_name"
                                       data-type='ddl_truster_user_type_id' onblur="listenId(this)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="txt_truster_name" name="truster_name"
                                       value="{{ truster_name|default_if_none:'' }}" readonly/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label main-label-custom">Trusted</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="ddl_trusted_user_type_id" name="trusted_user_type_id">
                                    <option value="">-</option>
                                    <option value='2' {% if trusted_user_type_id == '2' %} selected="selected"{% endif %}>Agent</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ID</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-rounded" name="trusted_user_id"
                                       id="txt_trusted_user_id"
                                       value="{{ trusted_user_id|default_if_none:'' }}" data-name="txt_trusted_name"
                                       data-type='ddl_trusted_user_type_id' onblur="listenId(this)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="txt_trusted_name" name="trusted_name"
                                       value="{{ trusted_name|default_if_none:'' }}" readonly/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label main-label-custom">Expiry</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Unit</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="ddl_expired_unit" name="expired_unit">
                                    <option value='YEAR' {% if expired_unit == 'YEAR' %} selected="selected"{% endif %}>Years</option>
                                    <option value='MONTH' {% if expired_unit == 'MONTH' %}selected="selected"{% endif %}>Months</option>
                                    <option value='DAY' {% if expired_unit == 'DAY' %}selected="selected"{% endif %}>Days</option>
                                    <option value='HOUR' {% if expired_unit == 'HOUR' %}selected="selected"{% endif %}>Hours</option>
                                    <option value='MINUTE' {% if expired_unit == 'MINUTE' %}selected="selected"{% endif %}>Minutes</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Duration</label>
                            <div class="col-sm-6">
                                <input type="number" min="1" class="form-control input-rounded" name="expired_duration"
                                       id="txt_expired_duration"
                                       value="{{ expired_duration|default_if_none:"" }}" required>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="pull-right">
                                <a href="{% url 'trust_management:list_trust' %}">
                                    <input id="btn_back" class="btn text-left mb15" type="button"
                                           value="Back"/>
                                </a>

                                <input id="btn_save" class="btn btn-success text-left mb15" type="submit"
                                       value="Save"/>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_js %}
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
    <script src="{% static 'scripts/ui/toggle.min.js' %}"></script>
    <script src="{% static 'vendor/sweetalert/sweetalert.2.0.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script>

        var csrf_token = "{{ csrf_token }}";

        function listenId(e) {
            var id = e.value;
            var eName = e.getAttribute('data-name');
            var eType = e.getAttribute('data-type');

            var name = document.getElementById(eName).value;
            var type = document.getElementById(eType).value;

            var url = "{% url 'trust_management:get_user_name' %}"
            $.ajax({
                url: url,
                type: "POST",
                data: {'id': id, 'type': type},
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                },
                success: function (response) {
                    if (response.status == 1) {
                        // Logout
                        var login_url = '{% url "authentications:login" %}?next=/admin-portal/trust-management/add/'
                        window.location.replace(login_url);
                    } else if (response.status == 2) {
                        if (response.data.page.total_elements == 0) {
                            showErrorMessage("User is not found");
                        } else {
                            var firstName = response.data.agents[0].first_name;
                            var lastName = response.data.agents[0].last_name;
                            var fullName = (firstName != null ? (firstName + " ") : "") + (lastName != null ? lastName : "");
                            $('#' + eName).attr('value', fullName);
                        }
                    } else {
                        // Failed
                        showErrorMessage(response.msg);
                    }
                },
                error: function (msg) {
                    console.log('Error inactive the rule' + campaign_id);
                    showErrorMessage(JSON.stringify(msg));
                }

            })
        }

        function showErrorMessage(msg) {
            $("#alert-msg").text(msg)
            $('#alert-client').removeClass("alert-success");
            $('#alert-client').addClass("alert-danger");
            {#$("#msg-add-service").prop("hidden", true);#}

            $("#alert-client").show();

            $("html, body").animate({scrollTop: 0}, "slow");
        }
    </script>
{% endblock %}