{% extends "base.html" %}
{% load static %}
{% block sidebar_panel %}
    {% with active_tab='services' %}
        {{ block.super }}
    {% endwith %}
{% endblock sidebar_panel %}

{% block content %}
{% csrf_token %}

<div class="panel mb25">
    <div class="panel-heading">
        <h3>Tiers</h3>
    </div>

    {% for message in messages %}
        <div class="col-xs-12">
            <div class="alert alert-success alert-dismissable" id="msg-add-service">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ message|capfirst }}</strong>
            </div>
        </div>
    {% endfor %}

    {% if msg is not None %}
    <div class="col-xs-12">
        <div class="alert alert-success alert-dismissable" id="msg-update-client">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ msg }}</strong>
        </div>
    </div>
    {% endif %}

    {% if edit_msg is not None %}
    <div class="col-xs-12">
        <div class="alert alert-success alert-dismissable" id="msg-update-client">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ edit_msg }}</strong>
        </div>
    </div>
    {% endif %}

    <div class="panel-body">
        <form class="form-horizontal" role="form">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Service Name:</label>
                <div class="col-sm-4">
                    <input value="{{ service_id }}" type="text" class="form-control" name="service_name" id="txt_service_name" disabled />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Command:</label>
                <div class="col-sm-4">
                    <input type="text" value="{{ command_id }}" class="form-control" name="command" id="txt_command" disabled/>
                </div>
            </div>
            <div class="form-group pull-right">
                <a href="{% url 'services:command_list' service_id %}">
                    <input id="btn_back" class="btn btn-success" type="button" value="Back"/>
                </a>

                <a href="{% url 'services:add_tier' service_id=service_id command_id=command_id service_command_id=service_command_id %}">
                    <input id="btn_add" class="btn btn-success" type="button" value="Add"/>
                </a>
            </div>
        </form>

        <div class="table-responsive row">
            <table class="table table-bordered table-striped mb0" id="tbl_tiers">
                <thead>
                <tr>
                    <th id="lbl_name">Condition</th>
                    <th id="lbl_group">Amount</th>
                    <th id="lbl_currency">Fee Type</th>
                    <th id="lbl_description">Fee Amount</th>
                    <th id="lbl_bonus_type">Bonus Type</th>
                    <th id="lbl_from">From</th>
                    <th id="lbl_bonus_amount">Bonus Amount</th>
                    <th id="lbl_created_date">Created Date</th>
                    <th id="lbl_modified_date">Modified Date</th>
                    <th id="lbl_created_by">Create By</th>
                    <th id="lbl_action">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for fee_tier in data %}
                <tr>
                    <td class="col-sm-2">{{ fee_tier.fee_tier_condition|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ fee_tier.condition_amount|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ fee_tier.fee_type|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ fee_tier.fee_amount|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ fee_tier.bonus_type|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ fee_tier.amount_type|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ fee_tier.bonus_amount|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ fee_tier.created_timestamp|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ fee_tier.last_updated_timestamp|default_if_none:'' }}</td>
                    <td class="col-sm-1">{{ fee_tier.created_user_id|default_if_none:'' }}</td>
                    <td class="col-sm-1">
                        <a type="button" class="btn btn-outline btn-xs btn-primary"  id="btn_edit" class="text-info"
                            href="{% url 'services:update_tier' service_id command_id service_command_id fee_tier.fee_tier_id %}"
                            role="button"> <span class="small">Edit</span>
                        </a>
                        <a type="button" class="btn btn-outline btn-xs btn-primary"
                        role="button"
                        id="btn_commission" class="text-info"
                        href="{% url 'services:commission_and_payment' service_id command_id service_command_id fee_tier.fee_tier_id %}" role="button"
                        class="text-info">
                        <span class="small">Commission</span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
