{% extends "base.html" %}

{% block content %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Edit Service</h3>
    </div>

    {% for message in messages %}
    <div class="col-xs-12">
        <div class='alert
                    {%if "successfully" in message%}
                    alert-success
                    {% else %}
                    alert-danger
                    {% endif %}
                    alert-dismissable' id="msg-add-service">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ message|capfirst }}</strong>
        </div>
    </div>
    {% endfor %}

   <div class="col-xs-12">
        <div class="alert alert-danger" hidden id="msg-update-failed">
            <strong id="alert-msg"></strong>
        </div>
    </div>
    
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form class="form-horizontal" role="form" method="post"
                      action="{% url 'services:update_service' service_id %}" id="input_form">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="service_name" id="txt_name"
                                   value="{{ service_detail.service_name }}" required oninvalid="this.setCustomValidity('Service name can not be blank')"
    oninput="setCustomValidity('')"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Group:</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="ddl_group" name="service_group_id" required>
                                {% for group in service_groups %}
                                {% if group.service_group_id == service_detail.service_group_id %}
                                <option value="{{ group.service_group_id }}" selected>{{ group.service_group_name }}
                                </option>
                                {% else %}
                                <option value="{{ group.service_group_id }}">{{ group.service_group_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Currency:</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="ddl_currency" name="currency" required>
                                {% for currency in currencies %}
                                {% if currency.0 == service_detail.currency %}
                                <option value="{{ currency.0 }}" selected>{{ currency.0 }}</option>
                                {% else %}
                                <option value="{{ currency.0 }}">{{ currency.0 }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-8">
                            <textarea type="text" class="form-control" name="description" rows="3"
                                      id="txt_description">{{ service_detail.description|default_if_none:'' }}</textarea>
                        </div>
                    </div>

                    <div class="pull-right">
                        <a href="{% url 'services:services_list' %}">
                            <input id="btn_cancel" class="btn text-left mb15" type="button"
                                   value="Cancel" data-url="{% url 'services:service_detail' service_id %}"/>
                        </a>
                        <a href="#">
                            <input id="btn_save" class="btn btn-success text-left mb15" type="button"
                                   value="Save"
                            data-url="{% url 'services:update_service' service_id %}" onClick="updateService()" data-redirect="{% url 'services:service_detail' service_id %}"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

function showErrorMessage(msg) {

    console.log('showErrorMessage: ' + msg);

    $("#alert-msg").text(msg)
    $("#msg-update-failed").prop("hidden", false);
    $("#msg-update-failed").fadeIn(1000);

}

function updateService() {

    var url = $("#btn_save").data("url");
    var redirectURL = $("#btn_save").data("redirect");
    console.log(url)

    var params = {
        'service_group_id': $('#ddl_group').val(),
        'service_name': $("#txt_name").val(),
        'currency': $('#ddl_currency').val(),
        'description': $("#txt_description").val()
    };

    $.ajax({
        url: url,
        type: "POST",
        data: params,
        dataType: "json",
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success: function (response) {
            if(response.status == 1) {
                // Logout
                var url = window.location.origin + "/admin-portal/logout/";
                window.location.replace(url);
            } else if(response.status == 2) {
                // success
                window.location.replace(redirectURL);
            } else {
                // Failed
                showErrorMessage(response.msg);
            }
        },
        error: function (err) {
            var json = JSON.stringify(err); 
            console.log('JSON: ' + json);

            var msg = err.responseJSON.status.message;
            console.log('Error message: ' + msg);
            showErrorMessage(msg);
        }
    });
}

</script>

{% endblock %}

