{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="panel mb25">
    <div class="panel-heading border mb15">
        <h3>Services</h3>
    </div>

    <div class="pull-right mr15 text-right">
        <a href="{% url 'services:service_create' %}">
            <input id="btn_service_add" class="btn btn-success btn-block mb15" type="button" value="Add"/>
        </a>
    </div>

    {% for message in messages %}
    <div class="col-xs-12">
        <div class='alert
                    alert-success
                    alert-dismissable' id="msg-add-service">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ message|capfirst }}</strong>
        </div>
    </div>
    {% endfor %}

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0">
                <thead>
                <tr>
                    <th id="lbl_name">Name</th>
                    <th id="lbl_group">Group</th>
                    <th id="lbl_currency">Currency</th>
                    <th id="lbl_description">Description</th>
                    <th id="lbl_created_date">Created Date</th>
                    <th id="lbl_modified_date">Modified Date</th>
                    <th id="action">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for services in data %}
                <tr>
                    <td class="col-sm-1">{{ services.service_name|default_if_none:'' }}</td>
                    <td class="col-sm-1">{{ services.service_group_id|default_if_none:'' }}</td>
                    <td class="col-sm-1">{{ services.currency|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ services.description|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ services.created_timestamp|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ services.last_updated_timestamp|default_if_none:'' }}</td>
                    <td class="col-sm-3">
                        <div id="service_btn_group">
                            <div class="btn-group">
                                <a type="button"
                                   class="btn btn-outline btn-xs btn-primary"
                                   role="button"
                                   id="btn_service_detail"
                                   href="{% url 'services:service_detail' services.service_id %}">
                                    <span class="small">Detail</span>
                                </a>
                                <a type="button"
                                   class="btn btn-outline btn-xs btn-info"
                                   role="button"
                                   id="btn_service_edit"
                                   href="{% url 'services:update_service' services.service_id %}">
                                    <span class="small">Edit</span>
                                </a>
                                <a type="button"
                                   class="btn btn-outline btn-xs btn-info"
                                   role="button"
                                   id="btn_service_command"
                                   href="{% url 'services:command_list' services.service_id %}">
                                    <span class="small">Command</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
