{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="panel mb25">
    <div class="panel-heading border mb15">
        <h3>Services</h3>
    </div>

    {% if permissions.CAN_ADD_SERVICE %}
    <div class="pull-right mr15 text-right">
        <a href="{% url 'services:service_create' %}">
            <input id="btn_add" class="btn btn-success btn-block mb15" type="button" value="Add"/>
        </a>
    </div>
    {% endif %}

    {% for message in messages %}
    <div class="col-xs-12">
        <div class='alert
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    alert-success
                    {%else%}
                    alert-danger
                    {%endif%}
                    alert-dismissable' id="msg-add-service">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ message|capfirst }}</strong>
        </div>
    </div>
    {% endfor %}

    <div class="col-xs-12 mb5">
        <div class="alert alert-success alert-dismissable" style="display: none;" id="alert_service">
            <button type="button" class="close" onclick="$('.alert').hide()">×</button>
            <strong id="alert_msg"></strong>
        </div>
    </div>

    <form id="submit-form" name="search_form" class="form-horizontal" role="form" method="get">
        <div class="form-group">
            <label class="col-sm-2 control-label">Servcice ID</label>
            <div class="col-sm-2">
                <input type="number" min=0 class="form-control input-rounded" name="id"
                        id="txt_service_id"
                        value="{{ id|default_if_none:'' }}">
            </div>
            <label class="col-sm-2 control-label">Status</label>
            <div class="col-sm-2">
                <select class="form-control" id="ddl_status" name="status">
                    <option value='1' {%if status == '1' %}selected="selected"{%endif%}>Activated</option>
                    <option value='all' {%if status == 'all' %} selected="selected"{%endif%}>ALL</option>
                    <option value='0' {%if status == '0' %}selected="selected"{%endif%}>Suspended</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Servcice Name</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-rounded" name="name"
                        id="txt_service_name"
                        value="{{ name|default_if_none:'' }}">
            </div>
            <label class="col-sm-2 control-label">Currency</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-rounded" name="currency"
                        id="txt_currency"
                        value="{{ currency|default_if_none:'' }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
{#            <label class="col-sm-2 control-label">Servcice Group</label>#}
            <div class="col-sm-2">
{#                <select class="form-control" id="ddl_service_group" name="group">#}
{#                <option value=''>ALL</option>#}
{#                {% for g in service_groups %}#}
{#                    <option value='{{ g.id }}' {% if group == g.id %}selected="selected"{% endif %}>{{ g.name }}</option>#}
{#                {% endfor %}#}
{#                </select>#}
            </div>
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-2">
                <input id="current_page_index" name="current_page_index" style="display:none" value="1">
                <div class="col-sm-8 pull-right" style="right: -10px;">
                    <input id="btn_search" class="btn btn-success btn-block" type="submit" value="Search">
                </div>
            </div>
        </div>
    <label class="pull-right" id="lbl_total">{{ search_count }}</label>
    <label class="pull-right" >Total:&nbsp;</label>
    </form>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0" id="tbl_services">
                <thead>
                <tr>
                    <th id="lbl_id">Service Id</th>
                    <th id="lbl_name">Name</th>
                    <th id="lbl_group">Group</th>
                    <th id="lbl_currency">Currency</th>
                    <th id="lbl_description">Description</th>
                    <th id="lbl_status">Status</th>
                    <th id="lbl_created_date">Created Date</th>
                    <th id="lbl_modified_date">Modified Date</th>
                    <th id="action">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for services in data %}
                <tr>
                    <td class="col-sm-1">{{ services.service_id|default_if_none:'' }}</td>
                    {% if services.is_deleted %}
                        <td class="col-sm-3"><del>{{ services.service_name|default_if_none:'' }}</del></td>
                    {% else %}
                        <td class="col-sm-1">{{ services.service_name|default_if_none:'' }}</td>
                    {% endif %}
                    <td class="col-sm-1">{{ services.service_group_name|default_if_none:'' }}</td>
                    <td class="col-sm-1">{{ services.currency|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ services.description|default_if_none:'' }}</td>
                    <td class="col-sm-2" id="status-{{ services.service_id }}">{{ services.status|yesno:"Activated,Suspended" }}</td>
                    <td class="col-sm-2">{{ services.created_timestamp|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ services.last_updated_timestamp|default_if_none:'' }}</td>
                    <td class="col-sm-3">
                        {% if not services.is_deleted %}
                        <div id="service_btn_group">
                            <div class="btn-group">
                                {% if permissions.CAN_VIEW_SERVICE %}
                                <a type="button"
                                   class="btn btn-outline btn-xs btn-info"
                                   role="button"
                                   id="btn_detail"
                                   href="{% url 'services:service_detail' services.service_id %}">
                                    <span class="small">Detail</span>
                                </a>
                                {% endif %}
                                {% if permissions.CAN_EDIT_SERVICE %}
                                <a type="button"
                                   class="btn btn-outline btn-xs btn-primary"
                                   role="button"
                                   id="btn_edit"
                                   href="{% url 'services:update_service' services.service_id %}">
                                    <span class="small">Edit</span>
                                </a>
                                {% endif %}
                                {% if permissions.CAN_EDIT_COMMAND_SERVICE %}
                                <a type="button"
                                   class="btn btn-outline btn-xs btn-primary"
                                   role="button"
                                   id="btn_command"
                                   href="{% url 'services:command_list' services.service_id %}">
                                    <span class="small">Command</span>
                                </a>
                                {% endif %}
                                {% if services.status == 1 %}
                                <a type="button"
                                   class="btn btn-outline btn-xs btn-danger"
                                   role="button"
                                   id="btn_suspend"
                                   onClick="doSuspendOrActivate(this)"
                                   data-url="{% url 'services:service_suspend' services.service_id %}"
                                   data-service-id={{ services.service_id }}>
                                    <span class="small">Suspend</span>
                                </a>
                                {% elif services.status == 0 %}
                                <a type="button"
                                   class="btn btn-outline btn-xs btn-danger"
                                   role="button"
                                   id="btn_activate"
                                   onClick="doSuspendOrActivate(this)"
                                   data-url="{% url 'services:service_activate' services.service_id %}"
                                   data-service-id={{ services.service_id }}>
                                    <span class="small">Activate</span>
                                </a>
                                {% endif %}
                                {% if permissions.CAN_DELETE_SERVICE %}
                                <a type="button"
                                   class="btn btn-outline btn-xs btn-danger"
                                   role="button"
                                   id="btn_delete"
                                   href="{% url 'services:delete_service' services.service_id %}">
                                    <span class="small">Delete</span>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "pagination.html" %}
    </div>
    <div class="loader" style="display:none" id="loader-indicator"></div>
    <div class="col-xs-12" id="search-result-notification" style="display:none">
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            Something wrong happened.
        </div>
    </div>
</div>

{% endblock %}

{% block body_js %}
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
<script src="{% static 'scripts/ui/toggle.min.js' %}"></script>
<script src="{% static 'vendor/sweetalert/sweetalert.2.0.min.js' %}"></script>
<script src="{% static 'vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script>
    function doSuspendOrActivate(e) {
        var title = e.innerText;
        if (title === 'Activate') {
            activate(e);
        } else {
            suspend(e);
        }
    }

    function suspend(e) {
        swal({
            icon: "warning",
            title: "Are you sure you want to suspend?",
            buttons: true,
            dangerMode: true,
            closeOnClickOutside: false
        })
        .then(function(isConfirm) {
            if (isConfirm) {
                var url = e.getAttribute('data-url');
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (response) {
                        if (response.status == 1) {
                            // Logout
                            location.reload();
                        } else if (response.status == 2) {
                            // success
                            var updatedUrl = url.replace('/suspend/', '/activate/');
                            e.setAttribute('data-url', updatedUrl);
                            e.innerHTML = "<span class='small'>Activate</span>";
                            e.disabled = true;
                            e.disabled = false;
                            var service_id = e.getAttribute('data-service-id');
                            var status_id = 'status-' + service_id;
                            document.getElementById(status_id).innerText = 'Suspended';

                            showSuccessMessage('Suspended data successfully');
                        } else {
                            // Failed
                            showErrorMessage(response.msg);
                        }
                    },
                    error: function (msg) {
                        console.log('Error suspending the agent id' + agent_id + msg);
                        showErrorMessage(JSON.stringify(msg));
                    }
                });
            }
        });
    }

    function activate(e) {
        swal({
            icon: "warning",
            title: "Are you sure you want to activate?",
            buttons: true,
            dangerMode: true,
            closeOnClickOutside: false
        })
        .then(function(isConfirm) {
            if (isConfirm) {
                var url = e.getAttribute('data-url');
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (response) {
                        if (response.status == 1) {
                            // Logout
                            location.reload();
                        } else if (response.status == 2) {
                            // success
                            var updatedUrl = url.replace('/activate/', '/suspend/');
                            e.setAttribute('data-url', updatedUrl);
                            e.innerHTML = "<span class='small'>Suspend</span>";
                            e.disabled = true;
                            e.disabled = false;
                            var service_id = e.getAttribute('data-service-id');
                            var status_id = 'status-' + service_id;
                            document.getElementById(status_id).innerText = 'Activated';

                            showSuccessMessage('Activated data successfully');
                        } else {
                            // Failed
                            showErrorMessage(response.msg);
                        }
                    },
                    error: function (msg) {
                        console.log('Error suspending the agent id' + agent_id + msg);
                        showErrorMessage(JSON.stringify(msg));
                    }
                });
            }
        });
    }

    function showErrorMessage(msg) {
        $("#alert_msg").text(msg);
        $('#alert_service').removeClass("alert-success");
	    $('#alert_service').addClass("alert-danger");
	    $("#alert_service").show();
	    $("html, body").animate({scrollTop: 0}, "slow");
    }

    function showSuccessMessage(msg) {
	    $("#alert_msg").text(msg);
	    $('#alert_service').removeClass("alert-danger");
	    $('#alert_service').addClass("alert-success");
	    $("#alert_service").show();
	    $("html, body").animate({scrollTop: 0}, "slow");
	}

</script>
{% endblock %}