{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="panel mb25">
    <div class="panel-heading border mb15">
        <h3>Add New Service</h3>
    </div>

    {% for message in messages %}
    <div class="col-xs-12">
        <div class='alert
                    {%if "successfully" in message%}
                    alert-success
                    {% else %}
                    alert-danger
                    {% endif %}
                    alert-dismissable' id="msg-add-service">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ message|capfirst }}</strong>
        </div>
    </div>
    {% endfor %}

    <div class="col-xs-12">
        <div class="alert alert-danger" hidden id="msg-update-failed">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong id="alert-msg"></strong>
        </div>
    </div>

    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form class="form-horizontal" role="form" method="post" action="{% url 'services:service_create' %}" onsubmit="return replaceServiceID()">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Clone from Service:</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="ddl_clone_from" onchange="setClone(this)" list="clone_services" autocomplete="off"/>
                            <datalist id="clone_services">
                                <option value="">
                                {% for service in choices.services %}
                                    {% if not service.is_deleted %}
                                        <option data-value="{{ service.service_id }}" value="{{ service.service_name }}">
                                    {% endif %}
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="service_name" id="txt_name" required
                                   value="{{ body.service_name|default_if_none:'' }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Group: {{body.service_group_id}}</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="ddl_group" name="service_group_id" required>
                                {% for group in choices.service_groups %}
                                    {% if group.service_group_id|slugify == body.service_group_id|slugify %}
                                        <option value="{{ body.service_group_id }}" selected>{{ group.service_group_name }}
                                    </option>
                                    {% else %}
                                        <option value="{{ group.service_group_id }}">{{ group.service_group_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Currency:</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="ddl_currency" name="currency" required {% if body.clone_from %} style="pointer-events: none;background: #eee;" {% endif %}>
                                {% for currency in choices.currencies %}
                                {% if currency.0|slugify == body.currency|slugify %}
                                        <option value="{{ currency.0 }}" selected>{{ currency.0 }}
                                    </option>
                                    {% else %}
                                        <option value="{{ currency.0 }}">{{ currency.0 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-8">
                            <textarea type="text" class="form-control" name="description"
                                      rows="3" id="txt_description">{{ body.description|default_if_none:'' }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Service Image:</label>
                        <div class="col-sm-8">
                                <input type="text" class="form-control" id="txt_image_url" name="image_url" value="{{ body.image_url | default_if_none:'' }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Service Display Name (English):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="display_name" id="txt_display_name"
                                   value="{{ body.display_name|default_if_none:'' }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Service Display Name (Local):</label>
                        <div class="col-sm-8">
                             <input type="text" class="form-control" name="display_name_local" id="txt_display_name_local"
                                   value="{{ body.display_name_local|default_if_none:'' }}"/>
                        </div>
                    </div>

                    <div class="pull-right">
                        <a href="{% url 'services:services_list' %}">
                            <input id="btn_cancel" class="btn text-left mb15" type="button"
                                   value="Cancel"/>
                        </a>
                        <a href="#">
                            <input id="btn_add" role="button" class="btn btn-success text-left mb15" type="submit" value="Add"/>
                        </a>
                    </div>
                    <input hidden id="service_name_hidden" name="service_name_hidden" value="{{ clone_service_name }}"/>
                    <input hidden id="service_id_hidden" name="clone_from" value="{{ body.clone_from }}"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
<script src="{% static 'scripts/ui/toggle.min.js' %}"></script>
<script src="{% static 'vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script>
    var csrf_token = "{{ csrf_token }}";
    var clone_service_name = '{{ clone_service_name }}';
    if (clone_service_name) {
        document.getElementById('ddl_clone_from').value = clone_service_name
    }

    function replaceServiceID(){
        var value = document.getElementById('ddl_clone_from').value;
        document.getElementById('service_name_hidden').value = value;
        var valueSend = document.querySelector("#clone_services option[value='"+value+"']").dataset.value;
        document.getElementById('service_id_hidden').value = valueSend;
        return true
    }

    function setClone(e) {
        var clone_service = e.value;
        if (clone_service !== '') {
            var value2send = document.querySelector("#clone_services option[value='"+clone_service+"']").dataset.value;
            {# url of update_service #}
            url = "{% url 'services:services_list' %}" + "details/" + value2send + "/";
            $.ajax({
                url: url,
                type: "POST",
                data: {},
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                },
                success: function (response) {
                    if (!response.service.service_name) {
                        location.reload();
                    }
                    if (response.service) {
                        $('#txt_name').val(response.service.service_name);
                        $('#ddl_group').val(response.service.service_group_id);
                        $('#ddl_currency').val(response.service.currency);
                        $('#ddl_currency').attr("style", "pointer-events: none;background: #eee;");
                        $('#txt_description').val(response.service.description)
                    }
                },
                error: function (err) {
                    console.log('error');
                    location.reload();
                }
            });
        } else {
            $('#txt_name').val('');
            $('#ddl_group').val($("#ddl_group option:first").val());
            $('#ddl_currency').val($("#ddl_currency option:first").val());
            $('#ddl_currency').attr("style", "pointer-events: block;");
            $('#txt_description').val('')
        }
    }
</script>
{% endblock %}
