{% extends "base.html" %}

{% block content %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Edit Service</h3>
    </div>

    {% for message in messages %}
    <div class="col-xs-12">
        <div class='alert
                    {%if "successfully" in message%}
                    alert-success
                    {% else %}
                    alert-danger
                    {% endif %}
                    alert-dismissable' id="msg-add-service">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ message|capfirst }}</strong>
        </div>
    </div>
    {% endfor %}
    
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form class="form-horizontal" role="form" method="post"
                      action="{% url 'services:update_service' service_id %}" id="input_form">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="service_name" id="txt_name"
                                   value="{{ service_detail.service_name }}" required oninvalid="this.setCustomValidity('Service name can not be blank')"
    oninput="setCustomValidity('')"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Group:</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="ddl_group" name="service_group_id" required>
                                {% for group in service_groups %}
                                {% if group.service_group_id == service_detail.service_group_id %}
                                <option value="{{ group.service_group_id }}" selected>{{ group.service_group_name }}
                                </option>
                                {% else %}
                                <option value="{{ group.service_group_id }}">{{ group.service_group_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Currency:</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="ddl_currency" name="currency" required>
                                {% for currency in currencies %}
                                {% if currency.0 == service_detail.currency %}
                                <option value="{{ currency.0 }}" selected>{{ currency.0 }}</option>
                                {% else %}
                                <option value="{{ currency.0 }}">{{ currency.0 }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-8">
                            <textarea type="text" class="form-control" name="description" rows="3"
                                      id="txt_description">{{ service_detail.description|default_if_none:'' }}</textarea>
                        </div>
                    </div>

                    <div class="pull-right">
                        <a href="{% url 'services:services_list' %}">
                            <input id="btn_cancel" class="btn text-left mb15" type="button"
                                   value="Cancel"/>
                        </a>
                        <a href="#">
                            <input id="btn_save" class="btn btn-success text-left mb15" type="submit"
                                   value="Save"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

