{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel mb25">
    <div class="panel-heading border mb15">
        <h3>Service Detail</h3>
    </div>
    {% if add_service_msg is not None %}
    <div class="col-xs-12">
        <div class='alert
                    {%if "successfully" in add_service_msg%}
                    alert-success
                    {%else%}
                    alert-danger
                    {%endif%}
                    alert-dismissable' id="msg-update-client">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ add_service_msg }}</strong>
        </div>
    </div>
    {% endif %}
    {% for msg in messages %}
    <div class="col-xs-12">
        <div class='alert
                    alert-success
                    alert-dismissable' id="msg-update-client">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ msg }}</strong>
        </div>
    </div>
    {% endfor %}
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form id="submit-form" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_name" name="service_name"
                                   value="{{ service_info.service_name | default_if_none:'' }}"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Group</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_group" name="service_group"
                                   value="{{ service_info.service_group_name | default_if_none:'' }}"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Currency</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_currency" name="service_currency"
                                   value="{{ service_info.currency | default_if_none:'' }}"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-8">
                                <textarea type="text" class="form-control input-rounded"
                                          id="txt_description" name="description" form="submit-form"
                                          readonly>{{ service_info.description | default_if_none:'' }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Service Image:</label>
                        <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded"
                                          id="txt_image_url" name="image_url" value="{{ service_info.image_url | default_if_none:'' }}" 
                                          readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                           <img src="{{ service_info.image_url }}" onerror="this.src='{% static 'img/no-image.png' %}'" style="width: 150px; height: 150px; border: 1px solid #c0c0c0;" />
                        </div>
                    </div>

                        <label class="col-sm-2 control-label">Service Display Name (English):</label>
                        <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded"
                                          id="txt_display_name" name="display_name"
                                          readonly value="{{ service_info.display_name | default_if_none:'' }}">
                        </div>
                    </div>
                    <div class="pull-right">
                        <a href="{% url 'services:services_list' %}">
                            <input id="btn_cancel" class="btn" type="button" value="Cancel"/>
                        </a>
                        {% if can_edit_service %}
                        <a href="{% url 'services:update_service' service_info.service_id %}">
                            <input id="btn_edit" class="btn btn-success" type="button" value="Edit">
                        </a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
