<div class="panel-heading">
    <h5>Bonus</h5>
</div>

<form method="POST" class="form-horizontal" role="form"
      action="{% url 'services:agent_bonus_distribution' service_id command_id service_command_id fee_tier_id %}"
      id="agent_bonus_distribution_form">

    {% csrf_token %}
    <div class="form-group table-responsive row">
        <table class="table table-bordered table-striped datatable editable-datatable  mb0"
               id="tbl_bonus">
            <thead>
            <tr>
                <th class="col-sm-1" id="lbl_db">Debit/Credit</th>
                <th class="col-sm-2" id="lbl_actor">Actor</th>
                <th class="col-sm-1" id="lbl_specific_id">Specific ID</th>
                <th class="col-sm-2" id="lbl_source_of_fund">Source of Fund</th>
                <th class="col-sm-1" id="lbl_specific_source">Specific Source of Fund</th>
                <th class="col-sm-2" id="lbl_from_amount">Amount</th>
                <th class="col-sm-1" id="lbl_rate">Rate %</th>
                <th class="col-sm-2" id="lbl_actions">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for d in agent_bonus_distribution %}
            <tr id="agent-bonus-distribution-{{ d.agent_bonus_distribution_id }}"
                data-id="{{ d.agent_bonus_distribution_id }}">
                <td class="col-sm-1">{{ d.action_type|default_if_none:'' }}</td>
                <td class="col-sm-2">{{ d.actor_type|default_if_none:'' }}</td>
                <td class="col-sm-1">{{ d.specific_actor_id|default_if_none:'' }}</td>
                <td class="col-sm-2">
                    {% for sof_type in choices.sof_types %}
                    {% if sof_type.sof_type_id == d.sof_type_id %}{{ sof_type.sof_type }}{% endif %}
                    {% endfor %}
                </td>
                <td class="col-sm-1">{{ d.specific_sof|default_if_none:'' }}</td>
                <td class="col-sm-2">{{ d.amount_type|default_if_none:'' }}</td>
                <td class="col-sm-1">{{ d.rate|default_if_none:'' }}</td>
                <td class="col-sm-2">
                    <button type="button" class="btn btn-outline btn-xs btn-danger delete"
                            id="btn_setting_bonus_delete"
                            onclick="deleteAgentBonus('{{ d.agent_bonus_distribution_id }}')">
                        Delete
                    </button>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <select class="form-control" name="action_type" id="ddl_bonus_dc">
                        {% for action_type in choices.action_types %}
                        <option value="{{ action_type.action_type }}">{{ action_type.action_type }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-control" name="actor_type" id="ddl_bonus_actor"
                            onchange="changeSpecificActorType('#ddl_bonus_actor', '#txt_bonus_actor_id')">
                        {% for actor_type in choices.actor_types %}
                        <option value="{{ actor_type.actor_type }}">{{ actor_type.actor_type }}</option>
                        {% endfor %}
                    </select>
                <td>
                    <input name="specific_actor_id" id="txt_bonus_actor_id" class="form-control" disabled>
                </td>
                <td>
                    <select class="form-control" name="sof_type_id" id="ddl_bonus_source_of_fund">
                        {% for sof_type in choices.sof_types %}
                        <option value="{{ sof_type.sof_type_id }}">{{ sof_type.sof_type }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input class="form-control" name="specific_sof" id="txt_bonus_specific_source_of_fund"/>
                </td>
                <td>
                    <select class="form-control" name="amount_type" id="ddl_amount">
                        {% for amount_type in choices.amount_types %}
                        <option value="{{ amount_type.amount_type }}">{{ amount_type.amount_type }}</option>
                        {% endfor %}
                    </select>
                <td><input class="form-control" name="rate" id="txt_bonus_rate" required/></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="form-group pull-right">
        <button class="btn btn-success" type="submit" role="button"
                id="btn_agent_hierarchy_distribution_bonus_add">
            Add
        </button>
    </div>
</form>