{% extends "base.html" %}
{% load static %}

{% block body_stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/sweetalert/lib/sweet-alert.css' %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Add New Agent Type</h3>
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form id="submit-form" class="form-horizontal" role="form" method="post" action="{% url 'agent_type:create-agent-type' %}" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Agent Type *</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"  name="agent_type_input" id="agent_type_input"
                                   value="{{ agent_type_info.agent_type_input | default_if_none:'' }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="agent_type_description_input" id="agent_type_description_input"
                                   value="{{ agent_type_info.agent_type_description_input | default_if_none:'' }}">

                        </div>
                    </div>

                    <div class="pull-right">
                        <a href="{% url 'agent_type:agent-type-list' %}">
                            <input id="agent_type_btn_back" class="btn btn-success text-left mb15" type="button" value="Back"/>
                        </a>

                        <a href="{% url 'agent_type:create-agent-type' %}">
                            <input id="agent_type_btn_add" class="btn btn-success text-left mb15" type="submit" value="Add"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script src="{% static 'vendor/sweetalert/lib/sweet-alert.min.js' %}"></script>
{% endblock %}