{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="panel mb25">
        <div class="panel-heading border">
            <h3 class="not_in_review">Commission And Payment Method</h3>
            <h3 class="in_review" style="display:none">Review Page</h3>
        </div>

        <div id="ajax-messages">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="col-xs-12">
                        <div class='alert alert-success alert-dismissable' id="msg-commission">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <strong>{{ message|capfirst }}</strong>
                        </div>
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="col-xs-12">
                        <div class='alert alert-danger alert-dismissable' id="msg-commission">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <strong>{{ message|capfirst }}</strong>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Service Name:</label>
                    <div class="col-sm-4">
                        <input value="{{ service_name }}" type="text" class="form-control" name="service_name"
                               id="txt_service_name" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Command:</label>
                    <div class="col-sm-4">
                        <input type="text" value="{{ command_name }}" class="form-control" name="command"
                               id="txt_command"
                               disabled/>
                    </div>
                </div>
            </div>

            <div class="panel-heading not_in_review">
                <h4>I. Fee & Bonus</h4>
            </div>

            <div class="form-inline not_in_review">
                <label class="col-sm-2 control-label">Fee:</label>
                <div class="form-group">
                    <div class="col-sm-4">
                        <input value="{{ fee_tier_detail.fee_type }}" type="text" class="form-control"
                               name="service_name" id="txt_fee" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="text" value="{{ fee_tier_detail.fee_amount }}" class="form-control" name="command"
                               id="txt_fee_value" disabled/>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-inline not_in_review">
                <label class="col-sm-2 control-label">Bonus:</label>
                <div class="form-group">
                    <div class="col-sm-4">
                        <input value="{{ fee_tier_detail.bonus_type }}" type="text" class="form-control"
                               name="service_name" id="txt_bonus" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="text" value="{{ fee_tier_detail.bonus_amount }}" class="form-control"
                               name="command" id="txt_bonus_value" disabled/>
                    </div>
                </div>
            </div>

            <div class="panel-heading">
                <h4 class="not_in_review">II. Setting Payment, Fee & Bonus Structure</h4>
                <h4 style="display: none" class="in_review">Setting Payment, Fee & Bonus Structure</h4>
                <input type="text" id="data-specific-sof-list-url" data-specific-sof-list-url="{% url 'services:setting_bonus' service_id command_id service_command_id fee_tier_id %}" class="form-control" style="display:none"/>
            </div>

            <form method="POST" class="form-horizontal" role="form" id="mForm" onsubmit="return validate(this)"
                  action="{% url 'services:payment_and_fee_stucture' service_id command_id service_command_id fee_tier_id %}"
                  id="payment_and_fee_stucture_form">

                {% csrf_token %}
                <div class="form-group table-responsive row not_in_review">
                    <table class="table table-bordered table-striped datatable editable-datatable  mb0"
                           id="tbl_setting_payment_fee_structure">
                        <thead>
                        <tr>
                            <th class="col-sm-1" id="lbl_db">Debit/Credit</th>
                            <th class="col-sm-2" id="lbl_actor">Actor</th>
                            <th class="col-sm-2" id="lbl_specific_id">Specific ID</th>
                            <th class="col-sm-1" id="lbl_source_of_fund">Source of Fund</th>
                            <th class="col-sm-2" id="lbl_specific_source">Specific Source of Fund</th>
                            <th class="col-sm-2" id="lbl_from_amount">From Amount</th>
                            <th class="col-sm-1" id="lbl_rate">Rate %</th>
                            <th class="col-sm-1" id="lbl_label">Label</th>
                            <th class="col-sm-1" id="lbl_actions">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                            <tr id="balance-distribution-{{ d.balance_distribution_id }}"
                                data-url="{% url "services:payment_and_fee_stucture_update" d.balance_distribution_id %}"
                                data-id="{{ d.balance_distribution_id }}">
                                <td >{{ d.action_type|default_if_none:'' }}</td>
                                <td>{{ d.actor_type|default_if_none:'' }}</td>
                                <td >{{ d.specific_actor_id|default_if_none:'' }}</td>
                                <td >{% for sof_type in choices.sof_types %}{% if sof_type.sof_type_id == d.sof_type_id %}{{ sof_type.sof_type }}{% endif %}{% endfor %}</td>
                                <td >{{ d.specific_sof|default_if_none:'' }}</td>
                                <td >{{ d.amount_type|default_if_none:'' }}</td>
                                <td>{{ d.rate|default_if_none:'' }}</td>
                                <td >{{ d.label|default_if_none:'' }}</td>
                                <td>
                                    <button type="button"
                                            class="edit btn btn-outline btn-xs btn-primary text-info small"
                                            id="btn_setting_payment_fee_structure_edit">Edit</button>
                                    <button type="button"
                                            class="delete btn btn-outline btn-xs btn-danger text-info small"
                                            id="btn_setting_payment_fee_structure_delete">Delete
                                        </button>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr id="tr_row_for_edit">
                            <td>
                                <select class="form-control" name="action_type"
                                        id="ddl_setting_payment_fee_structure_dc">
                                    {% for action_type in choices.action_types %}
                                        <option value="{{ action_type.action_type }}">{{ action_type.action_type }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="actor_type"
                                        id="ddl_setting_payment_fee_structure_actor"
                                        onchange="changeSpecificActorType('#ddl_setting_payment_fee_structure_actor', '#ddl_setting_payment_fee_structure_specific_id', '#ddl_setting_payment_fee_structure_specific_source_of_fund',this)">
                                    {% for actor_type in choices.actor_types %}
                                        <option value="{{ actor_type.actor_type }}">{{ actor_type.actor_type }}</option>
                                    {% endfor %}
                                </select>
                            <td>
                                <select name="specific_actor_id" id="ddl_setting_payment_fee_structure_specific_id" class="form-control"
                                    {% if choices.actor_types.0.actor_type != 'Specific ID' %}
                                        disabled
                                    {% endif %}
                                    onchange="getSOF('ddl_setting_payment_fee_structure_actor', 'ddl_setting_payment_fee_structure_specific_id','ddl_setting_payment_fee_structure_source_of_fund','ddl_setting_payment_fee_structure_specific_source_of_fund', this)" type="number" autocomplete="off" >
                                        <option value=""></option>
                                        {% for id in specific_ids %}
                                            <option value="{{ id }}">{{ id }}</option>
                                        {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="sof_type_id"
                                        id="ddl_setting_payment_fee_structure_source_of_fund" onchange="getSOF('ddl_setting_payment_fee_structure_actor', 'ddl_setting_payment_fee_structure_specific_id','ddl_setting_payment_fee_structure_source_of_fund','ddl_setting_payment_fee_structure_specific_source_of_fund', this)">
                                    {% for sof_type in choices.sof_types %}
                                        <option value="{{ sof_type.sof_type_id }}">{{ sof_type.sof_type }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="specific_sof"
                                       autocomplete="off"
                                       id="ddl_setting_payment_fee_structure_specific_source_of_fund"
                                    {% if choices.actor_types.0.actor_type != 'Specific ID' %}
                                        disabled
                                    {% endif %}
                                >
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="amount_type"
                                        id="ddl_setting_payment_fee_structure_from_amount"
                                        onchange="changeAmountType('#ddl_setting_payment_fee_structure_from_amount', '#txt_setting_payment_fee_structure_rate', this)">
                                    {% for amount_type in choices.amount_types %}
                                        <option value="{{ amount_type.amount_type }}">{{ amount_type.amount_type }}</option>
                                    {% endfor %}
                                </select>
                            <td><input class="form-control" name="rate" id="txt_setting_payment_fee_structure_rate"
                                    {% if 'Rate' not in choices.amount_types.0.amount_type %}
                                        disabled
                                    {% endif %}
                                />
                            </td>
                            <td>
                                <input class="form-control" name="label" id="txt_setting_payment_fee_structure_label"/>
                            </td>
                            <td>
                                <input id="btn_setting_payment_fee_structure_add" class="btn btn-success" type="button" value="Add">
                            </td>
                        </tr>
                    </table>
                </div>


                <div class="form-group pull-right in_review" style="display: none">
                    <a>
                        <input id="btn_setting_payment_fee_structure_review_back" class="btn" type="button"
                               value="Back"/>
                    </a>
                    <a href="#">
                        <input id="btn_setting_payment_fee_structure_review_save" class="btn btn-success" type="button"
                               value="OK"/>
                    </a>
                </div>
                <div class="form-group pull-right not_in_review">
                    <a>
                        <input id="btn_setting_payment_fee_structure_review" class="btn btn-success" type="submit" value="Review"/>
                    </a>
                    <br/>
                    <br/>
                    <a href="{% url 'services:fee_tier_list' service_id=service_id command_id=command_id service_command_id=service_command_id %}">
                        <input id="btn_back" class="btn" type="button" value="Back"/>
                    </a>
                </div>

            </form>

            <!--<div class="panel-heading" hidden>-->
                <!--<h4>III. Setting Bonus</h4>-->
            <!--</div>-->

            <!--<form method="POST" class="form-horizontal" role="form"-->
                  <!--action="{% url 'services:setting_bonus' service_id command_id service_command_id fee_tier_id %}"-->
                  <!--id="Setting_Bonus_Form" hidden>-->

                <!--{% csrf_token %}-->
                <!--<div class="form-group table-responsive row">-->
                    <!--<table class="table table-bordered table-striped mb0" id="tbl_setting_bonus">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th class="col-sm-1" id="lbl_db">Debit/Credit</th>-->
                            <!--<th class="col-sm-2" id="lbl_actor">Actor</th>-->
                            <!--<th class="col-sm-2" id="lbl_specific_id">Specific ID</th>-->
                            <!--<th class="col-sm-1" id="lbl_source_of_fund">Source of Fund</th>-->
                            <!--<th class="col-sm-2" id="lbl_specific_source">Specific Source of Fund</th>-->
                            <!--<th class="col-sm-2" id="lbl_from_amount">Amount</th>-->
                            <!--<th class="col-sm-1" id="lbl_rate">Rate %</th>-->
                            <!--<th class="col-sm-1" id="lbl_actions">Actions</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--{% for d in bonus %}-->
                            <!--<tr role="row" data-url="{% url "services:setting_bonus_update" d.bonus_distribution_id %}"-->
                                <!--data-id="{{ d.bonus_distribution_id }}"-->
                                <!--id="bonus-distribution-{{ d.bonus_distribution_id }}">-->
                                <!--<td>{{ d.action_type|default_if_none:'' }}</td>-->
                                <!--<td>{{ d.actor_type|default_if_none:'' }}</td>-->
                                <!--<td>{{ d.specific_actor_id|default_if_none:'' }}</td>-->
                                <!--<td>{% for sof_type in choices.sof_types %}{% if sof_type.sof_type_id == d.sof_type_id %}{{ sof_type.sof_type }}{% endif %}{% endfor %}</td>-->
                                <!--<td>{{ d.specific_sof|default_if_none:'' }}</td>-->
                                <!--<td>{{ d.amount_type|default_if_none:'' }}</td>-->
                                <!--<td>{{ d.rate|default_if_none:'' }}</td>-->
                                <!--<td>-->
                                    <!--<button type="button"-->
                                            <!--class="edit btn btn-outline btn-xs btn-primary text-info small"-->
                                            <!--id="btn_setting_bonus_edit">Edit-->
                                    <!--</button>-->
                                    <!--<button type="button"-->
                                            <!--class="delete btn btn-outline btn-xs btn-danger text-info small"-->
                                            <!--id="btn_setting_bonus_delete"-->
                                            <!--onclick="deleteSettingBonus('{{ d.bonus_distribution_id }}')">Delete-->
                                    <!--</button>-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--{% endfor %}-->
                        <!--<tr>-->
                            <!--<td>-->
                                <!--<select class="form-control" name="action_type" id="ddl_setting_bonus_dc">-->
                                    <!--{% for action_type in choices.action_types %}-->
                                        <!--<option value="{{ action_type.action_type }}">{{ action_type.action_type }}</option>-->
                                    <!--{% endfor %}-->
                                <!--</select>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<select class="form-control" name="actor_type" id="ddl_setting_bonus_actor"-->
                                        <!--onchange="changeSpecificActorType('#ddl_setting_bonus_actor', '#ddl_setting_bonus_specific_id', '#ddl_setting_bonus_spec_src_fund')">-->
                                    <!--{% for actor_type in choices.actor_types %}-->
                                        <!--<option value="{{ actor_type.actor_type }}">{{ actor_type.actor_type }}</option>-->
                                    <!--{% endfor %}-->
                                <!--</select>-->
                            <!--<td>-->
                                <!--<select class="form-control" name="specific_actor_id" id="ddl_setting_bonus_specific_id" list="dl_setting_bonus_specific_id"-->
                                    <!--{% if choices.actor_types.0.actor_type != 'Specific ID' %}-->
                                        <!--disabled-->
                                    <!--{% endif %}-->
                                <!--onchange="getSOF('ddl_setting_bonus_actor', 'ddl_setting_bonus_specific_id', 'ddl_setting_bonus_src_fund', 'ddl_setting_bonus_spec_src_fund')">-->
                                <!--<datalist id="dl_setting_bonus_specific_id">-->
                                    <!--<option value=""></option>-->
                                    <!--{% for id in specific_ids %}-->
                                        <!--<option value="{{ id }}">{{ id }}</option>-->
                                    <!--{% endfor %}-->
                                <!--</datalist>-->
                                <!--</select>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<select class="form-control" name="sof_type_id" id="ddl_setting_bonus_src_fund"-->
                                <!--onchange="getSOF('ddl_setting_bonus_actor', 'ddl_setting_bonus_specific_id', 'ddl_setting_bonus_src_fund', 'ddl_setting_bonus_spec_src_fund')">-->
                                    <!--{% for sof_type in choices.sof_types %}-->
                                        <!--<option value="{{ sof_type.sof_type_id }}">{{ sof_type.sof_type }}</option>-->
                                    <!--{% endfor %}-->
                                <!--</select>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<select class="form-control" id="ddl_setting_bonus_spec_src_fund" name="specific_sof"-->
                                    <!--{% if choices.actor_types.0.actor_type != 'Specific ID' %}-->
                                        <!--disabled-->
                                    <!--{% endif %}-->
                                <!--&gt;-->
                                <!--</select>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<select class="form-control" name="amount_type" id="ddl_setting_bonus_amount"-->
                                        <!--onchange="changeAmountType('#ddl_setting_bonus_amount', '#txt_setting_bonus_rate')">-->
                                    <!--{% for amount_type in choices.amount_types %}-->
                                        <!--<option value="{{ amount_type.amount_type }}">{{ amount_type.amount_type }}</option>-->
                                    <!--{% endfor %}-->
                                <!--</select>-->
                            <!--<td><input id="txt_setting_bonus_rate" class="form-control" name="rate" required-->
                                    <!--{% if 'Rate' not in choices.amount_types.0.amount_type %}-->
                                        <!--disabled-->
                                    <!--{% endif %}-->
                                <!--/>-->
                            <!--</td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->

                <!--<div class="form-group pull-right">-->
                    <!--<a href="#">-->
                        <!--<input id="btn_setting_bonus_add" class="btn btn-success" type="submit" value="Add"/>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</form>-->

{#            {% include "services/commission/agent_hierrachy_distribution_fee.html" %}#}
{#            {% include "services/commission/agent_hierarchy_distribution_bonus.html" %}#}

        </div>
    </div>
{% endblock %}
{% block body_js %}
{{ block.super }}
<script src="{% static 'js/services/commission_and_payment.js' %}"></script>
{#    <script src="{% static 'js/services/AgentHierarchyDistribution.js' %}"></script>#}
    <script>
        var csrf_token = "{{ csrf_token }}";
        function getSOF(actor, specific_id, sof, specific_sof,selected_value) {
            var cTr = $(selected_value).closest("tr");
            var actor = cTr.find("#" + actor + " option:selected").text();
            var specific_id = cTr.find("#" + specific_id + " option:selected").text();
            var sof = cTr.find("#" + sof + " option:selected").val();
            var specific_sof = cTr.find("#" + specific_sof);

            if (actor !== 'Specific ID') {
                return;
            }

            if (specific_id === '') {
                return;
            }

            url = $('#data-specific-sof-list-url').attr('data-specific-sof-list-url') + specific_id + '/' + sof;
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
                },
                success: function (response) {
                    if (response.status == 1) {
                        // Logout
                        var url = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                        window.location.replace(url);
                    } else if (response.status == 2) {
                        //clear list
                        specific_sof.empty();
                        
                        // add item
                        var jsonOptions = response.data;
                        if(typeof jsonOptions.length !== 'undefined') {
                            $.each(jsonOptions, function(key, value) {
                              specific_sof
                                  .append($("<option></option>")
                                  .attr("value",key)
                                  .text(key)); 
                            });
                        }
                    } else {
                        addErrorMessage(response.msg);
                    }
                },
                error: function () {
                    addErrorMessage("Can not get specific SOF list ");
                }
            });
        }

        function ddl_agent_hier_fee_amount_changed() {
            var element = document.getElementById('ddl_agent_hier_fee_amount');
            var text_element = document.getElementById('txt_agent_hier_fee_rate');
            var value = element.value;
            if((value.indexOf("Rate") !== -1) || (value.indexOf("rate") !== -1)) {
                // exist
                text_element.disabled = false;
                text_element.required = true;
            } else {
                // not found
                text_element.value = '';
                text_element.disabled = true;
                text_element.required = false;
            }
        }

        function ddl_agent_hier_fee_amount_edit_changed(element) {
            var value = element.value;
            var children = $(element).parent().next().children();
            var text_element = children[1];

            if((value.indexOf("Rate") !== -1) || (value.indexOf("rate") !== -1)) {
                // exist
                text_element.disabled = false;
                text_element.required = true;
            } else {
                // not found
                text_element.value = '';
                text_element.disabled = true;
                text_element.required = false;
                text_element.style.borderColor = "#e4e4e4";//transparent
            }
        }


        function deleteSettingBonus(bonus_distributions_id) {
            var url = $('#data-specific-sof-list-url').attr('data-specific-sof-list-url') + bonus_distributions_id;
            //var url = $('#Setting_Bonus_Form').attr('action') + bonus_distributions_id;
            $.ajax({
                url: url,
                type: "DELETE",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
                },
                success: function (response) {
                    if (response.status == 1) {
                        // Logout
                        var url = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                        window.location.replace(url);
                    } else if (response.status == 2) {
                        $('#bonus-distribution-' + bonus_distributions_id).remove();
                        addMessage("Deleted Setting Bonus successfully");
                    } else {
                        addErrorMessage(response.msg);
                    }
                },
                error: function () {
                    addErrorMessage("Failed to Delete Setting Bonus");
                }
            });
        }


        function deleteAgentFee(agent_fee_id) {
            var url = $('#agent-hierarchy-distribution-form').attr('action') + agent_fee_id;
            $.ajax({
                url: url,
                type: "DELETE",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
                },
                success: function (response) {
                    if (response.status == 1) {
                        // Logout
                        var url = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                        window.location.replace(url);
                    } else if (response.status == 2) {
                        $('#agent-hierarchy-distribution-' + agent_fee_id).remove();
                        addMessage("Deleted Agent Hierarchy Distribution - Fee successfully");
                    } else {
                        addErrorMessage(response.msg);
                    }
                },
                error: function () {
                    addErrorMessage("Failed to Delete Agent Hierarchy");
                }
            });
        }

        function deleteAgentBonus(agent_bonus_distribution_id) {
            var url = $('#agent_bonus_distribution_form').attr('action') + agent_bonus_distribution_id + '/';
            $.ajax({
                url: url,
                type: "DELETE",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
                },
                success: function (response) {
                    if (response.status == 1) {
                        // Logout
                        var url = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                        window.location.replace(url);
                    } else if (response.status == 2) {
                        $('#agent-bonus-distribution-' + agent_bonus_distribution_id).remove();
                        addMessage("Deleted Agent Hierarchy Distribution - Bonus successfully");
                    } else {
                        addErrorMessage(response.msg);
                    }
                },
                error: function () {
                    addErrorMessage("Failed to Delete Agent Bonus");
                }
            });
        }

        function addMessage(message) {
            $("#ajax-messages").empty().append(
                '<div class="col-xs-12">' +
                '<div class="alert alert-success alert-dismissable" id="msg-add-service">' +
                '<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>' +
                '<strong>' + message + '</strong>' +
                '</div>' +
                '</div>')
        }

        function addErrorMessage(message) {
            $("#ajax-messages").empty().append(
                '<div class="col-xs-12">' +
                '<div class="alert alert-danger alert-dismissable" id="msg-add-service">' +
                '<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>' +
                '<strong>' + message + '</strong>' +
                '</div>' +
                '</div>')
        }

        function changeSpecificActorType(actorType, specificActorId, specificSoFId,selectObject) {
            if ($(selectObject).closest("tr").find(actorType).find(":selected").html() == "Specific ID") {
                $(selectObject).closest("tr").find(specificActorId).prop('disabled', false);
                $(selectObject).closest("tr").find(specificActorId).prop('required', true);
                $(selectObject).closest("tr").find(specificSoFId).prop('disabled', false);
                $(selectObject).closest("tr").find(specificSoFId).prop('required', true);
            } else {
                $(selectObject).closest("tr").find(specificActorId).prop('disabled', true);
                $(selectObject).closest("tr").find(specificActorId).val("");
                $(selectObject).closest("tr").find(specificSoFId).prop('disabled', true);
                $(selectObject).closest("tr").find(specificSoFId).val("");
            }
        }

        function changeSpecificActorTypeRelative(actorType) {
            //specificActorId = $(actorType).parent().next().find("#ddl_agent_hier_fee_specific_id_edit");
           // specificSoFId = $(actorType).parent().next().next().next().find("#txt_agent_hier_fee_spec_src_fund_edit");
            var specific_id = actorType.parentNode.nextElementSibling.getElementsByTagName('select')[0];
            var sof = actorType.parentNode.nextElementSibling.nextElementSibling.nextElementSibling.getElementsByTagName('select')[0];

            if ($(actorType).find(":selected").html() == "Specific ID") {

                specific_id.disabled = false;
                specific_id.required = true;
                var xxx = specific_id.value = '';
                var ss = '';

                sof.disabled = false;
                sof.required = true;

            } else {

                specific_id.disabled = true;
                specific_id.required = false;
                specific_id.value = '';

                sof.disabled = true;
                sof.required = false;
                sof.value = '';
            }
        }

        function changeSpecificActorTypeRelativeAdd(actorType) {
            specificActorId = $(actorType).parent().next().find("#ddl_agent_hier_fee_specific_id");//ddl_agent_hier_fee_specific_id
            specificSoFId = $(actorType).parent().next().next().next().find("#ddl_agent_hier_fee_spec_src_fund_add");

            if ($(actorType).find(":selected").html() == "Specific ID") {
                $(specificActorId).prop('disabled', false);
                $(specificActorId).prop('required', true);
                $(specificSoFId).prop('disabled', false);
                $(specificSoFId).prop('required', true);
            } else {
                $(specificActorId).prop('disabled', true);
                $(specificActorId).val("");
                $(specificSoFId).prop('disabled', true);
                $(specificSoFId).val("");
            }
        }

        function changeAmountType(AmountType, Rate, selectObject) {
            if ($(selectObject).find(":selected").html().indexOf("Rate") >= 0) {
                $(selectObject).closest("tr").find(Rate).prop('disabled', false);
                $(selectObject).closest("tr").find(Rate).prop('required', true);
            } else {
                $(selectObject).closest("tr").find(Rate).prop('disabled', true);
                $(selectObject).closest("tr").find(Rate).val("");
            }
        }

        function changeSOFTypeRelativeAdd(e) {
            var value = e.value;
            var url = '';
            var specific_id = e.parentNode.previousElementSibling.getElementsByTagName('select')[0];
            //var specific_id2 = e.parentNode.parentNode.childNodes[4].getElementsByTagName('input')[0];

            if (!shouldGetSofList(specific_id))
                return;

            if ((value == '1') || (value == 'bank')) {// bank
                url = $("#btn_agent_hier_fee_add").data("bank_sofs");
                url = url.replace("00000", specific_id.value);
            } else if ((value == '2') || (value == 'cash')) {// cash
                url = $("#btn_agent_hier_fee_add").data("cash_sofs");
                url = url.replace("00000", specific_id.value);
            }

            getSofList(url, specific_id);
        }

        function changeSpecificIdTypeRelativeAdd(e) {
            if (!shouldGetSofList(e))
                return;

            var value = e.parentNode.nextElementSibling.getElementsByTagName('select')[0].value;
            var url = '';//$("#btn_agent_hier_fee_add").data("bank_sofs");
            if ((value == '1') || (value == 'bank')) {// bank
                url = $("#btn_agent_hier_fee_add").data("bank_sofs");
            } else if ((value == '2') || (value == 'cash')) {// cash
                url = $("#btn_agent_hier_fee_add").data("cash_sofs");
            }

            url = url.replace("00000", e.value);
            getSofList(url, e);
        }

        function shouldGetSofList(specific_id) {
            var value = specific_id.value;
            if(!value) {
                resetSofsList(specific_id);
                return false;
            } else {
                return true;
            }
        }

        function resetSofsList(specific_id) {
                var selectList = specific_id.parentNode.nextElementSibling.nextElementSibling.getElementsByTagName('select')[0];
                var selectParentNode = selectList.parentNode;
                var newSelectObj = selectList.cloneNode(false);
                selectParentNode.replaceChild(newSelectObj, selectList);
                selectList = newSelectObj;
        }

        function getSofList(url, specific_id) {
            $.ajax({
                url: url,
                type: "GET",
                data: {},
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (response) {
                    if(response.status == 1) {
                        // Logout
                        var url = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                        window.location.replace(url);
                    } else if(response.status == 2) {
                        // success
                        var data = response.data;
                        //Create and append select list
                        resetSofsList(specific_id);
                        var selectList = specific_id.parentNode.nextElementSibling.nextElementSibling.getElementsByTagName('select')[0];
                        var existing_value = '';
                        var elm = specific_id.parentNode.nextElementSibling.nextElementSibling.getElementsByTagName('span')[0];
                        if(elm) {
                            existing_value = elm.innerHTML;
                        }

                        for (var i = 0; i < data.length; i++) {
                            var sof = data[i];
                            var option = document.createElement("option");
                            option.value = sof['id'];
                            option.text = sof['id'];
                            if(option.value == existing_value) {
                                option.selected = true;
                            }
                            selectList.appendChild(option);
                        }

                    } else {
                        // Failed
                        var msg = response.msg;
                        var text_input = document.getElementById('ddl_agent_hier_fee_spec_src_fund');
                        text_input.setCustomValidity(msg);
                        var btn = document.getElementById("btn_agent_hier_fee_add");
                        btn.click();
                    }
                },
                error: function (err) {
                    var json = JSON.stringify(err); 
                    console.log('JSON: ' + json);

                    var msg = err.responseJSON.status.message;
                    var text_input = document.getElementById('ddl_agent_hier_fee_spec_src_fund');
                    text_input.setCustomValidity(msg);
                    var btn = document.getElementById("btn_agent_hier_fee_add");
                    btn.click();
                }
            });
        }

        function onClickReviewBackBtn() {
            $("#div_tbl_setting_payment_fee_structure_review").remove();
            window.location.hash = '';
            $(".not_in_review").show();
            $(".in_review").hide()
        }

        function validate(form) {
            if($('#mForm')[0].checkValidity()) {
                renderReviewTableDiv("#tbl_setting_payment_fee_structure");
                window.location.hash = 'review'
            }
            return false;
        }
        window.onhashchange = function() {
            if (location.hash.length > 0) {
                $(".not_in_review").hide();
                $(".in_review").show();
            } else {
                $("#div_tbl_setting_payment_fee_structure_review").remove();
                $(".not_in_review").show();
                $(".in_review").hide()
            }
        };


        function onClickSaveBtn() {
            var current_fee_tier_id = {{ fee_tier_id  }};
            window.location.hash = '';
            var m_sof_types = {{ choices.sof_types|safe }};
            var url = "{% url 'services:payment_and_fee_stucture_multi_update' fee_tier_id%}";
            var balanceDistributionDataList = [];
            var tableData = collectTableDataForSave("#tbl_setting_payment_fee_structure", m_sof_types);
            $.each(tableData, function (index, rowData) {
                var balanceDistributionData = {
                    "fee_tier_id": current_fee_tier_id,
                    "balance_distribution_id": rowData.balance_distribution_id,
                    "action_type": (rowData.action_type == "credit") ? "Credit" : "Debit",
                    "actor_type": rowData.actor_type,
                    "specific_actor_id": rowData.specific_actor_id,
                    "sof_type_id": rowData.sof_type_id,
                    "specific_sof": rowData.specific_sof,
                    "amount_type": rowData.amount_type,
                    "rate": rowData.rate,
                    "label": rowData.label
                }
                balanceDistributionDataList.push(balanceDistributionData);
            })
            var data = {"balance_distributions": JSON.stringify(balanceDistributionDataList)};
//            // Request to server
            $.ajax({
                url: url,
                type: "POST",
                data: data,
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                },
                success: function (response) {
                    if (response.status == 1) {
                        // Logout
                        var url = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                        window.location.replace(url);
                    } else if (response.status == 2) {
                        // success
                        //Reload page
                        location.reload();
                    } else {
                        // Failed
                        onClickReviewBackBtn();
                        addErrorMessage(response.msg);
                    }

                    $("body").find("th").each(function () {
                        $(this).removeAttr( "style" );
                    });
                },
                error: function (err) {
                    var json = JSON.stringify(err);

                    addErrorMessage("Edit error!");
                }
            });

            return false;
        }

        // Edit row features
        $(document).ready(function () {
            //var ddl_agent_hier_fee_actor = document.getElementById('ddl_agent_hier_fee_actor');
            //changeSpecificActorTypeRelativeAdd(ddl_agent_hier_fee_actor);
            //ddl_agent_hier_fee_amount_changed();

            // Build up master data from Server
            var m_action_types = {{ choices.action_types|safe }};
            var m_actor_types = {{ choices.actor_types|safe }};
            var m_specific_ids = {{ specific_ids|safe }};
            var m_sof_types = {{ choices.sof_types|safe }};
            var m_amount_type = {{ choices.amount_types|safe }};
            var current_fee_tier_id = {{ fee_tier_id  }};
            //var csrf_token = "{{ csrf_token }}";

            // 1. Balance and Payment Fee Table
            onInlineSetupDataTable('tbl_setting_payment_fee_structure', m_action_types, m_actor_types, m_specific_ids, m_sof_types, m_amount_type, current_fee_tier_id, csrf_token);

            // 2. Setting Bonus Table
            //onInlineSetupDataTable('tbl_setting_bonus', m_action_types, m_actor_types, m_specific_ids, m_sof_types, m_amount_type, current_fee_tier_id, csrf_token);

            // 3. Agent Fee Table
            // onInlineSetupDataTable('tbl_agent_hier_fee', m_action_types, m_actor_types, m_sof_types, m_amount_type, current_fee_tier_id, csrf_token);

            // 4. Bonus Table
            //onInlineSetupDataTable('tbl_bonus', m_action_types, m_actor_types, m_specific_ids, m_sof_types, m_amount_type, current_fee_tier_id, csrf_token);

            $("body").find("th").each(function () {
                 $(this).removeAttr( "style" );
            });

            $("#btn_setting_payment_fee_structure_review_back").click(onClickReviewBackBtn)
            $("#btn_setting_payment_fee_structure_review_save").click(onClickSaveBtn)

        });
    </script>
{%  endblock %}