<style type="text/css">
    .parent-label {
        font-weight: bold;
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .sub-label {
        width: 130px;
        margin-right: 15px;
        margin-top: 9px;
        float: left;
        text-align: right;
        font-size: 14px;
        vertical-align: middle;
    }

    .sub-input {
        width: 185px;
        float: left;
        margin-top: 5px;
        height: 30px;
    }

    .large-modal-dialog {
        width: 800px;
    }

    #confirmation_body {
        padding: 25px;
        padding-right: 0px;
    }

    .confirmation_border {
        border: 1px solid black;
        padding: 10px;
        padding-right: 32px;
        padding-bottom: 20px;
        background-color: #fcfaf7;
    }

    #input_body {
        padding: 35px;
    }
</style>

<div class="modal" tabindex="-1" role="dialog" id="cancelModal" style="vertical-align: top; padding-top: 15px;">
    <div class="modal-dialog large-modal-dialog" role="document">
        <form method="POST" class="form-horizontal" role="form" id="mForm" onsubmit="return validateCancel(this)">
            {% csrf_token %}
            <div class="modal-content">
                <div id="confirmation_body" class="col-sm-6">
                    <div class="confirmation_border pull-left">
                        <div>
                            <label class="parent-label">Confirmation Details</label>
                        </div>
                        <div style="clear:both;">
                            <label class="sub-label">Selected Vouchers</label>
                            <input type="number" class="form-control input-rounded sub-input"
                                   id="confirm_selected_vouchers"
                                   readonly>
                        </div>
                        <div style="clear:both;">
                            <label class="sub-label">Total amount of seleted Vouchers</label>
                            <input type="text" class="form-control input-rounded sub-input"
                                   id="confirm_total_amount"
                                   readonly>
                        </div>
                        <div style="clear:both;">
                            <label class="sub-label">Currency</label>
                            <input type="text" class="form-control input-rounded sub-input"
                                   id="confirm_currency"
                                   readonly>
                        </div>
                        <div style="clear:both;">
                            <label class="parent-label">Issuer Information</label>
                        </div>
                        <div style="clear:both;">
                            <label class="sub-label">Issuer User ID</label>
                            <input type="text" class="form-control input-rounded sub-input"
                                   id="confirm_issuer_user_id"
                                   readonly>
                            <input type="text" class="form-control input-rounded sub-input"
                                   id="confirm_issuer_user_type"
                                   readonly style="display: none">
                        </div>
                        <div style="clear:both;">
                            <label class="sub-label">Issuer User Name</label>
                            <input type="text" class="form-control input-rounded sub-input"
                                   id="confirm_issuer_user_name"
                                   readonly>
                        </div>
                        <div style="clear:both;">
                            <label class="sub-label">Issuer SOF Type</label>
                            <input type="text" class="form-control input-rounded sub-input"
                                   id="confirm_issuer_sof_type"
                                   readonly>
                        </div>
                        <div style="clear:both;">
                            <label class="sub-label">Issuer SOF ID</label>
                            <input type="text" class="form-control input-rounded sub-input"
                                   id="confirm_issuer_sof_id"
                                   readonly>
                        </div>
                    </div>
                </div>
                <div id="input_body" style="padding-left: 30px;" class="col-sm-6">
                    <label class="parent-label">Select Payment Service</label>
                    <div style="clear:both;">
                        <label class="sub-label">Payment Service *</label>
                        <select class="form-control input-rounded sub-input" id="ddl_services" name="service_id"
                                required>
                            <option value="" currency="">-</option>
                            {% for item in services %}
                                <option value="{{ item.service_id }}" currency="{{ item.currency }}">{{ item.service_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label class="parent-label">Initiator Information</label>
                    <div style="clear:both;">
                        <label class="sub-label">Initiator Name</label>
                        <input type="text" class="form-control input-rounded sub-input" name="initiator_user_name"
                               id="txt_initiator_user_name" disabled value={{ user.username }}>
                    </div>
                    <div style="clear:both;"></div>
                    <label class="parent-label">Input prod references</label>
                    <div style="clear:both;">
                        <label class="sub-label">Prod_ref1</label>
                        <input type="text" class="form-control input-rounded sub-input" name="prod_ref1"
                               id="txt_prod_ref1">
                    </div>
                    <div style="clear:both;">
                        <label class="sub-label">Prod_ref2</label>
                        <input type="text" class="form-control input-rounded sub-input" name="prod_ref2"
                               id="txt_prod_ref2">
                    </div>
                    <div style="clear:both;">
                        <label class="sub-label">Prod_ref3</label>
                        <input type="text" class="form-control input-rounded sub-input" name="prod_ref3"
                               id="txt_prod_ref3">
                    </div>
                    <div style="clear:both;">
                        <label class="sub-label">Prod_ref4</label>
                        <input type="text" class="form-control input-rounded sub-input" name="prod_ref4"
                               id="txt_prod_ref4">
                    </div>
                    <div style="clear:both;">
                        <label class="sub-label">Prod_ref5</label>
                        <input type="text" class="form-control input-rounded sub-input" name="prod_ref5"
                               id="txt_prod_ref5">
                    </div>
                    <div style="clear:both;">
                        <label class="parent-label">Input Reason for Cancellation</label>
                    </div>
                    <div style="clear:both;">
                        <textarea rows="2" style="width: 100%;" name="reason_for_cancel"
                                  id="txt_reason_for_cancel"></textarea>
                    </div>
                    <div style="clear:both;">
                        <label class="parent-label">Input Payee information</label>
                    </div>
                    <div style="clear:both;">
                        <label class="sub-label">User ID *</label>
                        <input type="number" class="form-control input-rounded sub-input" name="payee_user_id"
                               id="txt_payee_user_id" required>
                    </div>
                    <div style="clear:both;">
                        <label class="sub-label">Display Payee Name</label>
                        <input type="text" class="form-control input-rounded sub-input" name="payee_user_name"
                               id="txt_payee_user_name" disabled>
                    </div>
                    <div style="clear:both;">
                        <label class="sub-label">Cash SOF ID *</label>
                        <select class="form-control input-rounded sub-input" id="ddl_payee_sof_id"
                                name="initiator_payee_id" required>
                            <option value="">-</option>
                        </select>
                    </div>
                </div>
                <div style="clear:both; margin-bottom:60px; padding-right:40px">
                    <input type="submit" class="btn btn-success pull-right col-sm-2 input-rounded" value="Next">
                    <input type="button" class="btn pull-right col-sm-2 input-rounded" onclick="$('#cancelModal').modal('hide')" value="Cancel">
                </div>
                <div style="clear: both;"></div>
            </div>
        </form>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="cancelRequestModal" style="text-align: center; margin-top: 150px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div style="margin-top: 40px;">
                    <span style="font-weight: bold; font-size: 20px;">Cancellation request has been created</span>
                </div>
                <div style="margin-top: 30px;">
                    <span style="font-size: 15px;">Cancellation request ID</span>
                </div>
                <table style="width: 60%; align: center; margin-left: 20%; border-collapse: separate; border-spacing: 0px 10px;">
                    <tbody>
                        <tr bgcolor="#eee"><td class="text-center" colspan="2" style="font-size: 15px; font-weight:bold;" id = "voucher_cancel_id"></td></tr>
                        <input type="hidden" id="reference_id_value">

                        <tr bgcolor="#eee"><td class="text-left" style="font-size: 15px;">Total Vouchers</td><td class="text-right" id = "total_vouchers"></td></tr>
                        <tr bgcolor="#eee"><td class="text-left" style="font-size: 15px;">Total Amount</td><td class="text-right" id = "total_amount"></td></tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align: center; margin-top: 40px; margin-bottom: 40px">
                <button id="btn_dialog_done" type="button" class="btn btn-default"
                        style="font-size: 15px; font-weight: bold; border-radius: 4px; width: 25%; background-color: #eee;"
                        data-dismiss="modal">Done</button>
                {% if request|has_any_permission:"CAN_APPROVE_VOUCHER_ADJUSTMENT" %}
                <button id="btn_dialog_approve_cancelation_request" type="button" class="btn btn-success" style="margin-left: 10px; font-size: 15px; font-weight: bold; border-radius: 4px; width: 25%;">Approve</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    function validateCancel() {
        var dialog = $("#cancelModal");
        if($('#cancelModal #mForm')[0].checkValidity()) {
            var product_service_id = dialog.find("#ddl_services").val();
            var product_ref1 = dialog.find("#txt_prod_ref1").val();
            var product_ref2 = dialog.find("#txt_prod_ref2").val();
            var product_ref3 = dialog.find("#txt_prod_ref3").val();
            var product_ref4 = dialog.find("#txt_prod_ref4").val();
            var product_ref5 = dialog.find("#txt_prod_ref5").val();
            var reason_for_cancel = dialog.find("#txt_reason_for_cancel").val();
            var initiator_user_id = dialog.find("#txt_initiator_user_id").val();
            var initiator_sof_id = dialog.find("#ddl_initiator_sof_id").val();
            var issuer_user_id = dialog.find("#confirm_issuer_user_id").val();
            var issuer_user_type_name = dialog.find("#confirm_issuer_user_type").val();

            var issuer_user_type_id;
            switch(issuer_user_type_name){
                case "customer":
                    issuer_user_type_id = "1";
                    break;
                case "agent":
                    issuer_user_type_id = "2";
                    break;
                case "system-user":
                    issuer_user_type_id = "3";
                    break;
            }

            var issuer_sof_id = dialog.find("#confirm_issuer_sof_id").val();
            var issuer_sof_type_name = dialog.find("#confirm_issuer_sof_type").val();

            var issuer_sof_type_id;
            switch(issuer_sof_type_name){
                case "Bank":
                    issuer_sof_type_id = "1";
                    break;
                case "Cash":
                    issuer_sof_type_id = "2";
                    break;
                case "Card":
                    issuer_sof_type_id = "3";
                    break;
            }

            var payee_user_id = dialog.find("#txt_payee_user_id").val();
            var payee_sof_id = dialog.find("#ddl_payee_sof_id").val();

            var currency = dialog.find("#confirm_currency").val();
            var total_vouchers = dialog.find("#confirm_selected_vouchers").val();
            var total_amount = dialog.find("#confirm_total_amount").val();

            var vouchers = [];
            var checkedInput = $("#tbl_voucher").find("input[type='Checkbox'][name='voucher_checkbox']:checked");
            $(checkedInput).each(function (index, value) {
                var id = $(value).val();
                var voucher_amount = $(value).parent().parent().find("#voucher_amount").text();
                var voucher = {
                    "id": id,
                    "amount": voucher_amount.replace(/,/g,'')
                };
                vouchers.push(voucher)
            });
            var data = {
                "product_service_id": product_service_id,
                "product_ref1": product_ref1,
                "product_ref2": product_ref2,
                "product_ref3": product_ref3,
                "product_ref4": product_ref4,
                "product_ref5": product_ref5,
                "initiator_user_id": initiator_user_id,
                "initiator_sof_id": initiator_sof_id,
                "issuer_user_id": issuer_user_id,
                "issuer_user_type_id": issuer_user_type_id,
                "issuer_user_type_name": issuer_user_type_name,
                "issuer_sof_id": issuer_sof_id,
                "issuer_sof_type_id": issuer_sof_type_id,
                "payee_user_id": payee_user_id,
                "payee_sof_id": payee_sof_id,
                "total_vouchers": total_vouchers,
                "total_amount": total_amount.replace(/,/g,''),
                "currency": currency,
                "reason_for_cancel": reason_for_cancel,
                "vouchers": JSON.stringify(vouchers)
            }

            var url =  '{% url 'voucher:cancel' %}';
            $.ajax({
                url : url,
                type : "POST",
                data: data,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (response) {
                    if(response.status_code == 'success'){
                        $("#cancelRequestModal #voucher_cancel_id").text("#" + response.voucher_cancel_id);
                        $("#cancelRequestModal #reference_id_value").val(response.reference_id);
                        $("#cancelRequestModal #total_vouchers").text(total_vouchers);
                        $("#cancelRequestModal #total_amount").text(total_amount + " " + currency);
                        $("#cancelModal").modal('hide');
                        $("#cancelRequestModal").modal('show');
                    }else{
                        var errorMessage;
                        switch (response.status_message) {
                            case "Payment with non-existing SOF of Payer is not allowed":
                                errorMessage = "Payment with non-existing SOF of Issuer is not allowed";
                                break;
                            case "Invalid payer information":
                                errorMessage = "Invalid issuer information";
                                break;
                            default:
                                errorMessage = response.status_message
                        }
                        swal({
                            title: errorMessage,
                            type: "error",
                            confirmButtonColor: "#2ECC71",
                            confirmButtonText: "Close",
                            closeOnConfirm: true
                        });
                    }
                }
            });
        }
        return false;
    }

    getAgentDetails = function (event) {
        var url = '{% url 'agents:agent_details_json' %}';
        var agentId = $(event.data.source).val();
        $(event.data.name).val("");
        if (agentId == undefined || agentId == null || agentId == "") return;
        $.ajax({
            url: url,
            type: "POST",
            data: {"agent_id": agentId},
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                if (response.invalid_access_token) {
                    var url = window.location.origin + "/admin-portal/authentications/login/?next=/admin-portal/voucher/";
                    window.location.replace(url);
                    location.reload();
                } else {
                    var jsonResponse = JSON.parse(response);
                    var firstName = "";
                    var lastName = "";
                    if (jsonResponse.data != null) {
                        firstName = jsonResponse.data.first_name;
                        lastName = jsonResponse.data.last_name;
                        lastName = lastName == null ? "" : lastName;
                        firstName = firstName == null ? "" : firstName;
                    }
                    $(event.data.name).val(lastName == ""? firstName: lastName + " " + firstName)
                }
            }
        });
    };

    getCashSofs = function (event) {
        var url = '{% url 'cash_sofs:cash_sof_json' %}';
        var destinationControl = $(event.data.sof);
        destinationControl
            .find('option')
            .remove()
            .end()
            .append('<option value="" selected>-</option>');
        var agentId = $(event.data.source).val();
        if (agentId == undefined || agentId == null || agentId == "") return;

        $.ajax({
            url: url,
            type: "POST",
            data: {"agent_id": agentId},
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                if (response.invalid_access_token) {
                    var url = window.location.origin + "/admin-portal/authentications/login/?next=/admin-portal/voucher/";
                    window.location.replace(url);
                    location.reload();
                } else {
                    var jsonResponse = JSON.parse(response);
                    sofs = jsonResponse.data;
                    destinationControl
                        .find('option')
                        .remove()
                        .end()
                        .append('<option value="" selected>-</option>');
                    for (index in sofs) {
                        destinationControl.append("<option value='" + sofs[index] + "'>" + sofs[index] + "" + "</option>");
                    }
                }
            }
        });
    };

    getProfileAndSof = function (event) {
        getAgentDetails(event);
        getCashSofs(event);
    };

    bindTriggerChange = function (selectors, updateFunc) {
        $(selectors.source).on("change", selectors, updateFunc);
    };

    initCancelDialog = function () {
        var dialog = $("#cancelModal");
        var issuerSelector = {
            "source": "#cancelModal #confirm_issuer_user_id",
            "name": "#cancelModal #confirm_issuer_user_name"
        };
        var payeeSelector = {
            "source": "#cancelModal #txt_payee_user_id",
            "name": "#cancelModal #txt_payee_user_name",
            "sof": "#cancelModal #ddl_payee_sof_id",
        };
        var initiatorSelector = {
            "source": "#cancelModal #txt_initiator_user_id",
            "name": "#cancelModal #txt_initiator_user_name",
            "sof": "#cancelModal #ddl_initiator_sof_id",
        };
        bindTriggerChange(issuerSelector, getAgentDetails);
        bindTriggerChange(payeeSelector, getProfileAndSof);
        bindTriggerChange(initiatorSelector, getProfileAndSof);
    }

</script>



