{% extends "base.html" %}
{% load static %}
{% load permissions_filter %}
{% block body_stylesheet %}
{{ block.super }}
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="panel mb25">
    <div class="panel-heading">
        <h3>View Voucher Detail</h3>
    </div>
        <!--If success return green notification and return red notification if message is failed-->
    {% for msg in msgs.values %}
        {% if msg is not None %}
            <div class="col-xs-12">
                <div class="alert
                {% if "successfully" in msg %}
                    alert-success
                {% else %}
                    alert-danger
                {% endif %}
                alert-dismissable" id="msg-update-client">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ msg }}</strong>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form id="submit-form" class="form-horizontal" role="form" method="post" 
                        action="">
                    {% csrf_token %}

                    <!-- Begin section 1 -->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"><strong>Voucher Details</strong></label>
                            <div class="col-sm-8"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Voucher ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="voucher_id" id="txt_voucher_id"
                                       value="{{ data.voucher_id|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Voucher Type</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="status" id="txt_voucher_type"
                                       value="{{ data.voucher_type|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Claim Status</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="status" id="txt_claim_status"
                                       value="{{ data.is_used|yesno:"Used,Unused,''" }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Delete Status</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="status" id="txt_delete_status"
                                       value="{{ data.is_deleted|yesno:"Deleted,None,''" }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Amount</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="status" id="txt_amount"
                                       value="{{ data.amount|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Fee</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="status" id="txt_fee"
                                       value="{{ data.fee|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Currency</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="status" id="txt_currency"
                                       value="{{ data.currency|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Expiration Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="status" id="txt_expiration_date"
                                       value="{{ data.expire_date_timestamp|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Create Timestamp</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="status" id="txt_create_timestamp"
                                       value="{{ data.created_timestamp|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label" id="lbl_agent_id">Last Update Time</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="agent_id" id="txt_last_update_time"
                                       value="{{ data.last_updated_timestamp|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Begin section 2 -->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"><strong>Stakeholders</strong></label>
                            <div class="col-sm-8"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"></div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Cash In Order ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="status" id="txt_cash_in_oder_id"
                                       value="{{ data.cash_in_order_id|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label" id="lbl_agent_id">Cash Out Order ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="agent_id" id="txt_cash_out_oder_id"
                                       value="{{ data.cash_out_order_id|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Cash In User ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="status" id="txt_cash_in_user_id"
                                       value="{{ data.cash_in_user_id|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label" id="lbl_agent_id">Cash Out User ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="agent_id" id="txt_cash_out_user_id"
                                       value="{{ data.cash_out_user_id|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Cash In User Type</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="status" id="txt_cash_in_user_type"
                                       value="{{ data.cash_in_user_type|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label" id="lbl_agent_id">Cash Out User Type</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="agent_id" id="txt_cash_out_user_type"
                                       value="{{ data.cash_out_user_type|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Begin section 3 -->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"><strong>Product Reference</strong></label>
                            <div class="col-sm-8"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"></div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label" id="lbl_agent_id">Product Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="product_name" id="txt_product_name"
                                       value="{{ data.product.product_name|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label" id="lbl_agent_id">Product Ref 1</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="agent_id" id="txt_product_ref1"
                                       value="{{ data.product.product_ref1|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label" id="lbl_agent_id">Product Ref 2</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="agent_id" id="txt_product_ref2"
                                       value="{{ data.product.product_ref2|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label" id="lbl_agent_id">Product Ref 3</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="agent_id" id="txt_product_ref3"
                                       value="{{ data.product.product_ref3|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label" id="lbl_agent_id">Product Ref 4</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="agent_id" id="txt_product_ref4"
                                       value="{{ data.product.product_ref4|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label" id="lbl_agent_id">Product Ref 5</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="agent_id" id="txt_product_ref5"
                                       value="{{ data.product.product_ref5|default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>

                    <!-- End section 8 - row 8 -->
                    <div class="pull-right">
                        <a href="{% url 'voucher:voucher' %}">
                            <input id="btn_back" class="btn text-left mb15" type="button" value="Back"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
{{ block.super }}
{% endblock %}