{% extends "base.html" %}
{% load static %}
{% load permissions_filter %}
{% block content %}
<style>
    #btn_add_new_voucher {
        background-color: #337ab7;
        border-color: #337ab7;
        font-size: 14px;
        border-radius: 3px;
        position: relative;
        top: 15px;
        right: -20px;
        hover: red !important;
    }
    .layout-fixed-header {
         background-color: white;
    }

    .main-panel {
        background-color: white;
    }

    #btn_add_new_voucher strong {
        font-weight: bold !important;
        font-size: 20px;
    }

    #btn_add_new_voucher span {
        position: relative;
        top: -1px;
    }

</style>
    <div class="col-md-12">
    <div class="panel mb25">
        <div class="panel-heading border mb15">
           <div>
               <div class="pull-left"><h3>Voucher List</h3></div>
               {% if permissions.CAN_CREATE_VOUCHER_ACTION %}
               <div class="pull-right" style="margin-top: 15px;margin-right: 15px;">
                    <a href="{% url 'voucher:create_new_voucher' %}">
                        <button id="btn_add_new_voucher" class="btn btn-primary btn-block btn-md mb15"><strong>+</strong> <span>Add New Voucher</span></button>
                    </a>
               </div>
               {%endif%}
               <div class="clearfix"></div>
           </div>
        </div>
        {% for message in messages %}
        <div class="col-xs-12">
            <div class='alert
                        alert-success
                        alert-dismissable' id="msg-add-service">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ message|capfirst }}</strong>
            </div>
        </div>
        {% endfor %}
        {% if msg is not None %}
        <div class="col-xs-12 mb5">
            <div class="alert alert-success alert-dismissable" id="msg-update-client">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ msg }}</strong>
            </div>
        </div>
        {% endif %}
        {% if add_client_msg is not None %}
        <div class="col-xs-12 mb5">
            <div class="alert alert-success alert-dismissable" id="msg-add-client">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ add_client_msg }}</strong>
            </div>
        </div>
        {% endif %}
        <div class="col-xs-12 mb5">
            <div class="alert alert-danger alert-dismissable" style="display: none;" id="alert-client">
                <button type="button" class="close" onclick="$('.alert').hide()">×</button>
                <strong id="alert-msg"></strong>
            </div>
        </div>

        <div class="panel-body">
            <form id="submit-form" class="form-horizontal" role="form" method="post" action="{% url 'voucher:voucher' %}">
            {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">Voucher ID</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control input-rounded" name="voucher_id" id="txt_voucher_id" value="{{ voucher_id }}">
                    </div>
                    <label class="col-sm-2 control-label">Claim Status</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="ddl_claim_status" name="claim_status" >
                            {% for item in claim_status_list %}
                                {%if item.value == selected_status%}
                                <option value="{{ item.value }}" selected>{{ item.name }}</option>
                                {% else %}
                                <option value="{{ item.value }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Hold Status</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="ddl_hold_status" name="hold_status" >
                            {% for item in hold_status_list %}
                                {%if item.value == hold_status%}
                                <option value="{{ item.value }}" selected>{{ item.name }}</option>
                                {% else %}
                                <option value="{{ item.value }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Cash In User Type</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-rounded"
                               name="user_type_cash_in"
                               value="Agent"
                               id="txt_user_type_cash_in" readonly>
                    </div>
                    <label class="col-sm-2 control-label">Cash In ID</label>
                    <div class="col-xs-2">
                        <input type="number" class="form-control input-rounded"
                               name="cash_in_id"
                               value="{{ cash_in_id|default_if_none:'' }}"
                               id="txt_cash_in_id">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Cash Out User Type</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-rounded"
                               name="user_type_cash_out"
                               value="Agent" readonly
                               id="txt_user_type_cash_out">
                    </div>
                    <label class="col-sm-2 control-label">Cash Out ID</label>
                    <div class="col-xs-2">
                        <input type="number" class="form-control input-rounded"
                               name="cash_out_id"
                               value="{{ cash_out_id|default_if_none:'' }}"
                               id="txt_cash_out_id">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Create Date From</label>
                    <div class="col-sm-2">
                        <input type="date" class="form-control input-rounded"
                               name="create_date_from"
                               value="{{ create_date_from|default_if_none:'' }}"
                               id="dtp_create_date_from">
                    </div>
                    <label class="col-sm-2 control-label">To</label>
                    <div class="col-xs-2">
                        <input type="date" class="form-control input-rounded"
                               name="create_date_to"
                               value="{{ create_date_to|default_if_none:'' }}"
                               id="dtp_create_date_to">
                    </div>
                </div>
                 <div class="form-group">
                        <label class="col-sm-2 control-label">Expiration Date From</label>
                        <div class="col-sm-2">
                            <input type="date" class="form-control input-rounded"
                                   name="expiration_date_from"
                                   value="{{ expiration_date_from|default_if_none:'' }}"
                                   id="dtp_expiration_date_from">
                        </div>
                        <label class="col-sm-2 control-label">To</label>
                        <div class="col-xs-2">
                            <input type="date" class="form-control input-rounded"
                                   name="expiration_date_to"
                                   value="{{ expiration_date_to|default_if_none:'' }}"
                                   id="dtp_expiration_date_to">
                        </div>

                        <div class="col-xs-1">
                            <input id="btn_search" class="btn btn-success btn-block" type="button" name="search_shown"
                                   onclick="searchVouchers()" value="Search">
                        </div>
                 </div>
            </form>

            <div class="no-more-tables" style="position: absolute;">
                {% if permissions.CAN_HOLD_VOUCHER_ACTION or permissions.CAN_UNHOLD_VOUCHER_ACTION %}
                <div class="dropdown pull-right" id="ddl_select_action" style="margin-top: -50px;">
                    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Select Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% if permissions.CAN_HOLD_VOUCHER_ACTION %}
                        <li><a href="#">Hold</a></li>
                        {%endif%}
                        {% if permissions.CAN_UNHOLD_VOUCHER_ACTION %}
                        <li><a href="#">Unhold</a></li>
                        {%endif%}
                    </ul>
                </div>
                {%endif%}
                <table id='tbl_voucher' class="table table-bordered table-striped mb0">
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="select-all" id="select-all" /></th>
                        <th id="ddl_voucher_id">Voucher ID</th>
                        <th id="ddl_voucher_type">Voucher Type</th>
                        <th id="ddl_voucher_amount">Voucher Amount</th>
                        <th id="ddl_voucher_fee">Voucher Fee</th>
                        <th id="ddl_status">Claim Status</th>
                        <th id="ddl_hold_status">Hold Status</th>
                        <th id="ddl_delete_status">Delete Status</th>
                        <th id="ddl_create_date">Create Date</th>
                        <th id="ddl_update_date">Update Date</th>
                        <th id="ddl_expiration_date">Expiration Date</th>
                        <th id="ddl_currency">Currency</th>
                        <th id="ddl_action">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                        <tr>
                            <td><input type="checkbox" name="checkbox-{{ forloop.counter0 }}" id="chk_voucher_{{ i.voucher_id|default_if_none:'' }}"/></td>
                            <td>{{ i.voucher_id|default_if_none:'' }}</td>
                            <td>{{ i.voucher_type|default_if_none:'' }}</td>
                            <td>{{ i.amount|default_if_none:'' }}</td>
                            <td>{{ i.fee|default_if_none:'' }}</td>
                            <td>{{ i.is_used|yesno:"Used,Unused,''"  }}</td>
                            <td>{{ i.is_on_hold|yesno:"Hold,Unhold,''"  }}</td>
                            <td>{{ i.is_deleted|yesno:"Deleted,None,''" }}</td>
                            <td>{{ i.created_timestamp|default_if_none:'' }}</td>
                            <td>{{ i.last_updated_timestamp|default_if_none:'' }}</td>
                            <td>{{ i.expire_date_timestamp|default_if_none:'' }}</td>
                            <td>{{ i.currency|default_if_none:'' }}</td>
                            <td>
                                {% if permissions.CAN_VIEW_VOUCHER_DETAILS %}
                                <button id="btn_detail" class="btn btn-outline mb5 btn-xs btn-info" onclick="location.href='{% url 'voucher:voucher_detail' i.voucher_id %}'">Detail</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body_js %}
{{ block.super }}
<script>
    var searchVouchers = function(){
        var from_date = $('#dtp_create_date_from').val();
        var to_date = $('#dtp_create_date_to').val();
        if(from_date != '' && to_date != '') {
            var date_from = new Date(from_date);
            var date_to = new Date(to_date);
            if(date_from > date_to) {
                $('#alert-client').css('display', 'block');
                $('#alert-client #alert-msg').text('Create Date To cannot be less than Create Date From');
                return;
            }
        }
        var expire_from_date = $('#dtp_expiration_date_from').val();
        var expire_to_date = $('#dtp_expiration_date_to').val();
        if(expire_from_date != '' && expire_to_date != '') {
            var expire_date_from = new Date(expire_from_date);
            var expire_date_to = new Date(expire_to_date);
            if(expire_date_from > expire_date_to) {
                $('#alert-client').css('display', 'block');
                $('#alert-client #alert-msg').text('Expiration Date To cannot be less than Expiration Date From');
                return;
            }
        }
        document.getElementById("submit-form").submit();
    };
    $('#select_all').click(function(event) {
  if(this.checked) {
      // Iterate each checkbox
      $(':checkbox').each(function() {
          this.checked = true;
      });
  }
  else {
    $(':checkbox').each(function() {
          this.checked = false;
      });
  }
});
</script>
{% endblock %}