<style type="text/css">
    .parent-label {
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .sub-label {
        width: 130px;
        margin-right: 15px;
        margin-top: 10px;
        float: left;
        text-align: right;
        font-size: 15px;
        vertical-align: middle;
    }

    .sub-input {
        width: 185px;
        float: left;
        margin-top: 5px;
    }

    .large-modal-dialog {
        width: 800px;
    }

    #confirmation_body {
        padding: 25px;
        padding-right: 0px;
    }

    .confirmation_border {
        border: 1px solid black;
        padding: 10px;
        padding-right: 32px;
        padding-bottom: 20px;
        background-color: #fcfaf7;
    }

    #input_body {
        padding: 35px;
    }
</style>

<div class="modal" tabindex="-1" role="dialog" id="refundModal" style="vertical-align: middle; padding-top: 150px;">
    <div class="modal-dialog large-modal-dialog" role="document">
        <form method="POST" class="form-horizontal" role="form" id="mForm" onsubmit="return validate(this)">
        <div class="modal-content">
            <div id="confirmation_body" class="col-sm-6">
                <div class="confirmation_border pull-left">
                    <div>
                        <label class="parent-label">Confirmation Details</label>
                    </div>
                    <div style="clear:both;">
                        <label class="sub-label">Voucher ID</label>
                        <input type="text" class="form-control input-rounded sub-input"
                               id="confirm_voucher_id"
                               readonly>
                        <input type="text" style="display:none" class="form-control input-rounded sub-input"
                               id="id"
                               readonly>
                        <input type="text" style="display:none" class="form-control input-rounded sub-input"
                               id="currency"
                               readonly>
                    </div>
                    <div style="clear:both;">
                        <label class="sub-label">Voucher Amount</label>
                        <input type="text" class="form-control input-rounded sub-input"
                               id="confirm_amount"
                               readonly>
                    </div>
                    <div style="clear:both;">
                        <label class="sub-label">Voucher Fee</label>
                        <input type="text" class="form-control input-rounded sub-input" id="confirm_fee"
                               readonly>
                    </div>
                    <div style="clear:both;">
                        <label class="parent-label">Product references</label>
                    </div>
                    <div style="clear:both;">
                        <label class="sub-label">Prod_ref3</label>
                        <input type="text" class="form-control input-rounded sub-input"
                               id="confirm_prod_ref3"
                               readonly>
                    </div>
                    <div style="clear:both;">
                        <label class="sub-label">Prod_ref4</label>
                        <input type="text" class="form-control input-rounded sub-input" name="prod_ref4"
                               id="confirm_prod_ref4"
                               readonly>
                    </div>
                    <div style="clear:both;">
                        <label class="sub-label">Prod_ref5</label>
                        <input type="text" class="form-control input-rounded sub-input"
                               id="confirm_prod_ref5"
                               readonly>
                    </div>
                </div>
            </div>
            <div id="input_body" style="padding-left: 30px;" class="col-sm-6">
                <label class="parent-label">Input Refund Details</label>
                <div style="clear:both;">
                    <label class="sub-label">New passcode</label>
                    <input type="text" class="form-control input-rounded sub-input" name="prod_ref2" id="txt_prod_ref2">
                </div>
                <div style="clear:both;">
                    <label class="parent-label">Product references</label>
                </div>
                <div style="clear:both;">
                    <label class="sub-label">Prod_ref3</label>
                    <input type="text" class="form-control input-rounded sub-input" name="prod_ref3" id="txt_prod_ref3">
                </div>
                <div style="clear:both;">
                    <label class="sub-label">Prod_ref4</label>
                    <input type="text" class="form-control input-rounded sub-input" name="prod_ref4" id="txt_prod_ref4">
                </div>
                <div style="clear:both;">
                    <label class="sub-label">Prod_ref5</label>
                    <input type="text" class="form-control input-rounded sub-input" name="prod_ref5" id="txt_prod_ref5">
                </div>
                <div style="clear:both;">
                    <label class="parent-label">Input Refund Reason</label>
                </div>
                <div style="clear:both;">
                    <label class="sub-label">Refund Reason</label>
                    <input type="text" class="form-control input-rounded sub-input" name="reason_for_refund" id="txt_reason_for_refund" required>
                </div>
            </div>
            <div style="clear:both; margin-bottom:60px; padding-right:40px">
                <input type="submit" class="btn btn-success pull-right col-sm-2 input-rounded" value="Next">
            </div>
            <div style="clear: both;"></div>
        </div>
        </form>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="refundRequestModal" style="text-align: center; margin-top: 150px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div style="margin-top: 40px;">
                    <span style="font-weight: bold; font-size: 20px;">Refund request has been created</span>
                </div>
                <div style="margin-top: 30px;">
                    <span style="font-size: 15px;">Refund request ID</span>
                </div>
                <div style="width: 60%; margin-top: 20px; display: inline-block; background-color: #eee;">
                    <span id="refundRequestId" style="font-size: 15px; font-weight: bold;"></span>
                </div>
            </div>
            <div style="text-align: center; margin-top: 80px; margin-bottom: 40px">
                <button id="btn_dialog_done" type="button" class="btn btn-default"
                        style="font-size: 15px; font-weight: bold; border-radius: 4px; width: 25%;"
                        data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<script>
    function validate(form) {
        if($('#mForm')[0].checkValidity()) {
            var voucher_id = $("#refundModal #id").val();
            var original_voucher_id = $("#refundModal #confirm_voucher_id").val()
            var product_ref2 = $("#refundModal #txt_prod_ref2").val();
            var product_ref3 = $("#refundModal #txt_prod_ref3").val();
            var product_ref4 = $("#refundModal #txt_prod_ref4").val();
            var product_ref5 = $("#refundModal #txt_prod_ref5").val();
            var reason_for_refund = $("#txt_reason_for_refund").val();
            var amount = $("#refundModal #confirm_amount").val();
            var currency = $("#refundModal #currency").val();

            var voucher_refund_request = {
                            "voucher_id": voucher_id,
                            "product_ref2": product_ref2,
                            "product_ref3": product_ref3,
                            "product_ref4": product_ref4,
                            "product_ref5": product_ref5,
                            "reason_for_refund": reason_for_refund,
                            "original_voucher_id": original_voucher_id,
                            "amount": amount,
                            "currency": currency
                        }
            var url =  '{% url 'voucher:refund_request' %}';
            $.ajax({
                url : url,
                type : "POST",
                data: voucher_refund_request,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (response) {
                    $("#refundRequestId").text("#" + response.voucher_refund_id);
                }
            });

            $("#refundModal").modal('hide');
            $("#refundRequestModal").modal('show');
        }
        return false;
    }
</script>



