{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>
        .image-area {
            height: 150px;
            width: 150px;
            line-height: 150px;
        }
    </style>
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Add Category</h3>
    </div>
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="col-xs-12">
            <div class="alert alert-success alert-dismissable" id="msg-success">
                <a class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ message }}</strong>
            </div>
        </div>
        {% endif %}
    {% endfor %}
        <div class="panel-body">
          <form id="submit-form" class="form-horizontal" role="form" method="post" action="{% url 'category:category_add' %}">
                {% csrf_token %}
                 <div class="col-sm-12 form-group" style="margin-bottom: 25px;">
                    <div class="col-sm-2"></div>
                    <label class="col-sm-2 control-label">Enable Category</label>
                    <div class="col-sm-8">
                        <div class="row">
                             <div class="col-sm-1">
                                 <label class="switch switch-sm" style="margin-top: 6px;">
                                <input type="checkbox"
                                       name="category_status" {% if is_active %}checked{% endif %}
                                       id="tog_enable">
                                <span class="slider round">
                                    <i class="handle"></i>
                                </span>
                                </label>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-2"></div>
                    <label class="col-sm-2 control-label" style="font-size: 20px;">Information</label>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-2"></div>
                    <label class="col-sm-2 control-label">Category Name *</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control input-rounded" name="category_name" value="{{ name | default_if_none:'' }}" id="txt_category_name" required/>
                    </div>
                </div>
                 <div class="col-sm-12 form-group">
                     <div class="col-sm-2"></div>
                    <label class="col-sm-2 control-label">Category Description</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control input-rounded" name="category_description" value="{{ description | default_if_none:'' }}" id="txt_category_description"/>
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-2"></div>
                    <label class="col-sm-2 control-label">Category Image</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control input-rounded" name="category_image" value="{{ image_url | default_if_none:'' }}" id="txt_category_image_url"/>
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-5">
                        <div class="image-area">
                             <img id="img_Image" onerror="this.src='{% static 'img/no-image.png' %}'" src="{{ image_url | default_if_none:'' }}" style="width: 150px; height: 150px; border: 1px solid #c0c0c0;">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <a href="{% url 'category:categories' %}">
                            <input id="btn_cancel" class="btn" type="button" value="Cancel"/>
                        </a>
                        <a>
                            <input id="btn_add" class="btn btn-success" type="submit" value="Add">
                        </a>
                    </div>
                </div>
            </form>
    </div>
</div>

{% endblock %}
{% block body_js %}
{{ block.super }}
    <script>
        $("#txt_category_image_url").on("keyup paste change", function () {
            var url = $(this).val();
            $("#img_Image").attr("src", url);
        });

    </script>
{% endblock %}