{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>
         .image-area {
            height: 150px;
            width: 150px;
            line-height: 150px;
        }

         .header-background {
            background-color: #e4e1e1;
        }

        .image-table {
            text-align: center;
            height: 75px;
            width: 75px;
            line-height: 75px;
        }

        .category-arrow {
            position: absolute;
            left: 4px;
        }

        .fa-angle-up {
            top: -1px;
        }
    </style>
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Edit Category</h3>
    </div>
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="col-xs-12">
            <div class="alert alert-success alert-dismissable" id="msg-success">
                <a class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ message }}</strong>
            </div>
        </div>
        {% endif %}
    {% endfor %}
      <div class="col-xs-12 mb5">
        <div class="alert alert-success alert-dismissable" style="display: none;" id="alert-client">
            <button type="button" class="close" onclick="$('.alert').hide()">×</button>
            <strong id="alert-msg"></strong>
        </div>
      </div>
        <div class="panel-body">
          <form id="submit-form" class="form-horizontal" role="form" method="post" action="{% url 'category:category_edit' category.id %}">
                {% csrf_token %}
                 <div class="col-sm-12 form-group" style="margin-bottom: 25px;">
                    <div class="col-sm-1"></div>
                    <label class="col-sm-2 control-label">Enable Category</label>
                    <div class="col-sm-8">
                        <div class="row">
                             <div class="col-sm-1">
                                 <label class="switch switch-sm" style="margin-top: 6px;">
                                <input type="checkbox"
                                       name="category_status" {% if category.is_active %}checked{% endif %}
                                       id="tog_enable">
                                <span class="slider round">
                                    <i class="handle"></i>
                                </span>
                                </label>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-1"></div>
                    <label class="col-sm-2 control-label" style="font-size: 20px;">Information</label>
                    <div class="col-sm-8">
                        <div id="btn_information_expand" class="btn-arrow-down pull-right" onclick="toggle('info')" style="outline: none;border-radius: 50%;height: 27px;width: 27px;border: 1px solid grey; cursor: pointer;"><span style="position: relative;"><i class="category-arrow fa fa-angle-up fa-2x" id="info-chev"></i></span></div>
                    </div>
                </div>
                <div id="toggle-category-info">
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2 control-label">Category ID</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-rounded" name="category_id" value="{{ category.id | default_if_none:'' }}" id="txt_category_id" readonly/>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2 control-label">Category Name *</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-rounded" name="category_name" value="{{ category.name | default_if_none:'' }}" id="txt_category_name" required/>
                        </div>
                    </div>
                     <div class="col-sm-12 form-group">
                         <div class="col-sm-1"></div>
                        <label class="col-sm-2 control-label">Category Description</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-rounded" name="category_description" value="{{ category.description | default_if_none:'' }}" id="txt_category_description"/>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2 control-label">Category Image</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-rounded" name="category_image" value="{{ category.image_url | default_if_none:'' }}" id="txt_category_image_url" onblur="updateImage(this.value)"/>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-5">
                            <div class="image-area">
                                 <img id="img_Image" onerror="this.src='{% static 'img/no-image.png' %}'" src="{{ category.image_url | default_if_none:'' }}" height="150" width="150">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="display: flex; justify-content: center;">
                    <div class="panel-body" style="margin-top:20px;border-top: 1px solid #b9b4b4 !important; width: 81.75%;">
                    <label class="col-sm-5" style="font-size: 19px;margin-bottom: 20px;">Products in Category</label>
                    <div id="btn_products_expand" class="btn-arrow-down pull-right" onclick="toggle('product')" style="outline: none;border-radius: 50%;height: 27px;width: 27px;border: 1px solid grey; cursor: pointer;"><span style="position: relative;"><i id='product-chev' class="category-arrow fa fa-angle-down fa-2x"></i></span></div>
                    <div id="toggle-product-list" hidden>
                         <table class="table table-striped" id="tbl_products">
                          <thead>
                            <tr>
                              <th scope="col" class="header-background">Product ID</th>
                              <th scope="col" class="header-background">Product Name</th>
                              <th scope="col" class="header-background">Product Description</th>
                              <th scope="col" class="header-background">Product Image</th>
                              <th scope="col" class="header-background">Product Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {%for i in products%}
                            <tr>
                              <td scope="row">{{ i.id }}</td>
                              <td>{{ i.name }}</td>
                              <td>{{ i.description }}</td>
                              <td><div class="image-table"><img id="img_product_image" onerror="this.src='{% static 'img/no-image.png' %}'" src="{{ i.image_url | default_if_none:'' }}" height="75" width="75"></div></td>
                              <td>
                                    <label class="switch switch-sm">
                                    <input type="checkbox" onchange="changeProductStatus({{ i.id }}, this, {{ i.tem_pro }})"
                                           name="product_status" {% if i.is_active %}checked{% endif %}
                                           id="tog_product_enable">
                                    <span class="slider round">
                                        <i class="handle"></i>
                                    </span>
                                    </label>
                            </td>
                            </tr>
                            {%endfor%}
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <a href="{% url 'category:categories' %}">
                            <input id="btn_cancel" class="btn" type="button" value="Cancel"/>
                        </a>
                        <a>
                            <input id="btn_save" class="btn btn-success" type="submit" value="Save">
                        </a>
                    </div>
                </div>
            </form>
    </div>
</div>

{% endblock %}
{% block body_js %}
{{ block.super }}
    <script>

         function showErrorMessage(msg) {
            $("#alert-msg").text(msg);
            $('#alert-client').removeClass("alert-success");
            $('#alert-client').addClass("alert-danger");
            $("#msg-success").prop("hidden", true);
            $("#alert-client").show();
            $("html, body").animate({scrollTop: 0}, "slow");
        }

        function showSuccessMessage(msg) {
            $("#alert-msg").text(msg);
            $('#alert-client').removeClass("alert-danger");
            $('#alert-client').addClass("alert-success");
            $("#msg-success").prop("hidden", true);
            $("#alert-client").show();
            $("html, body").animate({scrollTop: 0}, "slow");
        }
        var image_category_elm = document.getElementById('img_Image');
        var updateImage = function(url) {
            image_category_elm.src = url;
        };
        var changeProductStatus = function(product_id, elem, product) {
            var updatedStatus;
            if ($(elem).is(':checked')){
                updatedStatus = true;
            } else {
                updatedStatus = false;
            }
            var url = '/admin-portal/category/product/'+ product_id + '/status/update';
                   $.ajax({
                        url: url,
                        type: "POST",
                        data: {'product_id': product_id, 'product_status': updatedStatus},
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        success: function (response) {
                        if (response.status == 1) {
                            // Logout
                            var url = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                            location.reload();
                        } else if (response.status == 2) {
                            // success
                            if(updatedStatus) {
                                 showSuccessMessage('Product ID'+ ' '+ product_id +' ' + 'is now active');
                            } else {
                                 showSuccessMessage('Product ID'+ ' '+ product_id +' ' + 'is now inactive');
                            }
                        } else {
                            // Failed
                            showErrorMessage(response.msg);
                        }
                        },
                        error: function (msg) {
                            showErrorMessage(JSON.stringify(msg));
                        }
                });
        };

        var toggle = function(type) {
            if(type == 'info') {
                if ( $( "#toggle-category-info" ).is( ":hidden" ) ){
                    $( "#toggle-category-info" ).show();
                    $("#info-chev").removeClass("fa-angle-down");
                    $("#info-chev").addClass("fa-angle-up");
                }
                else{
                    $( "#toggle-category-info" ).hide();
                    $("#info-chev").removeClass("fa-angle-up");
                    $("#info-chev").addClass("fa-angle-down");
                }
            }  else if(type == 'product'){
                if ( $( "#toggle-product-list" ).is( ":hidden" ) ){
                    $( "#toggle-product-list" ).show();
                    $("#product-chev").removeClass("fa-angle-down");
                    $("#product-chev").addClass("fa-angle-up");
                }
                else{
                    $( "#toggle-product-list" ).hide();
                    $("#product-chev").removeClass("fa-angle-up");
                    $("#product-chev").addClass("fa-angle-down");
                }
            }
        };
    </script>
{% endblock %}