{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>
        .image-area {
            text-align: center;
            height: 150px;
            width: 150px;
            border: 1px solid #e0dbdb;
            line-height: 150px;
            position: relative;
        }
        .image-area img {
            position: absolute;
            top: 0;
            left: -1px;
        }
        .image-table {
            text-align: center;
            height: 75px;
            width: 75px;
            border: 1px solid #e0dbdb;
            line-height: 75px;
            position: relative;
        }

        .scroll-balance-area {
            max-height: 50px;
            overflow-y: auto;
            border: 1px solid #f5efef;
            margin-left: 31px;
            padding-top: 5px;
        }

        .scroll-balance-area::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        .scroll-balance-area::-webkit-scrollbar:vertical {
            width: 11px;
        }

        .scroll-balance-area::-webkit-scrollbar:horizontal {
            height: 11px;
        }

        .scroll-balance-area::-webkit-scrollbar-thumb {
            border-radius: 8px;
            border: 2px solid white; /* should match background, can't be transparent */
            background-color: rgba(0, 0, 0, .5);
        }

    </style>
<div class="panel mb25">
    <div class="panel-heading">
        <h3>Categories</h3>

    </div>

    <div class="col-xs-12 mb5">
        <div class="alert alert-success alert-dismissable" hidden id="msg-categories">
            <button type="button" class="close" onclick="$('.alert').hide()">×</button>
            <strong id="alert-msg"></strong>
        </div>
    </div>

    <div class="row">
            <div class="pull-right">
                <a href="{% url 'category:category_add' %}">
                    <input id="btn_add" class="btn btn-success text-left mb15" type="submit"
                           value="+ Add Category"/>
                </a>
            </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <a  onclick="collapse('Collapse')" id="btn_collapse_all">Collapse All</a>
                <span>|</span>
                <a onclick="collapse('Expand')" id="btn_expand_all" class="bold">Expand All</a>
                <br>
                <div style="max-height: 600px; overflow-y: scroll; margin-top:10px;" id="list_category" class="scroll-balance-area">
                    {% for category in list_category %}
                    <div style="position: relative;">
                        <div class="row">
                            <div class="col-sm-7" style="word-wrap: break-word;margin-bottom: 10px;">
                            <span style="cursor: pointer; position: absolute; top: 3px;" class="glyphicon glyphicon-minus" data-toggle="collapse" data-target="#collapse-{{ category.id }}" id="btn_category_expand_{{ category.id }}"></span>
                            <a id="category-{{category.id}}" onclick="showAction({{category.id}})"><span style="margin-left: 20px;" class="bold">{{category.name}} ({{category.product |length }})</span></a>
                        </div>
                        <div class="col-sm-5 action-area" id="action-category-{{category.id}}" hidden>
                                <a href="{% url 'category:category_edit' category.id %}">
                                    <button id="btn_category_edit" class="btn btn-outline mb5 btn-xs btn-info ">Edit</button>
                                </a>
                                <button id="btn_category_delete" onclick="deleteCategory(this)"
                                        data-category-id="{{ category.id }}"  data-product-count="{{ category.product|length }}" data-url="{% url 'category:category_delete' category.id %}"
                                        class="btn btn-outline mb5 btn-xs btn-danger ">Delete</button>
                        </div>
                        </div>
                    </div>
                    <div id="collapse-{{ category.id }}" group-id="{{ category.id }}" class="collapse in collapse-list" style="margin-left: 20px;">
                        {% for product in  category.product %}
                        <span>{{product.name}}</span>
                        {%endfor%}
                    </div>
                    {%endfor%}
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <label class="col-sm-2" >Enable Category</label>
                    <div class="col-sm-1">
                        <label class="switch switch-sm">
                        <input type="checkbox"
                               name="category_status" {% if category_detail.is_active %}checked{% endif %}
                               id="tog_status">
                        <span class="slider round">
                            <i class="handle"></i>
                        </span>
                        </label>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#btn_information_expand" onclick="ChangeActionInfor()">
                        Information</a>
                        <div class="pull-right" ><i id="icon-infor" class="fa fa-angle-up"></i></div>
                      </h4>
                    </div>
                    <div id="btn_information_expand" class="panel-collapse collapse in">
                      <div class="panel-body">
                            <div class="col-sm-12 form-group">
                                <label class="col-sm-3">Category ID</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input-rounded" name="provider_name" value="{{ category_detail.id | default_if_none:'' }}" id="txt_category_id" required/>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label class="col-sm-3">Category Name</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input-rounded" name="provider_name" value="{{ category_detail.name | default_if_none:'' }}" id="txt_category_name" required/>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label class="col-sm-3">Category Description</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input-rounded" name="provider_name" value="{{ category_detail.description | default_if_none:'' }}" id="txt_category_description" required/>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label class="col-sm-3">Category Image</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input-rounded" name="category_image" value="{{ category_detail.image_url | default_if_none:'' }}" id="txt_category_image_url"/>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-5">
                                    <div class="image-area">
                                         <img id="img_Image" onerror="this.src='{% static 'img/no-image.png' %}'" src="{{ category_detail.image_url | default_if_none:'' }}" height="150" width="150">
                                    </div>
                                </div>
                            </div>
                      </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#btn_product_expand" onclick="ChangeActionProduct()">
                            Products in Category</a>
                            <div class="pull-right"><i id="icon-product" class="fa fa-angle-down"></i></div>
                          </h4>
                        </div>
                        <div id="btn_product_expand" class="panel-collapse collapse">
                          <div class="panel-body" style="margin-top:44px; border:none;">
                            <table class="table table-striped" id="tbl_products">
                              <thead>
                                <tr>
                                  <th scope="col" class="header-background">Product ID</th>
                                  <th scope="col" class="header-background">Product Name</th>
                                  <th scope="col" class="header-background">Product Description</th>
                                  <th scope="col" class="header-background">Product Image</th>
                                  <th scope="col" class="header-background">Product Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                {%for i in products%}
                                <tr>
                                  <th scope="row">{{ i.id }}</th>
                                  <td>{{ i.name }}</td>
                                  <td>{{ i.description }}</td>
                                  <td><div class="image-table"><img id="img_Image" onerror="this.src='{% static 'img/no-image.png' %}'" src="{{ category.image_url | default_if_none:'' }}" height="75" width="75"></div></td>
                                  <td>
                                        <label class="switch switch-sm">
                                        <input type="checkbox" onchange="changeCategoryStatus(this)"
                                               name="category_status" {% if i.is_active %}checked{% endif %}
                                               id="tog_product_status">
                                        <span class="slider round">
                                            <i class="handle"></i>
                                        </span>
                                        </label>
                                </td>
                                </tr>
                                {%endfor%}
                              </tbody>
                            </table>

                          </div>
                        </div>
                    </div>
                </div>     
</div>


{% endblock %}
{% block body_js %}
{{ block.super }}
    <script>
        $('#action-category-{{category_detail.id}}').show();
        var showAction = function(category_id) {
            $('.action-area').hide();
            $('#action-category-' + category_id).show();
        };

        $('.collapse-list').on('hide.bs.collapse', function () {
            var elem = document.getElementById('btn_category_expand_' + $(this).attr('group-id'));
            elem.classList.add("glyphicon-plus");
            elem.classList.remove("glyphicon-minus");
        });

        $('.collapse-list').on('show.bs.collapse', function () {
            var elem = document.getElementById('btn_category_expand_' + $(this).attr('group-id'));
            elem.classList.remove("glyphicon-plus");
            elem.classList.add("glyphicon-minus");
        });

        var status_text_elm = document.getElementById('category_status_text');

        var openAllPanels = function(aId) {
            $(aId + ' .panel-collapse:not(".in")').collapse('show');
            $('#list_category .collapse:not(".in")').collapse('show');
            
        }
        var closeAllPanels = function(aId) {
            $(aId + ' .panel-collapse.in').collapse('hide');
            $('#list_category .collapse.in').collapse('hide');
        }

        function collapse(argument) {
            var accordionId = $(".toggle-accordion").attr("accordion-id");
            if (argument== 'Collapse'){
                var collapse_button = document.getElementById('btn_collapse_all')
                var expand_button = document.getElementById('btn_expand_all')
                expand_button.classList.remove("bold");
                collapse_button.classList.add("bold");

                closeAllPanels(accordionId);
            }else {
                var collapse_button = document.getElementById('btn_collapse_all')
                var expand_button = document.getElementById('btn_expand_all')
                expand_button.classList.add("bold");
                collapse_button.classList.remove("bold");

                openAllPanels(accordionId);
            } 
        }
        function ChangeActionInfor(){
            var infor_button  = document.getElementById('btn_information_expand')
            // var product_button  = document.getElementById('collapse2')
            if ( infor_button.classList.contains('in') ){
                $("#icon-infor").removeClass("fa-angle-up");
                $("#icon-infor").addClass("fa-angle-down");
            }
            else{
                $("#icon-infor").removeClass("fa-angle-down");
                $("#icon-infor").addClass("fa-angle-up");
            }
        }

        function ChangeActionProduct(){
            // var infor_button  = document.getElementById('collapse1')
            var product_button  = document.getElementById('btn_product_expand')
            if ( product_button.classList.contains('in') ){
                $("#icon-product").removeClass("fa-angle-up");
                $("#icon-product").addClass("fa-angle-down");
            }
            else{
                $("#icon-product").removeClass("fa-angle-down");
                $("#icon-product").addClass("fa-angle-up");
            }
        }

        function deleteCategory(e) {
            if (e.getAttribute('data-product-count') !== '0') {
                showErrorMessage('Can delete if all products are empty under the category');
                return
            }

            swal({
                    title: "Are you sure you want to delete selected item?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#2ECC71",
                    confirmButtonText: "OK",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        var url = e.getAttribute('data-url');
                        console.log(url);
                        $.ajax({
                            url: url,
                            type: "GET",
                            data: {},
                            dataType: "json",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                            },
                            success: function (response) {
                                if(response.status == 1) {
                                    // Logout
                                    var url = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                                    window.location.replace(url);
                                } else if(response.status == 2) {
                                    // success
                                    var id = e.getAttribute('data-category-id');
                                    $('#category-' + id).parent().parent().remove();
                                    showSuccessMessage('Deleted Successfully');
                                } else {
                                    // Failed
                                    showErrorMessage(response.msg);
                                }
                            }
                        });
                    }
                }
            );
        }

        function showErrorMessage(msg) {
            $("#alert-msg").text(msg);
            var m = $('#msg-categories');
            m.removeClass("alert-success");
            m.addClass("alert-danger");
            m.prop("hidden", false);
            m.fadeIn(1000);
        }

        function showSuccessMessage(msg) {
            $("#alert-msg").text(msg);
            var m = $('#msg-categories');
            m.removeClass("alert-danger");
            m.addClass("alert-success");
            m.prop("hidden", false);
            m.fadeIn(1000);
        }
    </script>
{% endblock %}
