{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>
        .image-area {
            text-align: center;
            height: 150px;
            width: 150px;
            border: 1px solid #e0dbdb;
            line-height: 150px;
            position: relative;
        }
        .image-area img {
            position: absolute;
            top: 0;
            left: -1px;
        }
        .image-table {
            text-align: center;
            height: 75px;
            width: 75px;
            border: 1px solid #e0dbdb;
            line-height: 75px;
            position: relative;
        }
/*        .panel-before a:after {
            font-family:'Glyphicons Halflings';
            content:"\e114";
            float: right;
            color: grey;
        }

        .panel-heading a:after {
            font-family:'Glyphicons Halflings';
            content:"\e080";
            float: right;
            color: grey;
        }*/

        .panel-heading a:after {
            font-family:'Glyphicons Halflings';
            content:"\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content:"\e080";
        }

        .header-background {
            background-color: #e4e1e1;
        }
    </style>
<div class="panel mb25">
    <div class="panel-heading">
        <h3>Categories</h3>
        
    </div>
    <div class="row">
            <div class="pull-right">
                <a href="{% url 'category:category_add' %}">
                    <input id="btn_add_category" class="btn btn-success text-left mb15" type="submit"
                           value="+ Add Category"/>
                </a>
            </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <a class="bold" onclick="collapse('Collapse')" id="btn_collapse_all">Collapse All</a>
                <span>|</span>
                <a onclick="collapse('Expand')" id="btn_expand_all">Expand All</a>
                <br>
                <div style="max-height: 400px; overflow-y: scroll" id="list_category">
                    {% for category in list_category %}
                    {{category.name}} ({{category.product_count}})
                    {%endfor%}
                </div>
            </div>
            <div class="col-sm-9">
                
                <div class="row" style="margin-bottom: 15px;">
                    <label class="col-sm-2" >Enable Category</label>
                    <div class="col-sm-1">
                        <label class="switch switch-sm">
                        <input type="checkbox"
                               name="category_status" {% if category_detail.is_active %}checked{% endif %}
                               id="tog_status">
                        <span class="slider round">
                            <i class="handle"></i>
                        </span>
                        </label>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading panel-before" id="information-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="" href="#information">Information</a>
                      </h4>
                    </div>
                    <div id="information" class="panel-collapse collapse out">
                        <div class="panel-body">
                            <div class="col-sm-12 form-group">
                                <label class="col-sm-3">Category ID</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input-rounded" name="provider_name" value="{{ category_detail.id | default_if_none:'' }}" id="txt_category_name" required/>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label class="col-sm-3">Category Name</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input-rounded" name="provider_name" value="{{ category_detail.name | default_if_none:'' }}" id="txt_category_name" required/>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label class="col-sm-3">Category Description</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input-rounded" name="provider_name" value="{{ category_detail.description | default_if_none:'' }}" id="txt_category_name" required/>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label class="col-sm-3">Category Image</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input-rounded" name="category_image" value="{{ category_detail.image_url | default_if_none:'' }}" id="txt_category_image" onblur="updateImage(this.value)"/>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-5">
                                    <div class="image-area">
                                         <img id="category_image" alt="No Image Available" src="{{ category_detail.image_url | default_if_none:'' }}" height="150" width="150">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading panel-before" id="product-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="" href="#product">
                        Products in Category</a>
                      </h4>
                    </div>
                    <div id="product" class="panel-collapse collapse out">
                      <div class="panel-body" style="margin-top:44px; border:none;">
                        <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col" class="header-background">Product ID</th>
                                  <th scope="col" class="header-background">Product Name</th>
                                  <th scope="col" class="header-background">Product Description</th>
                                  <th scope="col" class="header-background">Product Image</th>
                                  <th scope="col" class="header-background">Product Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                {%for i in products%}
                                <tr>
                                  <th scope="row">{{ i.id }}</th>
                                  <td>{{ i.name }}</td>
                                  <td>{{ i.description }}</td>
                                  <td><div class="image-table"><img id="category_image" alt="No Image" src="{{ i.image_url | default_if_none:'' }}" height="150" width="150"></div></td>
                                  <td>
                                        <label class="switch switch-sm">
                                        <input type="checkbox" onchange="changeCategoryStatus(this)"
                                               name="category_status" {% if i.is_active %}checked{% endif %}
                                               id="tog_status">
                                        <span class="slider round">
                                            <i class="handle"></i>
                                        </span>
                                        </label>
                                </td>
                                </tr>
                                {%endfor%}
                              </tbody>
                            </table>
                      </div>
                    </div>
                  </div>
                    </div>
                </div>        
</div>


{% endblock %}
{% block body_js %}
{{ block.super }}
    <script>
        var image_category_elm = document.getElementById('category_image');
        var status_text_elm = document.getElementById('category_status_text');
        var updateImage = function(url) {
            image_category_elm.src = url;
        };

        function collapse(argument) {
            if(argument == 'Collapse') {
                var collapse_button = document.getElementById('btn_collapse_all')
                var expand_button = document.getElementById('btn_expand_all')
                var product = document.getElementById('product')
                var information = document.getElementById('information')
                var product_heading = document.getElementById('product-heading')
                var information_heading = document.getElementById('information-heading')
                
                information.classList.remove("in");
                product.classList.remove("in");
                information.classList.add("out");
                product.classList.add("out");
                // information_heading.classList.remove("panel-before");
                // information_heading.classList.add("panel-after");
                // product_heading.classList.remove("panel-before");
                // product_heading.classList.add("panel-after");

                expand_button.classList.remove("bold");
                collapse_button.classList.add("bold");

            } else {
                var collapse_button = document.getElementById('btn_collapse_all')
                var expand_button = document.getElementById('btn_expand_all')
                var product = document.getElementById('product')
                var information = document.getElementById('information')
                var product_heading = document.getElementById('product-heading')
                var information_heading = document.getElementById('information-heading')

                information.classList.add("in");
                product.classList.add("in");
                information.classList.remove("out");
                product.classList.remove("out");
                // information_heading.classList.remove("panel-before");
                // product_heading.classList.add("panel-after");

                expand_button.classList.add("bold");
                collapse_button.classList.remove("bold");
            }
        }
    </script>
{% endblock %}
