{% extends "base.html" %}
{% load static %}
{% load permissions_filter %}
{% block body_stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/sweetalert/lib/sweet-alert.css' %}">
{% endblock %}

{% block content %}

<div class="panel mb25">
    <div class="panel-heading border mb15">
        <h3>Clients</h3>
    </div>
    {% if request.user|has_permission_name:"CAN_CREATE_CLIENTS"%}
        <div class="pull-right mr15 text-right">
        <a href="{% url 'clients:create-client' %}">
            <input id="client-btn-create" class="btn btn-success btn-block btn-sm text-left no-print mb15" type="button"
                   value="Create"/>
        </a>
    </div>
    {% endif %}
    {% for message in messages %}
    <div class="col-xs-12">
        <div class='alert
                    alert-success
                    alert-dismissable' id="msg-add-service">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ message|capfirst }}</strong>
        </div>
    </div>
    {% endfor %}
    {% if msg is not None %}
    <div class="col-xs-12 mb5">
        <div class="alert alert-success alert-dismissable" id="msg-update-client">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ msg }}</strong>
        </div>
    </div>
    {% endif %}
    {% if add_client_msg is not None %}
    <div class="col-xs-12 mb5">
        <div class="alert alert-success alert-dismissable" id="msg-add-client">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ add_client_msg }}</strong>
        </div>
    </div>
    {% endif %}
    <div class="col-xs-12 mb5">
        <div class="alert alert-success alert-dismissable" style="display: none;" id="alert-client">
            <button type="button" class="close" onclick="$('.alert').hide()">×</button>
            <strong id="alert-msg"></strong>
        </div>
    </div>

    <div class="panel-body" >
        <div class="table-responsive">
            <table id="tbl_clients" class="table table-bordered table-striped mb0">
                <thead>
                <tr>
                    <th>Client Id</th>
                    <th>Client Name</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for client in data %}
                <tr id="row-{{ client.client_id }}">
                    {% if not client.is_deleted %}
                    <td class="col-sm-2">
                        <a class="client-details-link {{ client.is_deleted|yesno:" text,no-hidden" }}"
                        id="{{ client.client_id }}" class="text-info"
                        href="{% url 'clients:client-detail' client.client_id %}">
                        {{ client.client_id }}
                        </a>
                    </td>
                    <td class="col-sm-2">{{ client.client_name|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ client.created_timestamp|default_if_none:'' }}</td>
                    <td class="col-sm-2">{{ client.last_updated_timestamp|default_if_none:'' }}</td>
                    <td class="col-sm-3">
                        <div id="client-btn-group-{{ client.client_id }}">
                            {% if permissions.is_perm_client_generate %}
                            <button type="button"
                                    class="btn btn-primary mb5 btn-outline btn-xs {{ client.is_deleted|yesno:'hidden,no-hidden' }}"
                                    id="client-btn-regenerate-{{ client.client_id }}"
                                    data-url="{% url 'clients:regenerate-client-secret' client.client_id %}"
                                    onClick="regenerate('{{ client.client_id }}')">
                                <span class="small">Regenerate</span>
                            </button>
                            {% endif %}

                            {% if permissions.is_perm_client_update %}
                            <a type="button"
                               class="btn btn-primary mb5 btn-outline btn-xs {{ client.is_deleted|yesno:" hidden,no-hidden"
                            }}"
                            {{ client.is_deleted|yesno:"disable=true, disable=false" }}
                            role="button"
                            id="client-btn-update-{{ client.client_id }}" class="text-info"
                            href="{% url 'clients:client-info' client.client_id %}" role="button"
                            id="client-btn-update-{{ client.client_id }}" class="text-info">
                            <span class="small">Update</span>
                            </a>
                            {% endif %}

                            {% if permissions.is_perm_client_delete %}
                            <button type="button" {{ client.is_deleted|yesno:'disable=true, disable=false' }}
                            class="btn btn-danger mb5 btn-outline btn-xs {{ client.is_deleted|yesno:"hidden,no-hidden"}}"
                            id="client-btn-delete-{{ client.client_id }}"
                            data-url="{% url 'clients:delete-client' client.client_id %}"
                            onclick="delete_client('{{ client.client_id }}')">
                            <span class="small">Delete</span>
                            </button>
                            {% endif %}

                            {% if permissions.is_perm_client_suspend %}
                            {% if client.status == 'active' %}
                            <button type="button" {{ client.is_deleted|yesno:'disable=true, disable=false' }}
                            class="btn btn-primary mb5 btn-outline btn-xs {{ client.is_deleted|yesno:"hidden,no-hidden" }}"
                            id="client-btn-status-{{ client.client_id }}"
                            data-url="{% url 'clients:suspend-client' client.client_id %}"
                            data-client-id='{{ client.client_id }}'
                            onClick="doSuspendOrActivate(this)">
                            <span class="small">Suspend</span>
                            </button>
                            {% else %}
                            <button type="button" {{ client.is_deleted|yesno:'disable=true, disable=false' }}
                            class="btn btn-primary btn-outline mb5 btn-xs {{ client.is_deleted|yesno:"hidden,no-hidden" }}"
                            id="client-btn-status-{{ client.client_id }}"
                            data-url="{% url 'clients:activate-client' client.client_id %}"
                            data-client-id='{{ client.client_id }}'
                            onClick="doSuspendOrActivate(this)">
                            <span class="small">Activate</span>
                            </button>
                            {% endif %}
                            {% endif %}

                            {% if permissions.is_perm_client_change_scope %}
                            <a type="button"
                               class="btn btn-primary mb5 btn-outline btn-xs {{ client.is_deleted|yesno:'hidden,no-hidden' }}"
                            {{ client.is_deleted|yesno:'disable=true, disable=false' }}
                            role="button"
                            id="btn_api_gw_scopes" class="text-info"
                            href="{% url 'clients:scope-client' client.client_id %}" role="button">
                            <span class="small">API GW Scopes</span>
                            </a>
                            {% endif %}
                             <a type="button"
                               class="btn btn-primary mb5 btn-outline btn-xs {{ client.is_deleted|yesno:'hidden,no-hidden' }}"
                            {{ client.is_deleted|yesno:'disable=true, disable=false' }}
                            role="button"
                            id="btn_channel_gw_scopes" class="text-info"
                            href="{% url 'clients:client-channel-gateway-scopes' client.client_id %}" role="button">
                            <span class="small">Channel GW Scopes</span>
                            </a>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block body_js %}
{{ block.super }}
<script>

    function showErrorMessage(msg) {
	    $("#alert-msg").text(msg)
	    $('#alert-client').removeClass("alert-success");
	    $('#alert-client').addClass("alert-danger");
	    //$("#alert-client").prop("hidden", false);
	    //$("#alert-client").prop("style", "display: block;");

	    $("#msg-add-client").prop("hidden", true);
        $("#msg-update-client").prop("hidden", true);
        $("#msg-add-service").prop("hidden", true);

        $("#alert-client").show();



	    $("html, body").animate({scrollTop: 0}, "slow");
	}

	function showSuccessMessage(msg) {
	    $("#alert-msg").text(msg)
	    $('#alert-client').removeClass("alert-danger");
	    $('#alert-client').addClass("alert-success");
	    //$("#alert-client").prop("hidden", false);
	    //$("#alert-client").prop("style", "display: block;");

	    $("#msg-add-client").prop("hidden", true);
        $("#msg-update-client").prop("hidden", true);
        $("#msg-add-service").prop("hidden", true);

	    $("#alert-client").show();
	    $("html, body").animate({scrollTop: 0}, "slow");
	}

    function regenerate(client_id) {

        swal({
                title: "Are you sure you want to regenerate new client secret?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#2ECC71",
                confirmButtonText: "OK",
                cancelButtonText: "Cancel",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    console.log(client_id)
                    var url = $("#client-btn-regenerate-" + client_id).data("url");
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {"csrfmiddlewaretoken": '{{ csrf_token }}'},
                        success: function (response) {
                            if (response.status == 1) {
                                // Logout
                                var url = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                                window.location.replace(url);
                            } else if (response.status == 2) {
                                // success
                                showSuccessMessage('Client secret was generated for ' + client_id + ' client ID');
                            } else {
                                // Failed
                                showErrorMessage(response.msg);
                            }
                        },
                        error: function (msg) {
                            console.log('error');
                            showErrorMessage(JSON.stringify(msg));
                        }
                    });
                }
            });
    }

    function delete_client(client_id) {
        console.log(client_id);
        swal({
                title: "Are you sure you want to delete?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: true
            },
            function () {
                var url = $("#client-btn-delete-" + client_id).data("url");
                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: "json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (response) {
                        console.log(response);
                        if (response.status == 1) {
                            // Logout
                            var url = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                            window.location.replace(url);
                        } else if (response.status == 2) {
                            // success
                            $("#client-btn-delete-" + client_id).hide();
                            showSuccessMessage('Deleted data successfully');
                            $("#" + "row-" + client_id).remove();
                        } else {
                            // Failed
                            showErrorMessage(response.msg);
                        }
                    },
                    error: function (msg) {
                        showErrorMessage(JSON.stringify(msg));
                    }
                });
            });
    }

    function doSuspendOrActivate(e) {
            var title = e.innerText;
            if (title === 'Activate') {
                activate(e);
            } else {
                suspend(e);
            }
    }

    function suspend(e) {
        swal({
                title: "Are you sure you want to suspend?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#2ECC71",
                confirmButtonText: "OK",
                cancelButtonText: "Cancel",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    console.log(client_id)
                    var url = e.getAttribute('data-url');
                    console.log(url)
                    var client_id = e.getAttribute('data-client-id');
                    $.ajax({
                        url: url,
                        type: "GET",
                        data: {},
                        success: function (response) {
                            if (response.status == 1) {
                                // Logout
                                var url2 = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                                window.location.replace(url2);
                            } else if (response.status == 2) {
                                // success
                                updatedUrl = url.replace(/suspend/g, 'activate');
                                e.setAttribute("data-url", updatedUrl);
                                e.innerHTML = "<span class='small'>Activate</span>";
                                e.disabled = true;
                                e.disabled = false;
                                showSuccessMessage('Suspended data successfully');
                            } else {
                                // Failed
                                showErrorMessage(response.msg);
                            }
                        },
                        error: function (msg) {
                            console.log('Error suspending the client id' + client_id + msg);
                            showErrorMessage(JSON.stringify(msg));
                        }
                    });
                }
            });
    }

    function activate(e) {
        swal({
                title: "Are you sure you want to activate?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#2ECC71",
                confirmButtonText: "OK",
                cancelButtonText: "Cancel",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    console.log(client_id)
                    var url = e.getAttribute('data-url');
                    console.log(url)
                    var client_id = e.getAttribute('data-client-id');
                    $.ajax({
                        url: url,
                        type: "GET",
                        data: {},
                        success: function (response) {
                            if (response.status == 1) {
                                // Logout
                                var url2 = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                                window.location.replace(url2);
                            } else if (response.status == 2) {
                                // success
                                var updatedUrl = url.replace(/activate/g, 'suspend');
                                e.setAttribute("data-url", updatedUrl);
                                e.innerHTML = "<span class='small'>Suspend</span>";
                                e.disabled = true;
                                e.disabled = false;
                                showSuccessMessage('Activated data successfully');
                            } else {
                                // Failed
                                showErrorMessage(response.msg);
                            }
                        },
                        error: function (msg) {
                            console.log('Error activating the client id' + client_id + msg);
                            showErrorMessage(JSON.stringify(msg));
                        }
                    });
                }
            });
    }


</script>
{% endblock %}
