{% extends "base.html" %}

{% block content %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Clients > Create A New Client</h3>
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form class="form-horizontal" role="form" method="post" action="{% url 'clients:create-client' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Client Id</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" readonly name="client_id"
                                   value="{{ client_info.client_id }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Client secret:</label>
                        <div class="col-sm-8">

                            <input type="text" class="form-control" readonly name="client_secret"
                                   value="{{ client_info.client_secret }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Client name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="client_name"
                                   value="{{ client_info.client_name | default_if_none:'' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Scope:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="scope"
                                   value="{{ client_info.scope | default_if_none:'' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Authorize grant type:</label>
                        <div class="col-sm-8">

                            <input type="text" class="form-control input-rounded" readonly
                                   name="authorized_grant_types"
                                   value="{{ client_info.authorized_grant_types|default_if_none:'password' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Web service redirect uri:</label>
                        <div class="col-sm-8">

                            <input type="text" class="form-control input-rounded" name="web_server_redirect_uri"
                                   value="{{ client_info.web_server_redirect_uri | default_if_none:'' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Access token validity:</label>
                        <div class="col-sm-8">

                            <input type="number" class="form-control input-rounded" name="access_token_validity"
                                   value="{{ client_info.access_token_validity|default_if_none:'3600' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Refresh token validity:</label>
                        <div class="col-sm-8">

                            <input type="number" class="form-control input-rounded" name="refresh_token_validity"
                                   value="{{ client_info.refresh_token_validity|default_if_none:3600 }}">
                        </div>
                    </div>
                    <div class="pull-right">
                        <a href="{% url 'clients:client-list' %}">
                            <input id="client-btn-cancel" class="btn btn-success text-left mb15" type="button"
                                   value="Cancel"/>
                        </a>
                        <a href="{% url 'clients:client-list' %}">
                            <input id="client-btn-create" class="btn btn-success text-left mb15" type="submit"
                                   value="Create"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}