{% extends "base.html" %}
{% load static %}
{% load permissions_filter %}

{% block content %}
<div class="panel mb30">
    <div class="panel-heading border">
        <h3>Currencies</h3>
    </div>
    <div class="alert alert-danger alert-dismissable mt30" hidden id="currency_dialog_success">
        <button type="button" class="close" onclick="$('.alert').hide()">×</button>
        <strong id="alert_success_msg"></strong>
    </div>

    <div class="panel-body">
        {% if request.user|has_permission_name:"SYS_ADD_CURRENCY"%}
        <div class="form-group">
            <label class="col-sm-1 mt5 ml5 control-label">Currency</label>
            <div class="col-sm-4 mb15">
                <select class="form-control" id="currency_ddl" onchange="updateDecimal({{ preload_data }})">
                    <option value=""></option>
                    {% for preload in preload_data %}
                    <option value="{{ preload.currency_code }}">{{ preload.currency_code }}</option>
                    {% endfor %}
                </select>
            </div>
            <label class="col-sm-1 mt5 ml15 control-label">Decimal</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="decimal_text" readonly>
            </div>
            <div class="col-sm-1 pull-right mr5">
                <input id="currency_btn_add" class="btn btn-success no-print mb15" type="button"
                       value="Add" onClick="add()">
            </div>
        </div>
        {% endif %}
        <div class="table-responsive" id=currency_table>
            <table class="table table-bordered table-striped mb0">
                <thead>
                <tr>
                    <th id="currency">Currency</th>
                    <th id="decimal">Decimal</th>
                    <th id="modify_date">Modify Date</th>
                </tr>
                </thead>
                <tbody id="table_body">
                {% for currency in data %}
                <tr>
                    <td class="col-sm-1" id="currency_{{ currency.currency }}">
                        {{ currency.currency|default_if_none:'' }}
                    </td>
                    <td class="col-sm-1">{{ currency.decimal|default_if_none:'' }}</td>
                    <td class="col-sm-1">{{ currency.last_update_timestamp|default_if_none:'' }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    function updateDecimal(preload) {
        var index = $("#currency_ddl option:selected").index()
        $("#decimal_text").val(preload[index - 1].decimal_digit)
    }

    function add() {
        var currency = document.getElementById("currency_ddl").value;
        var decimal = document.getElementById("decimal_text").value;
        if( currency == "") {
            $("#alert_success_msg").text('Please select currency')
            $("#currency_dialog_success").show();
            return;
        }
        swal({
                title: 'Are you sure you want to add ' + currency + ' with ' + decimal + ' decimal?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#2ECC71",
                confirmButtonText: "OK",
                cancelButtonText: "Cancel",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function (isConfirmed) {
                if (isConfirmed) {
                    var url = '/admin-portal/balances/currencies/' + currency + '/add/';
                    $.ajax({
                        url: url,
                        type: "GET",
                        data: {},
                        success: function (response) {
                            if(response.status == 1) {
                                // Logout
                                var url = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                                window.location.replace(url);
                            } else if(response.status == 2) {
                                // success
                                $("#alert_success_msg").text('Added data successfully. Please restart service to apply effect.')
                                $("#currency_dialog_success").show();
                                addSuccessRow(response.data)
                            } else {
                                // Failed
                                $("#alert_success_msg").text(response.msg);
                                $("#currency_dialog_success").show();
                            }

                        },
                        error: function (msg) {
                            console.log('Error add currency')
                            $("#alert_success_msg").text(JSON.stringify(msg));
                            $("#currency_dialog_success").show();
                        }
                    });
                }
            });
    }

    function addSuccessRow(data) {
        var json = data;
        var tr, td;
        var tbody = document.getElementById("table_body");
        while (tbody.rows[0]) tbody.deleteRow(0);
        for (var i = 0; i < json.length; i++) {
            tr = tbody.insertRow(tbody.rows.length);
            td = tr.insertCell(tr.cells.length);
            td.innerHTML = json[i].currency;
            td = tr.insertCell(tr.cells.length);
            td.innerHTML = json[i].decimal;
            td = tr.insertCell(tr.cells.length);
            td.innerHTML = json[i].last_update_timestamp;
        }
    }

</script>
{% endblock %}