{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load permissions_filter %}
{% block content %}
<div class="panel mb25">
    <div class="panel-body">
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" id="msg-update-success">
            <button type="button" class="close" onclick="$('.alert').hide()">×</button>
            <strong id="alert-msg-success">{{ message|capfirst }}</strong>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" id="msg-update-failed">
            <button type="button" class="close" onclick="$('.alert').hide()">×</button>
            <strong id="alert-msg-error">{{ message|capfirst }}</strong>
        </div>
        {% endif %}
        {% endfor %}


        <form class="form-horizontal" id="form_data" role="form" method="post" action="{% url 'balances:company_balance' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Currency:</label>
                <div class="col-sm-4">
                    <select class="form-control" id="ddl_currency" name="currency" required>
                        {% for currency in currency_list %}
                            {% if currency.0 == selected_currency %}
                            <option value="{{ currency.0 }}" {% if request.GET.currency == currency.0 %}selected{% endif %} selected>{{ currency.0 }}</option>
                            {% else %}
                            <option value="{{ currency.0 }}" {% if request.GET.currency == currency.0 %}selected{% endif %}>{{ currency.0 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Total Initial Balance:</label>
                <div class="col-sm-4">
                    <input value="{{ total_balance.balance|floatformat:decimal|intcomma|default:'0.00' }}" type="text" class="form-control" name="total_initital_balance" id="txt_total_initital_balance" disabled />
                </div>
                <label class="col-sm-2 control-label">Company Balance:</label>
                <div class="col-sm-4">
                    <input value="{{ objects.0.balance_after_change|floatformat:decimal|intcomma|default:'0' }}" type="text" class="form-control" name="company_balance" id="txt_company_balance" disabled />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Adding Balance:</label>
                <div class="col-sm-4">
                    <input type="text" step="0.01" class="form-control" name="adding_balance" id="txt_adding_balance" value="{{string_amount|default_if_none:''}}" required/>
                </div>
                <label class="col-sm-2 control-label">New Company Balance:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="new_company_balance" id="txt_new_company_balance" value="{{new_company_balance|default_if_none:''}}" readonly="true"/>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <button id='btn_submit' type="submit" class="btn btn-success" style="display: none;"></button>
                    <button id="btn_cancel" class="btn text-left mb15" type="reset">Cancel</button>
                    <button id="btn_confirm" class="btn btn-success text-left mb15" type="button" onclick="validateFormData(this)">Confirm</button>
                    <!-- Mapping raw hidden value -->
                    <input value="{{ objects.0.balance_after_change|default:0 }}" type="hidden" id="txt_company_balance_hidden" />
                </div>
            </div>
        </form>
        <div class="panel-heading">
            <h3>Company Balance List</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0">
                <thead>
                <tr>
                    <th id="lbl_adding_balance">Adding Balance</th>
                    <th id="lbl_company_balance">Company Balance</th>
                    <th id="lbl_new_company_balance">New Company Balance</th>
                    <th id="lbl_created_date">Created Date</th>
                </tr>
                </thead>
                <tbody>
                {% for object in objects %}
                <tr>
                    <td class="col-sm-2">{{ object.changed_amount|floatformat:decimal|intcomma }}</td>
                    <td class="col-sm-2">{{ object.balance_before_change|floatformat:decimal|intcomma }}</td>
                    <td class="col-sm-2">{{ object.balance_after_change|floatformat:decimal|intcomma }}</td>
                    <td class="col-sm-1">{{ object.created_timestamp|default_if_none:'' }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script>

function validateFormData(e) {
    var txt_adding_balance = document.getElementById("txt_adding_balance");
    var btn_submit = document.getElementById("btn_submit");
    txt_adding_balance.setCustomValidity('');
    if(txt_adding_balance.value == '') {
        txt_adding_balance.setCustomValidity('Adding balance must not be empty. You may input positive or negative value');
    }
    btn_submit.click();
}

function prepareValidateFormData(e) {
    txt_adding_balance.setCustomValidity('');
    if(!txt_adding_balance.value) {
        txt_adding_balance.setCustomValidity('Adding balance must not be empty. You may input positive or negative value');
    } else {
        txt_adding_balance.setCustomValidity('');
    }

}


function toNumber(str) {
    return str.replace(/[,\s_]+/g, "");
}

function numberWithCommas(x) {
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return parts.join(".");
}

function changeValue() {
    var deci = {{ decimal }};
    var $currency = $('#ddl_currency');
    $currency.on('change', function() {
        var url = window.location.origin + window.location.pathname + '?currency=' + $currency.val();
        window.location.replace(url);
    });
    var balance_amount = 'txt_adding_balance';
    var $amount = $('#' + balance_amount);
    var amount = document.getElementById(balance_amount);
    var $new_balance = $('#txt_new_company_balance');
    var $company_balance = $('#txt_company_balance_hidden');
    $amount.on('input', function() {
        var value = parseFloat(toNumber($company_balance.val())) + parseFloat(toNumber($amount.val()));
        value ? $new_balance.val(numberWithCommas(value.toFixed({{ decimal }})))
        : $new_balance.val($company_balance.val());
    });

    
    $amount.keypress(function(event) {
        var $this = $(this);
        if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
        ((event.which < 48 || event.which > 57) &&
        (event.which != 0 && event.which != 8 && event.which != 45))) {
            console.log(event.which);
            event.preventDefault();
            }

        var text = $(this).val();
        if ((event.which == 46) && (text.indexOf('.') == -1)) {
            setTimeout(function() {
                if ($this.val().substring($this.val().indexOf('.')).length > deci + 1) {
                    $this.val($this.val().substring(0, $this.val().indexOf('.') + deci + 1));
                    }
                }, 1);
            }
        if ((text.indexOf('.') != -1) &&
        (text.substring(text.indexOf('.')).length > deci) &&
        (event.which != 0 && event.which != 8) &&
        ($(this)[0].selectionStart >= text.length - deci)) {
            event.preventDefault();
            }
        });

        $amount.bind("paste", function(e) {
            var text = e.originalEvent.clipboardData.getData('Text');
            if ($.isNumeric(text)) {
                if ((text.substring(text.indexOf('.')).length > deci +1 ) && (text.indexOf('.') > -1)) {
                    e.preventDefault();
                    $(this).val(text.substring(0, text.indexOf('.') + deci + 1));
                    }
                }
            else {
                e.preventDefault();
                }
        });

    amount.onblur = function(){

        num = amount.value;
            if (num != "") {
                num = parseFloat(num);
                num = num.toFixed(deci);
                if(num.indexOf(".") >=1){
                num1 = num.substring(0, num.indexOf("."));
                num2 = num.substring(num.indexOf(".")+1 );
                num1 = num1.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                num = num1 + '.' + num2; }
                else {num = num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");}
                amount.value = num;
            }
        }
}

$(changeValue);
</script>

{% endblock %}
