{% extends "base.html" %}
{% load static %}
{% block sidebar_panel %}
    {% with active_tab='company_balance' %}
        {{ block.super }}
    {% endwith %}
{% endblock sidebar_panel %}

{% block content %}
{% csrf_token %}

<div class="panel mb25">
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="post" action="{% url 'balances:company_balance' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Currency:</label>
                <div class="col-sm-4">
                    <select class="form-control" id="ddl_currency" name="currency" required>
                        {% for currency in currency_list %}
                            <option value="{{ currency.0 }}" {% if request.GET.currency == currency.0 %}selected{% endif %}>{{ currency.0 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Total Initial Balance:</label>
                <div class="col-sm-4">
                    <input value="{% firstof total_balance.balance|floatformat:decimal "0" %}" type="number" class="form-control" name="total_initital_balance" id="txt_total_initital_balance" disabled />
                </div>
                <label class="col-sm-2 control-label">Company Balance:</label>
                <div class="col-sm-4">
                    <input value="{% firstof objects.0.balance_after_change|floatformat:decimal "0" %}" type="number" class="form-control" name="company_balance" id="txt_company_balance" disabled />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Adding Balance:</label>
                <div class="col-sm-4">
                    <input type="number" step="0.01" class="form-control" name="adding_balance" id="txt_adding_balance"/>
                </div>
                <label class="col-sm-2 control-label">New Company Balance:</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="new_company_balance" id="txt_new_company_balance" disabled/>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <button id="btn_confirm" class="btn btn-warning text-left mb15" type="submit">Confirm</button>
                    <button id="btn_cancel" class="btn btn-success text-left mb15" type="reset">Cancel</button>
                </div>
            </div>
        </form>
        <div class="panel-heading">
            <h3>Company Balance List</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0">
                <thead>
                <tr>
                    <th id="lbl_adding_balance">Adding Balance</th>
                    <th id="lbl_company_balance">Company Balance</th>
                    <th id="lbl_new_company_balance">New Company Balance</th>
                    <th id="lbl_created_date">Created Date</th>
                    <th id="lbl_create_by">Create By</th>
                </tr>
                </thead>
                <tbody>
                {% for object in objects %}
                <tr>
                    <td class="col-sm-2">{{ object.changed_amount|floatformat:decimal }}</td>
                    <td class="col-sm-2">{{ object.balance_before_change|floatformat:decimal }}</td>
                    <td class="col-sm-2">{{ object.balance_after_change|floatformat:decimal }}</td>
                    <td class="col-sm-2">{{ object.created_timestamp|default_if_none:'' }}</td>
                    <td class="col-sm-1">{{ object.created_user_id|default_if_none:'' }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script>
function changeValue() {
    var $currency = $('#ddl_currency');
    $currency.on('change', function() {
        var url = window.location.origin + window.location.pathname + '?currency=' + $currency.val();
        window.location.replace(url);
    });
    var $amount = $('#txt_adding_balance');
    var $new_balance = $('#txt_new_company_balance');
    $amount.on('change', function() {
        var value = parseFloat($('#txt_company_balance').val()) + parseFloat($('#txt_adding_balance').val())
        $new_balance.val(value.toFixed(2));
    });
}

$(function(){
    changeValue();
    $('#txt_adding_balance').keydown(function(event){
    var keyCode = (event.keyCode ? event.keyCode : event.which);
    if (keyCode == 13) {
        event.preventDefault();
    }
});

});


</script>

{% endblock %}
