{% extends "base.html" %}
{% load static %}

{% block content %}
    {% csrf_token %}
    <div class="panel mb25">
        <div class="panel-heading border">
            <h3>System User Detail</h3>
        </div>

        {% if msg is not None %}
            <div class="col-xs-12">
                <div class='alert alert-success alert-dismissable' id="system_user_update_msg">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ msg }}</strong>
                </div>
            </div>
        {% endif %}

        <div class="panel-body">
            <div class="row no-margin">
                <div class="col-lg-12">
                    <form id="submit-form" class="form-horizontal" role="form" method="post">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded"
                                       id="username_input"
                                       value="{{ system_user_info.username | default_if_none:'' }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded"
                                       id="firstname_input"
                                       value="{{ system_user_info.firstname | default_if_none:'' }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lastname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded"
                                       id="lastname_input"
                                       value="{{ system_user_info.lastname | default_if_none:'' }}" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Telephone Number</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="mobile_number"
                                   id="mobile_number_input"
                                   value="{{ system_user_info.mobile_number | default_if_none:'' }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded"
                                       id="email_input"
                                       value="{{ system_user_info.email | default_if_none:'' }}" readonly>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a href="{% url 'system_user:system-user-list' %}">
                                <input id="system_user_btn_cancel" class="btn text-left mb15" type="button"
                                       value="Cancel"/>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}