{% extends "base.html" %}
{% load static %}
{% load permissions_filter %}

{% block content %}
    <style>
    .suspend-label-custom {
        text-align: left;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 14px;
        }
    </style>
<div class="panel mb30">
    <div class="panel-heading border mb15">
        <h3>System Users</h3>
    </div>


    {% for message in messages %}
        <div class="col-xs-12">
            <div class='alert alert-success alert-dismissable' id="msg-create-system-user">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ message|capfirst }}</strong>
            </div>
        </div>
     {% endfor %}

    {% if del_msg is not None %}
        <div class="col-xs-12">
            <div class='alert
                        {%if "successfully" in del_msg %}
                        alert-success
                        {% else %}
                        alert-danger
                        {% endif %}
                        alert-dismissable' id="alert-success-agent-type">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ del_msg }}</strong>
            </div>
        </div>
    {% endif %}

    {% if pw_msg is not None %}
        <div class="col-xs-12">
            <div class='alert
                        {%if "sucessfully" in pw_msg%}
                        alert-success
                        {% else %}
                        alert-danger
                        {% endif %}
                        alert-dismissable' id="system_user_change_password_msg">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ pw_msg }}</strong>
            </div>
        </div>
    {% endif %}


    <div class="panel-body">
        {% if request.user|has_permission_name:"SYS_SEARCH_SYSTEM_USER"%}
        <form id="submit-form" class="form-horizontal" role="form" method="get" action="{% url 'system_user:system-user-list' %}">
            <div class="col-sm-12  form-group">
                <label class="col-sm-1">Username</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-rounded" name="username" id="username_search" value="{{ username }}"/>
                </div>
                <label class="col-sm-1">Email</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-rounded" name="email" id="email_search" value="{{ email }}">
                </div>
                <div class="col-xs-1">
                    <a href="{% url 'system_user:system-user-list' %}">
                        <input id="search_btn" class="btn btn-success btn-block" type="submit"  value="Search" name="search">
                    </a>
                </div>

            </div>
        </form>
        {% endif %}
        {% if request.user|has_permission_name:"SYS_CREATE_SYSTEM_USER"%}
        <div class="pull-right mr15 text-right">
            <a href="{% url 'system_user:create-system-user' %}">
                <input id="system_user_btn_add" class="btn btn-success btn-block text-left no-print mb15" type="button"
                       value="Add"/>
            </a>
        </div>
        {% endif %}
        <div class="table-responsive" id=system_user_table>
            <table class="table table-bordered table-striped mb0">
                <thead>
                <tr>
                    <th id="id">ID</th>
                    <th id="username">Username</th>
                    <th id="firstname_lastname">Firstname Lastname</th>
                    <th id="status">Status</th>
                    <th id="created_date">Created Date</th>
                    <th id="action">Action</th>
                </tr>
                </thead>
                <tbody id="table_body">
                {% for systemuser in data %}
                    <tr>
                        <td class="col-sm-1" id="id_{{ systemuser.id }}">
                            {{ systemuser.id|default_if_none:'' }}
                        </td>
                        {% if systemuser.is_deleted %}
                            <td class="col-sm-1">
                                <del>{{ systemuser.username|default_if_none:'' }}</del>
                            </td>
                        {% else %}
                            <td class="col-sm-1">{{ systemuser.username|default_if_none:'' }}</td>
                        {% endif %}

                        <td class="col-sm-3">{{systemuser.firstname|add:" "|add:systemuser.lastname }}</td>
                        <td class="col-sm-2">{% if systemuser.is_suspended %} Suspended {% else %} Active {% endif %}</td>
                        <td class="col-sm-2">{{ systemuser.created_timestamp|default_if_none:'' }}</td>
                        <td class="col-sm-3">
                            <div id="client_btn_group_{{ system_user.id }}">
                                {% if systemuser.is_deleted == False %}

                                    {% if systemuser.is_permission_detail %}
                                        <a type="button"
                                           class="btn btn-outline btn-xs btn-info mb5"
                                           role="button"
                                           id="system_user_btn_detail"
                                           href="{% url 'system_user:system-user-detail' systemuser.id %}">
                                            <span class="small">Detail</span>
                                        </a>
                                    {% endif %}
                                    {% if systemuser.is_permission_edit %}
                                        <a type="button"
                                           class="btn btn-outline btn-xs btn-primary mb5"
                                           role="button"
                                           id="system_user_btn_edit"
                                           href="{% url 'system_user:system-user-edit' systemuser.id %}">
                                            <span class="small">Edit</span>
                                        </a>
                                    {% endif %}
                                    {% if systemuser.is_permission_delete %}
                                        <a type="button"
                                           class="btn btn-outline btn-xs btn-danger mb5"
                                           role="button"
                                           id="system_user_btn_delete"
                                           href="{% url 'system_user:delete-system-user' systemuser.id %}">
                                            <span class="small">Delete</span>
                                        </a>
                                    {% endif %}
                                    {% if systemuser.is_permission_change_pwd %}
                                        <a type="button"
                                           class="btn btn-outline btn-xs btn-primary mb5"
                                           role="button"
                                           id="btn_system_user_change_password"
                                           href="{% url 'system_user:system-user-change-password' systemuser.id %}">
                                            <span class="small">ChangePassword</span>
                                        </a>
                                    {% endif %}
                                    {% if systemuser.is_permission_change_role %}
                                        <a type="button"
                                           class="btn btn-outline btn-xs btn-success mb5"
                                           role="button"
                                           id="btn_system_user_change_role"
                                           href="{% url 'system_user:system_user_role_management' systemuser.id %}">
                                            <span class="small">ChangeRole</span>
                                        </a>
                                    {% endif %}
                                    {% if systemuser.is_suspended %}
                                        <a type="button"
                                           class="btn btn-outline btn-xs btn-danger mb5"
                                           role="button"
                                           id="btn_system_user_activate" onClick="doSuspendOrActivate(this)">
                                            <span class="small">Activate</span>
                                        </a>
                                    {% else %}
                                        <a type="button"
                                           class="btn btn-outline btn-xs btn-danger mb5"
                                           role="button"
                                           id="btn_system_user_suspend" onClick="doSuspendOrActivate(this)">
                                             <span class="small">Suspend</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12" id="search-result-notification" style="display:none">
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            Something wrong happened.
        </div>
    </div>
</div>
{% endblock %}
{% block body_js %}
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
<script src="{% static 'scripts/ui/toggle.min.js' %}"></script>
<script src="{% static 'vendor/sweetalert/sweetalert.2.0.min.js' %}"></script>
<script src="{% static 'vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>

<script>


    function doSuspendOrActivate(e) {
        var title = e.innerText;
        if (title === 'Activate') {

        } else {
            suspend(e);
        }
    }


    function suspend(e) {
        var suspendContentElem = document.createElement("div");
        suspendContentElem.innerHTML = '<div id="reason-text-area" class="form-group" style="margin-bottom: 40px;">'
                                        +'<div class="control-label suspend-label-custom">Suspend Reason Description *'
                                        +'<div>'
                                        +'<textarea maxlength="1024" id="txt_input_reason" class="form-control" name="suspend_reason" placeholder="Description"></textarea>'
                                        +'</div>'
                                        +'</div>';
        swal({
            content: suspendContentElem,
            icon: "warning",
            title: "Are you sure you want to suspend?",
            buttons: true,
            closeOnClickOutside: false
        })
        .then(function(isConfirm) {
            if (isConfirm) {

            }
        });
        var okButton = document.getElementsByClassName("swal-button--confirm")[0];
        okButton.setAttribute("disabled", true);
        var input_reason = document.getElementById("txt_input_reason");

        input_reason.addEventListener("keyup", function(event) {
            if(input_reason.value.trim() == '' || input_reason.value.trim().length > 1024){
                okButton.setAttribute("disabled", true);
            } else {
                okButton.removeAttribute("disabled");
            }
        })
    }
</script>
{% endblock %}
