{% extends "base_search_page.html" %}
{% load static %}
{% block sidebar_panel %}
{% with active_tab='system_users' %}
    {{ block.super }}
{% endwith %}
{% endblock sidebar_panel %}
{% block content %}
<div class="panel mb30">
    <div class="panel-heading">
        <h3>System Users</h3>
    </div>
        <form id="submit-form" class="form-horizontal" role="form" method="post" action="{% url 'system_user:search' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">username</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-rounded" name="username" id="username_search" value="{{ username }}"/>
                </div>
                <label class="col-sm-1 control-label">email</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-rounded" name="email" id="email_search" value="{{ email }}">
                </div>
                <div class="col-xs-1">
                    <input id="search_btn" class="btn btn-success btn-block" type="button" onclick="search_system_user()" value="Search">
                </div>
            </div>
        </form>
    <div class="pull-right mr15 text-right">
        <a href="{% url 'system_user:create-system-user' %}">
            <input id="system_user_btn_add" class="btn btn-success btn-block text-left no-print mb15" type="button"
                   value="Add"/>
        </a>
    </div>
{% for message in messages %}
    <div class="col-xs-12">
        <div class='alert
                    {%if "successfully" in message %}
                    alert-success
                    {%else%}
                    alert-danger
                    {%endif%}
                    alert-dismissable' id="msg-create-system-user">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ message|capfirst }}</strong>
        </div>
    </div>
 {% endfor %}

    {% if del_msg is not None %}
        <div class="col-xs-12">
            <div class='alert
                        {%if "successfully" in del_msg %}
                        alert-success
                        {% else %}
                        alert-danger
                        {% endif %}
                        alert-dismissable' id="alert-success-agent-type">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ del_msg }}</strong>
            </div>
        </div>
    {% endif %}

    {% if pw_msg is not None %}
        <div class="col-xs-12">
            <div class='alert
                        {%if "sucessfully" in pw_msg%}
                        alert-success
                        {% else %}
                        alert-danger
                        {% endif %}
                        alert-dismissable' id="system_user_change_password_msg">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ pw_msg }}</strong>
            </div>
        </div>
    {% endif %}


    <div class="panel-body">
        <div class="table-responsive" id=system_user_table>
            <table class="table table-bordered table-striped mb0">
                <thead>
                <tr>
                    <th id="id">ID</th>
                    <th id="username">Username</th>
                    <th id="firstname_lastname">Firstname Lastname</th>
                    <th id="created_date">Created Date</th>
                    <th id="action">Action</th>
                </tr>
                </thead>
                <tbody id="table_body">
                </tbody>
            </table>
        </div>
    </div>
    <div class="loader" style="display:none" id="loader-indicator"></div>
    <div class="col-xs-12" id="search-result-notification" style="display:none">
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            Something wrong happened.
        </div>
    </div>
</div>

<script>
    function search_system_user() {
        var url = "{% url 'system_user:search' %}";

        data = {'username': $("#username_search").val(),
                'email': $("#email_search").val()}

        do_search(url, "table_body", "loader-indicator", "search-result-notification", data);
    }
</script>
{% endblock %}