{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'vendor/chosen_v1.4.0/chosen.min.css' %}?{% now "U" %}">
<style>
    .chosen-container {
        position: absolute;
    }
</style>
<div class="panel mb25" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading border">
        <h3>Payment Order</h3>
    </div>
    <div class="panel-body">
        <form id="submit-form" class="form-horizontal" role="form" method="post" action="{% url 'payments:payment_order' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Order ID</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control input-rounded" name="order_id" id="txt_order_id" value="{{ order_id }}">
                </div>
                <label class="col-sm-2 control-label">Ext Transaction ID</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control input-rounded" name="ext_transaction_id" id="txt_ext_transaction_id" value="{{ ext_transaction_id }}">
                </div>
                <label class="col-sm-1 control-label">Error Code</label>
                <div class="col-sm-3 select-error-code" style="position: relative;">
                    <select style="display:none;" id="ddl_error_code" onchange="selectErrorCode()" data-placeholder="-" multiple class="chosen" name="error_code_id">
                        {% for item in error_list %}
                            {% if item.name in error_code_id %}
                                <option value="{{item.name}}" selected>{{ item.title }}</option>
                            {%else%}
                                <option value="{{item.name}}">{{ item.title }}</option>
                            {%endif%}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Service Name</label>
                <div class="col-sm-2">
                    <select class="form-control" id="ddl_service" name="service_name" >
                        <option value="" selected="selected">-</option>
                        {% for service in data %}
                            {%if service.service_name == service_name%}
                            <option value="{{service_name }}" selected>{{service_name }}</option>
                            {% else %}
                            <option value="{{service.service_name }}">{{service.service_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <label class="col-sm-2 control-label">Status</label>
                <div class="col-sm-2">
                    <select class="form-control" id="ddl_status" name="status_id" >
                        <option value="" selected="selected">All</option>

                        {% for item in status_list %}
                           {% if item.id == status_id %}
                            <option value="{{item.id}}" selected>{{item.name}}</option>
                            {% else %}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">User type</label>
                <div class="col-xs-2">
                    <select class="form-control" id="ddl_user_type" name="user_type">
                        <option value=0 {% if user_type == '0' %}selected="selected"{% endif %}>All</option>
                        <option value=1 {% if user_type == '1' %}selected="selected"{% endif %}>Customer</option>
                        <option value=2 {% if user_type == '2' %}selected="selected"{% endif %}>Agent</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">User ID</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-rounded" name="user_id" id="txt_user_id" value="{{ user_id }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Creation Client ID</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-rounded"
                           name="creation_client_id"
                           value="{{ creation_client_id|default_if_none:'' }}"
                           id="txt_creation_client_id">
                </div>
                <label class="col-sm-2 control-label">Execution Client ID</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-rounded"
                           name="execution_client_id"
                           value="{{ execution_client_id|default_if_none:'' }}"
                           id="txt_execution_client_id">
                </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-2 control-label">From</label>
                    <div class="col-sm-2">
                        <input type="date" class="form-control input-rounded"
                               name="from_created_timestamp"
                               value="{{ date_from|default_if_none:'' }}"
                               id="dtp_from_date">
                    </div>
                    <label class="col-sm-2 control-label">To</label>
                    <div class="col-xs-2">
                        <input type="date" class="form-control input-rounded"
                               name="to_created_timestamp"
                               value="{{ date_to|default_if_none:'' }}"
                               id="dtp_to_date">
                    </div>
                    <input id="current_page_index" name="current_page_index" style="display:none" value="1">
                    {% if permissions.is_perm_order_search %}
                    <div class="col-xs-1 col-xs-offset-3">
                        <input id="btn_search" class="btn btn-success btn-block" type="submit" name="search"
                               value="Search">
                    </div>
                    {% endif %}
                </div>
            <label class="pull-right" id="lbl_total">{{ search_count }}</label>
            <label class="pull-right" >Total Orders found:&nbsp;</label>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0" id="tbl_order_list">
                <thead>
                <tr>
                    <th id="id">Order ID</th>
                    <th id="id">Ref. Order ID</th>
                    <th id="service_name">Service Name</th>
                    <th id="command">Command</th>
                    <th id="status">Status</th>
                    <th id="amount">Amount</th>
                    <th id="currency">Currency</th>
                    <th id="balance">Payment Method</th>
                    <th id="last_modify_date">Last Modify Date</th>
                    <th id="initiator_id">Initiator (ID)</th>
                    <th id="payer_id">Payer (ID)</th>
                    <th id="payee_id">Payee (ID)</th>
                    <th id="free">Fee</th>
                    <th id="bonus">Bonus</th>
                    <th id="user">Ext Transaction ID</th>
                    <th id="user">Creation Client ID</th>
                    <th id="user">Execution Client ID</th>
                    <th id="user">Error Code</th>
                    <th id="user">Error Reason</th>
                    <th id="user">Action</th>
                </tr>
                </thead>
                <tbody id="table_body">
                    {% for order in order_list %}
                        {% if not order.error_code %}
                        <tr class="order_error_code_none">
                        {%else%}
                        <tr class="{{ order.error_code }}">
                        {%endif%}

                            <td class="col-sm-2">{{ order.order_id }}</td>
                            <td class="col-sm-2">{{ order.ref_order_id|default_if_none:""}}</td>
                            <td class="col-sm-2">{{ order.product_service.name }}</td>
                            <td class="col-sm-2">{{ order.product_command.name }}</td>
                            <td class="col-sm-2">{{ order.status }}</td>
                            <td class="col-sm-2">{{ order.amount }}</td>
                            <td class="col-sm-2">{{ order.currency }}</td>
                            <td class="col-sm-2">{{ order.payment_method.name }}</td>
                            <td class="col-sm-2">{{ order.last_updated_timestamp }}</td>
                            <td class="col-sm-2">{{ order.initiator.user_type_name }} ({{ order.initiator.user_id }})</td>
                            <td class="col-sm-2">{{ order.payer.user_type_name }} ({{ order.payer.user_id }})</td>
                            <td class="col-sm-2">{{ order.payee.user_type_name }} ({{ order.payee.user_id }})</td>
                            <td class="col-sm-2">{{ order.fee }}</td>
                            <td class="col-sm-2">{{ order.bonus }}</td>
                            <td class="col-sm-2">{{ order.ext_transaction_id }}</td>
                            <td class="col-sm-2">{{ order.created_client_id }}</td>
                            <td class="col-sm-2">{{ order.executed_client_id }}</td>
                            <td class="col-sm-2">{{ order.error_code }}</td>
                            <td class="col-sm-2">{{ order.error_message }}</td>
                            <td class="col-sm-2">
                                {% if permissions.is_perm_order_detail %}
                                    <button id="btn_detail" class="btn btn-info mb5 btn-outline btn-xs" onclick="location.href='{% url 'payments:order_detail' order.order_id %}'">Detail</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "pagination.html" %}
    </div>
    <div class="loader" style="display:none" id="loader-indicator"></div>
    <div class="col-xs-12" id="search-result-notification" style="display:none">
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            Something wrong happened.
        </div>
    </div>
</div>
<script src="/admin-portal/static/vendor/jquery/dist/jquery.min.js"></script>
<script src="/admin-portal/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{% static 'vendor/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
<script src="{% static 'vendor/chosen_v1.4.0/chosen.jquery.min.js' %}"></script>
<script src="{% static 'scripts/pages/form-custom.js' %}"></script>
<script>
    var isAllSelected = function(selectedValues) {
        for(var i = 0; i < selectedValues.length; i++) {
            if(selectedValues[i] == 'All') {
                return true;
            }
        }
        return false;
    };
    var selectErrorCode = function() {
        var selectedValues = $('#ddl_error_code').val();
        if(selectedValues == null) {
            selectedValues = [];
        }
        if(isAllSelected(selectedValues)) {
            var selectedNode =  document.getElementsByClassName("search-choice");
            for(var i = 0; i< selectedNode.length; i++) {
                if(selectedNode[i].childNodes[0].innerText !== 'All') {
                    selectedNode[i].childNodes[1].click();
                }
            }
            $('.select-error-code .chosen-drop .chosen-results li').each(function(index, elm) {
                $(elm).removeClass('active-result');
                 $(elm).removeClass('highlighted');
                $(elm).addClass('result-selected');
            });
        }
    };

    $('#ddl_error_code').on("chosen:showing_dropdown", function () {
        selectErrorCode();
    });

</script>
{% endblock %}

