{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel mb25" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading border">
        <h3>Payment Order</h3>
    </div>

    <div class="panel-body">
        <form id="submit-form" class="form-horizontal" role="form" method="post" action="{% url 'payments:payment_order' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-1 control-label">Order ID</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control input-rounded" name="order_id" id="txt_order_id" value="{{ order_id }}">
                </div>
                <label class="col-sm-1 control-label">Ext Transaction ID</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control input-rounded" name="ext_transaction_id" id="txt_ext_transaction_id" value="{{ ext_transaction_id }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Service Name</label>
                <div class="col-sm-2">
                    <select class="form-control" id="ddl_service" name="service_name" >
                        <option value="" selected="selected">-</option>
                        {% for service in data %}
                            {%if service.service_name == service_name%}
                            <option value="{{service_name }}" selected>{{service_name }}</option>
                            {% else %}
                            <option value="{{service.service_name }}">{{service.service_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <label class="col-sm-1 control-label">Status</label>
                <div class="col-sm-2">
                    <select class="form-control" id="ddl_status" name="status_id" >
                        <option value="" selected="selected">All</option>

                        {% for item in status_list %}
                           {% if item.id == status_id %}
                            <option value="{{item.id}}" selected>{{item.name}}</option>
                            {% else %}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Payer User ID</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control input-rounded" name="payer_user_id" id="txt_payer_user_id" value="{{ payer_user_id }}">
                </div>
                <label class="col-sm-1 control-label">Payer User Type</label>
                <div class="col-xs-2">
                    <select class="form-control" id="ddl_payer_user_type" name="payer_user_type_id">
                        <option value=0 {% if payer_user_type_id == '0' %}selected="selected"{% endif %}>All</option>
                        <option value=1 {% if payer_user_type_id == '1' %}selected="selected"{% endif %}>Customer</option>
                        <option value=2 {% if payer_user_type_id == '2' %}selected="selected"{% endif %}>Agent</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Payee User ID</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control input-rounded" name="payee_user_id" id="txt_payee_user_id" value="{{ payee_user_id }}">
                </div>
                <label class="col-sm-1 control-label">Payee User Type</label>
                <div class="col-xs-2">
                    <select class="form-control" id="ddl_payee_user_type" name="payee_user_type_id">
                        <option value=0 {% if payee_user_type_id == '0' %}selected="selected"{% endif %}>All</option>
                        <option value=1 {% if payee_user_type_id == '1' %}selected="selected"{% endif %}>Customer</option>
                        <option value=2 {% if payee_user_type_id == '2' %}selected="selected"{% endif %}>Agent</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-1 control-label">From</label>
                    <div class="col-sm-2">
                        <input type="date" class="form-control input-rounded"
                               name="from_created_timestamp"
                               value="{{ date_from|default_if_none:'' }}"
                               id="dtp_from_date">
                    </div>
                    <label class="col-sm-1 control-label">To</label>
                    <div class="col-xs-2">
                        <input type="date" class="form-control input-rounded"
                               name="to_created_timestamp"
                               value="{{ date_to|default_if_none:'' }}"
                               id="dtp_to_date">
                    </div>
                    <div class="col-xs-1">
                        <input id="search_btn" class="btn btn-success btn-block" type="submit" name="search"
                               value="Search">
                    </div>
                </div>
            <label class="pull-right" id="lbl_total">{{ search_count }}</label>
            <label class="pull-right" >Total Orders found:&nbsp;</label>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0" id="tbl_order_list">
                <thead>
                <tr>
                    <th id="id">Order ID</th>
                    <th id="id">Ref. Order ID</th>
                    <th id="service_name">Service Name</th>
                    <th id="command">Command</th>
                    <th id="status">Status</th>
                    <th id="amount">Amount</th>
                    <th id="currency">Currency</th>
                    <th id="balance">Payment Method</th>
                    <th id="last_modify_date">Last Modify Date</th>
                    <th id="initiator_id">Initiator (ID)</th>
                    <th id="payer_id">Payer (ID)</th>
                    <th id="payee_id">Payee (ID)</th>
                    <th id="free">Fee</th>
                    <th id="bonus">Bonus</th>
                    <th id="user">Ext Transaction ID</th>
                </tr>
                </thead>
                <tbody id="table_body">
                    {% for order in order_list %}
                        <tr>
                            <td class="col-sm-2">{{ order.order_id }}</td>
                            <td class="col-sm-2">{{ order.ref_order_id|default_if_none:""}}</td>
                            <td class="col-sm-2">{{ order.product_service.name }}</td>
                            <td class="col-sm-2">{{ order.product_command.name }}</td>
                            <td class="col-sm-2">{{ order.status }}</td>
                            <td class="col-sm-2">{{ order.amount }}</td>
                            <td class="col-sm-2">{{ order.currency }}</td>
                            <td class="col-sm-2">{{ order.payment_method.name }}</td>
                            <td class="col-sm-2">{{ order.last_updated_timestamp }}</td>
                            <td class="col-sm-2">{{ order.initiator.user_type_name }} ({{ order.initiator.user_id }})</td>
                            <td class="col-sm-2">{{ order.payer.user_type_name }} ({{ order.payer.user_id }})</td>
                            <td class="col-sm-2">{{ order.payee.user_type_name }} ({{ order.payee.user_id }})</td>
                            <td class="col-sm-2">{{ order.fee }}</td>
                            <td class="col-sm-2">{{ order.bonus }}</td>
                            <td class="col-sm-2">{{ order.ext_transaction_id }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="loader" style="display:none" id="loader-indicator"></div>
    <div class="col-xs-12" id="search-result-notification" style="display:none">
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            Something wrong happened.
        </div>
    </div>
</div>
{% endblock %}
