{% load permissions_filter %}
{% load menu_tags %}
{% block sidebar_panel %}
<div class="sidebar-panel offscreen-left">
    <div class="brand">
        <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3"
           data-toggle="layout-small-menu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    {% with request.resolver_match.url_name as url_name %}
    <nav role="navigation">
        <ul class="nav"  id="horizontal-list">
            <li class="class={% if url_name == 'web-index' %} active{% endif %}">
                <a href="{% url 'web:web-index' %}">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            {% if request|has_any_permission:"CAN_MANAGE_GW_SERVICE,CAN_MANAGE_GW_API,CAN_MANAGE_CLIENTS,CAN_MANAGE_PASSWORD_CENTER" %}
                {% with request.resolver_match.app_name as app_name %}
                <li class="menu-accordion {% if app_name == "channel_gateway_service" %} open{% elif app_name == "channel_gateway_api" %} open{% elif app_name == "clients" %} open{% elif app_name == "password_center" %} open {% endif %}">
                    <a href="javascript:;"> <i class="fa fa-male"></i> <span>Authentication</span> </a>
                    <ul class="sub-menu">
                    {% if request|has_any_permission:"CAN_MANAGE_GW_SERVICE" %}
                        <li class="class={% if app_name == "channel_gateway_service"  %} active{% endif %}">
                            <a href="{% url 'channel_gateway_service:list' %}"> <span>Services</span> </a>
                        </li>
                    {% endif %}
                    {% if request|has_any_permission:"CAN_MANAGE_GW_API" %}
                        <li class="class={% if app_name == "channel_gateway_api" %} active{% endif %}">
                            <a href="{% url 'channel_gateway_api:list' %}"> <span>APIs</span> </a>
                        </li>
                    {% endif %}
                    {% if request|has_any_permission:"CAN_MANAGE_CLIENTS"%}
                        <li class="class={% if app_name == "clients" %} active{% endif %}">
                                <a href="{% url 'clients:client-list' %}"> <span>Clients</span> </a>
                        </li>
                    {% endif %}
                    {% if request|has_any_permission:"CAN_MANAGE_PASSWORD_CENTER"%}
                    <li class="{% if app_name == "password_center" %} active{% endif %}">
                            <a href="{% url 'password_center:list' %}"> <span>Password Center</span> </a>
                    </li>
                     {% endif %}
                    </ul>
                </li>
                {% endwith %}
            {% endif %}
            {% if request.user|has_permission_name:"SYS_MANAGE_PERMISSION_ENTITIES" or request.user|has_permission_name:"CAN_MANAGE_ROLE"%}
            {% check_valid_url url_name 'authentications' as is_authen_url %}
            <li class="menu-accordion {% if is_authen_url %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-sign-in"></i> <span>Authorizations</span> </a>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"SYS_MANAGE_PERMISSION_ENTITIES"%}
                    <li class="menu-accordion {% if 'permissions' in request.path %}open{% endif %}">
                        <a href="javascript:;"><span>Permissions</span> </a>
                        <ul class="sub-menu">
                            <li class="{% if url_name in 'permissions_list,edit_permission,permission_detail,delete_permission' %}active{% endif %}">
                                <a href="{% url 'authentications:permissions_list' %}"> <span>Permission Entities</span> </a>
                            </li>
                            {% if request.user|has_permission_name:"SYS_CREATE_PERMISSION_ENTITIES"%}
                            <li class="{% if url_name == 'create_permission' %}active{% endif %}">
                                <a href="{% url 'authentications:create_permission' %}"> <span>Create Permission</span> </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}

                    {% if request.user|has_permission_name:"CAN_MANAGE_ROLE"%}
                    <li class="menu-accordion {% if 'roles' in request.path %}open{% endif %}">
                        <a href="javascript:;"><span>Roles</span> </a>
                        <ul class="sub-menu">
                            <li class="{% if url_name in 'role_list,edit_role,delete_role,role_detail,role_manage_permission' %}active{% endif %}">
                                <a href="{% url 'authentications:role_list' %}"> <span>Role Entities</span> </a>
                            </li>
                            {% if request.user|has_permission_name:"CAN_CREATE_ROLE"%}
                            <li class="{% if url_name == 'create_role' %}active{% endif %}">
                                <a href="{% url 'authentications:create_role' %}"> <span>Create Role</span> </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"SYS_MANAGE_COUNTRYCODE" or request.user|has_permission_name:"SYS_VIEW_CURRENCY" or request.user|has_permission_name:"SYS_MANAGE_COMPANY_BALANCE" or request.user|has_permission_name:"CAN_VIEW_BALANCE_SUMMARY" %}
            {% check_valid_url url_name 'balances' as is_balance_url %}
            <li class="menu-accordion {% if is_balance_url %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-money"></i> <span>Balances</span> </a>
                {% if request.user|has_permission_name:"SYS_MANAGE_COUNTRYCODE"%}
                <ul class="sub-menu">
                    <li class="{% if url_name == 'country-code' %}active{% endif %}">
                        <a href="{% url 'balances:country-code' %}"> <span>Country Code</span> </a>
                    </li>
                </ul>
                {% endif %}
                {% if request.user|has_permission_name:"SYS_VIEW_CURRENCY"%}
                <ul class="sub-menu">
                    <li class="{% if url_name == 'currency-list' %}active{% endif %}">
                        <a href="{% url 'balances:currency-list' %}"> <span>Currencies</span> </a>
                    </li>
                </ul>
                {% endif %}
                {% if request.user|has_permission_name:"SYS_MANAGE_COMPANY_BALANCE"%}
                <ul class="sub-menu">
                    <li class="{% if url_name == 'initial_company_balance' %}active{% endif %}">
                        <a href="{% url 'balances:initial_company_balance' %}">
                            <span>Setup Company Balance</span> </a>
                    </li>
                </ul>
                {% endif %}
                {% if request.user|has_permission_name:"SYS_MANAGE_COMPANY_BALANCE"%}
                <ul class="sub-menu">
                    <li class="{% if url_name == 'company_balance' %}active{% endif %}">
                        <a href="{% url 'balances:company_balance' %}"> <span>Company Balance</span> </a>
                    </li>
                </ul>
                {% endif %}
                {% if request.user|has_permission_name:"CAN_VIEW_BALANCE_SUMMARY"%}
                <ul class="sub-menu">
                    <li class="{% if url_name == 'balance_summary' %}active{% endif %}">
                        <a href="{% url 'balances:balance_summary' %}"> <span>Balance Summary</span> </a>
                    </li>
                </ul>
                {% endif %}
            </li>
            {% endif %}
            {% if request|has_any_permission:"CAN_MANAGE_SERVICE_GROUP,CAN_MANAGE_SERVICE,CAN_LABEL_TIER_CONFIGURATION" %}
            {% check_valid_url url_name 'service_group,services' as is_services_urls %}
            <li class="menu-accordion class={% if is_services_urls %} open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-tasks"></i> <span>Payment Services</span> </a>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"CAN_MANAGE_SERVICE_GROUP"%}
                    {% check_valid_url url_name 'service_group' as is_service_group_url %}
                    <li class="class={% if is_service_group_url %} active{% endif %}">
                        <a href="{% url 'service_group:service_group_list' %}"> <span>Service Groups</span> </a>
                    </li>
                    {% endif %}
                    {% if request.user|has_permission_name:"CAN_MANAGE_SERVICE" %}
                    {% check_valid_url url_name 'services' as is_services_url %}
                    <li class="class={% if is_services_url and 'tier-levels' not in request.path %} active{% endif %}">
                        <a href="{% url 'services:services_list' %}"> <span>Services</span> </a>
                    </li>
                    {% endif %}
                    {% if request.user|has_permission_name:"CAN_LABEL_TIER_CONFIGURATION" %}
                    <li class="{% if 'tier-levels' in request.path %}active{% endif %}">
                        <a href="{% url 'services:tier_label_list' %}"> <span>Tier Level Configuration Labels</span> </a>
                    </li>
                    {% endif %}

                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_MANAGE_CATEGORY" or request.user|has_permission_name:"CAN_MANAGE_PRODUCT"%}
            {% check_valid_url url_name 'product,category' as is_product_configuration_urls %}
            <li class="menu-accordion class={% if is_product_configuration_urls %} open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-sitemap"></i> <span>Product Configuration</span> </a>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"CAN_MANAGE_CATEGORY"%}
                    {% check_valid_url url_name 'category' as is_categories_url %}
                    <li class="class={% if is_categories_url %} active{% endif %}">
                        <a href="{% url 'category:categories' %}"> <span>Categories</span> </a>
                    </li>
                    {% endif %}
                    {% if request.user|has_permission_name:"CAN_MANAGE_PRODUCT"%}
                    {% check_valid_url url_name 'product' as is_products_url %}
                    <li class="class={% if is_products_url %} active{% endif %}">
                        <a href="{% url 'product:products' %}"> <span>Products</span> </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_MANAGE_AGENT_TYPE" or request.user|has_permission_name:"CAN_MANAGE_AGENT_REGISTRATION" or request.user|has_permission_name:"CAN_VIEW_AGENT_LIST" or request.user|has_permission_name:"CAN_MANAGE_SHOP"%}
                {% check_valid_url url_name 'agent_type,agents' as is_agent_urls %}
                <li class="menu-accordion {% if is_agent_urls or '/shop' in  request.path %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-id-card-o" aria-hidden="true"></i> <span>Agents</span> </a>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"CAN_MANAGE_AGENT_TYPE"%}
                    {% check_valid_url url_name 'agent_type' as is_agent_type_url %}
                    <li class="class={% if is_agent_type_url %} active{% endif %}">
                        <a href="{% url 'agent_type:agent-type-list' %}"> <span>Agent Types</span> </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"CAN_MANAGE_AGENT_REGISTRATION"%}
                        <li class="class={% if url_name == 'agent_registration' %} active{% endif %}">
                        <a href="{% url 'agents:agent_registration' %}"> <span>Agent Registration</span> </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"CAN_VIEW_AGENT_LIST"%}
                        {% check_valid_url url_name 'agents' as is_agent_url %}
                        <li class="class={% if is_agent_url and 'registration' not in request.path %} active{% endif %}">
                        <a href="{% url 'agents:agent-list' %}"> <span>Agent Profile</span> </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="sub-menu">
                    <li class="class={% if 'shop_type' in  url_name %} active{% endif %}">
                        <a href="{% url 'shop_type:shop_type_list' %}"> <span>Shop Types</span> </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li class="class={% if 'shop_category' in  url_name %} active{% endif %}">
                        <a href="{% url 'shop_category:shop_category_list' %}"> <span>Shop Categories</span> </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"CAN_MANAGE_SHOP"%}
                        {% check_valid_url url_name 'agents' as is_agent_url %}
                        <li class="class={% if '/shops/' in  request.path %} active{% endif %}">
                            <a href="{% url 'shop:shop_list' %}"> <span>Shops Management</span> </a>
                        </li>
                    {% endif %}
                </ul>

            </li>
            {% endif %}

            {% if request.user|has_permission_name:"SYS_MANAGE_SCOPES" or user.is_authenticated %}
            {% check_valid_url url_name 'centralize_configuration,report_configuration' as is_configuration_url %}
            <li class="menu-accordion {% if is_configuration_url %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-cog"></i> <span>Configuration</span> </a>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"SYS_MANAGE_SCOPES" %}
                    {% check_valid_url url_name 'centralize_configuration' as is_centralize_url %}
                    <li class="class={% if is_centralize_url %} active{% endif %}">
                        <a href="{% url 'centralize_configuration:scope_list' %}">
                            <span>Centralize Configuration</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="sub-menu">
                    {% if user.is_authenticated %}
                        {% check_valid_url url_name 'report_configuration' as is_report_configuration_url %}
                        <li class="class={% if is_report_configuration_url %} active{% endif %}">
                            <a href="{% url 'report_configuration:report_configuration' %}">
                                <span>Report Configuration</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}

            {% if request.user|has_permission_name:"CAN_MANAGE_MEMBER_CUSTOMER_PROFILE" or request.user|has_permission_name:"CAN_MANAGE_BLOCKED_DEVICES"%}
                {% check_valid_url url_name 'customers' as is_customer_url%}
                <li class="{% if is_customer_url %} open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-users"></i> <span>Member Customers</span> </a>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"CAN_MANAGE_MEMBER_CUSTOMER_PROFILE"%}
                    <li id="customers_menu" class="{% if url_name == 'customer-list' %}active{% endif %}">
                        <a href="{% url 'customers:customer-list' %}"><span>Member Customers Profile</span></a>
                    </li>
                    {% endif %}
                    {% if request.user|has_permission_name:"CAN_MANAGE_BLOCKED_DEVICES"%}
                    <li id="blocked_devices" class="{% if url_name == 'blocked-devices' %}active{% endif %}">
                        <a href="{% url 'customers:blocked-devices' %}"><span>Blocked Devices</span></a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"SYS_MANAGE_SYSTEM_USER"%}
            {% check_valid_url url_name 'system_user' as is_sys_user_url%}
            <li class="{% if is_sys_user_url %} open{% endif %}">
                <a href="javascript:;"><i class="fa fa-user-circle-o"></i><span>System Users</span> </a>
                <ul class="sub-menu">
                    <li id="system_user_menu" class="{% if is_sys_user_url %}active{% endif %}">
                        <a href="{% url 'system_user:system-user-list' %}"><span>System Users</span></a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_SEARCH_CARD_PROFILE" or request.user|has_permission_name:"CAN_SEARCH_CARD_HISTORY" or request.user|has_permission_name:"CAN_VIEW_FREEZE_CARD_LIST"%}
                {% check_valid_url url_name 'cards,card_type' as is_card_urls %}
                <li class="menu-accordion {% if is_card_urls %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Card Management</span> </a>
                {% if request.user|has_permission_name:"CAN_SEARCH_CARD_PROFILE"%}
                    <ul class="sub-menu">
                    <li class="{% if url_name == 'profile' %}active{% endif %}">
                        <a href="{% url 'cards:profile' %}"> <span>Profile</span> </a>
                    </li>
                </ul>
                {% endif %}
                {% if request.user|has_permission_name:"CAN_SEARCH_CARD_HISTORY"%}
                    <ul class="sub-menu">
                    <li class="{% if url_name == 'history' %}active{% endif %}">
                        <a href="{% url 'cards:history' %}"> <span>History</span> </a>
                    </li>
                </ul>
                {% endif %}
                <ul class="sub-menu">
                    {% check_valid_url url_name 'card_type' as is_card_type_url %}
                    <li class="{% if is_card_type_url %}active{% endif %}">
                        <a href="{% url 'card_type:card-type-list' %}"> <span>Card Type List</span> </a>
                    </li>
                </ul>
                {% if request.user|has_permission_name:"CAN_VIEW_FREEZE_CARD_LIST"%}
                <ul class="sub-menu">
                    <li class="{% if url_name == 'card_freeze_list' %}active{% endif %}">
                        <a href="{% url 'cards:card_freeze_list' %}"> <span>Freeze cards list</span> </a>
                    </li>
                </ul>
                {%endif%}

            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_MANAGE_PAYMENT"%}
            {% check_valid_url url_name 'payments' as is_payment_url%}
            <li class="menu-accordion {% if is_payment_url %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-list"></i> <span>Payment</span> </a>
                <ul class="sub-menu">
                    <li class="{% if is_payment_url %}active{% endif %}">
                        <a href="{% url 'payments:payment_order' %}"> <span>Order</span> </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            
            {% if request.user|has_permission_name:"SYS_MANAGE_BANK" or request.user|has_permission_name:"SYS_MANAGE_CARD_DESIGN" or request.user|has_permission_name:"SYS_MANAGE_PROVIDER" or request.user|has_permission_name:"CAN_MANAGE_BANK_SOF" or request.user|has_permission_name:"CAN_MANAGE_CARD_SOF" or request.user|has_permission_name:"CAN_MANAGE_CASH_SOF" %}
                {% check_valid_url url_name 'bank_sofs,bank,card_sofs,card_design,card_provider,cash_sofs' as is_sof_url %}
                <li class="menu-accordion {% if is_sof_url %}open{% endif %}">
                    <a href="javascript:;"> <i class="fa fa-clone"></i> <span>Source Of Fund</span> </a>
                    <ul class="sub-menu">
                    {% check_valid_url url_name 'bank_sofs,bank' as is_bank_url %}
                    <li class="menu-accordion {% if is_bank_url %}open{% endif %}">
                        <a href="javascript:;"><span>Bank</span> </a>
                        <ul class="sub-menu">
                            {% if request.user|has_permission_name:"CAN_MANAGE_BANK_SOF"%}
                            <li class="{% if url_name == 'bank_sof' %}active{% endif %}">
                                <a id="sof-bank-information" id="bank_sof_list" href="{% url 'bank_sofs:bank_sof' %}"> <span>Information</span> </a>
                            </li>
                            {% endif %}
                            {% if request.user|has_permission_name:"SYS_MANAGE_BANK"%}
                            <li class="{% if url_name == 'bank_sofs_list' %}active{% endif %}">
                                <a id="sof-bank-bank-management" href="{% url 'bank:bank_sofs_list' %}"> <span>Bank Management</span> </a>
                            </li>
                            {% endif %}
                            {% if request.user|has_permission_name:"CAN_MANAGE_BANK_SOF"%}
                            <li class="{% if url_name == 'bank_sofs_transaction' %}active{% endif %}">
                                <a id="sof-bank-transaction" href="{% url 'bank_sofs:bank_sofs_transaction' %}"> <span>Transaction</span> </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% check_valid_url url_name 'card_sofs,card_design,card_provider' as is_source_card_url %}
                    <li class="menu-accordion {% if is_source_card_url %}open{% endif %}">
                        <a href="javascript:;"><span>Card</span> </a>
                        <ul class="sub-menu">
                            {% if request.user|has_permission_name:"CAN_MANAGE_CARD_SOF"%}
                            <li class="{% if url_name == 'card_sof' %}active{% endif %}">
                                <a id="sof-card-information" id="card_sof_list"  href="{% url 'card_sofs:card_sof' %}"> <span>Information</span> </a>
                            </li>
                            {% endif %}
                            {% if request.user|has_permission_name:"SYS_MANAGE_CARD_DESIGN"%}
                            <li class="{% if url_name == 'card_designs' %}active{% endif %}">
                                <a id="sof-card-design-management" href="{% url 'card_design:card_designs' %}"> <span>Design Management</span> </a>
                            </li>
                            {% endif %}
                            {% if request.user|has_permission_name:"SYS_MANAGE_PROVIDER"%}
                            <li class="{% if url_name == 'card_provider' %}active{% endif %}">
                                <a id="sof-card-provider-management" href="{% url 'card_provider:card_provider' %}"> <span>Provider Management</span> </a>
                            </li>
                            {% endif %}
                            {% if request.user|has_permission_name:"CAN_MANAGE_CARD_SOF"%}
                            <li class="{% if url_name == 'card_sofs_transaction' %}active{% endif %}">
                                <a id="sof-card-transaction" href="{% url 'card_sofs:card_sofs_transaction' %}"> <span>Transaction</span> </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>

                    {% if request.user|has_permission_name:"CAN_MANAGE_CASH_SOF"%}
                    {% check_valid_url url_name 'cash_sofs' as is_cash_sofs_url %}
                    <li class="menu-accordion {% if is_cash_sofs_url %}open{% endif %}">
                        <a href="javascript:;"><span>Cash</span> </a>
                        <ul class="sub-menu">
                            <li class="{% if url_name == 'cash_sof' %}active{% endif %}">
                                <a id="sof-cash-information" href="{% url 'cash_sofs:cash_sof' %}"> <span>Information</span> </a>
                            </li>
                            <li class="{% if url_name == 'cash_transaction' %}active{% endif %}">
                                <a id="sof-cash-transaction" href="{% url 'cash_sofs:cash_transaction' %}"> <span>Transaction</span> </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    </ul>











                </li>
            {%endif%}
            {% if request.user|has_permission_name:"CAN_MANAGE_RECONCILE"%}
            {% check_valid_url url_name 'reconcile' as is_reconcile_url %}
            <li class="menu-accordion {% if is_reconcile_url %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-exchange"></i> <span>Reconcile</span> </a>
                {% if request.user|has_permission_name:"CAN_MANAGE_PARTNER_RECONCILE"%}
                <ul class="sub-menu">
                    <li class="menu-accordion {% if 'partner' in request.path %}open{% endif %}">
                        <a href="javascript:;" id="partner_menu_reconcile"><span>Partner</span> </a>
                        <ul class="sub-menu">
                            {% if request.user|has_permission_name:"CAN_GET_FILE_LIST_PARTNER_RECONCILE"%}
                            <li class="{% if 'partner/file-list' in request.path %}active{% endif %}">
                                <a href="{% url 'reconcile:reconcile_partner_file_list' %}" id="partner_menu_file_list"> <span>File List</span> </a>
                            </li>
                            {% endif %}
                            {% if request.user|has_permission_name:"CAN_GET_RECONCILE_REPORT_PARTNER_RECONCILE"%}
                            <li class="{% if 'partner/report' in request.path %}active{% endif %}">
                                <a href="{% url 'reconcile:reconcile_partner_report' %}" id="partner_menu_reconcile_report"> <span>Reconcile Report</span> </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                {% endif %}
                {% if request.user|has_permission_name:"CAN_MANAGE_SOF_RECONCILE"%}
                <ul class="sub-menu">
                    <li class="menu-accordion {% if 'reconcile/sof/' in request.path %}open{% endif %}">
                        <a href="javascript:;"> <span>Source of fund</span> </a>
                        <ul class="sub-menu">
                            {% if request.user|has_permission_name:"CAN_GET_FILE_LIST_SOF_RECONCILE"%}
                            <li class="{% if 'sof/file-list' in request.path %}active{% endif %}">
                                <a href="{% url 'reconcile:reconcile_sof_file_list' %}" id="sof_menu_file_list"> <span>File List</span> </a>
                            </li>
                            {% endif %}
                            {% if request.user|has_permission_name:"CAN_GET_RECONCILE_REPORT_SOF_RECONCILE"%}
                            <li class="{% if 'sof/report' in request.path %}active{% endif %}">
                                <a href="{% url 'reconcile:reconcile_sof_report' %}" id="sof_menu_reconcile_report"> <span>Reconcile Report</span> </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"SYS_BAL_ADJUST_REQUEST" or request.user|has_permission_name:"SYS_BAL_ADJUST_HISTORY"%}
            {% check_valid_url url_name 'balance_adjustment' as is_adj_url %}
            <li class="menu-accordion {% if is_adj_url %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-pencil-square-o"></i> <span>Balance Adjustment</span> </a>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"SYS_BAL_ADJUST_HISTORY"%}
                    <li class="{% if url_name == 'balance_adjustment_list' or url_name == 'balance_adjustment_detail' %}active{% endif %}">
                        <a href="{% url 'balance_adjustment:balance_adjustment_list' %}"> <span>View and Approve Adjustment Requests</span> </a>
                    </li>
                    {% endif %}
                    {% if request.user|has_permission_name:"SYS_BAL_ADJUST_REQUEST"%}
                    <li class="{% if url_name == 'balance_adjustment_create' %}active{% endif %}">
                        <a href="{% url 'balance_adjustment:balance_adjustment_create' %}"> <span>Balance Adjustment Execute</span> </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_VIEW_VOUCHER_LIST"%}
            {% check_valid_url url_name 'voucher' as is_vouchers_url %}
            <li class="menu-accordion {% if is_vouchers_url %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-refresh"></i> <span>Vouchers</span> </a>
                <ul class="sub-menu">
                    <li class="{% if url_name == 'voucher' %}active{% endif %}">
                        <a href="{% url 'voucher:voucher' %}"> <span>Voucher List</span> </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_VIEW_CAMPAIGNS"%}
            {% check_valid_url url_name 'campaign' as is_campaign_url %}
            <li class="menu-accordion {% if is_campaign_url %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-cubes"></i> <span>Campaigns</span> </a>
                <ul class="sub-menu">
                    <li class="{% if url_name == 'campaign'%}active{% endif %}">
                        <a href="{% url 'campaign:campaign' %}"> 
                            <span>Campaign List</span> 
                        </a>
                    </li>
                    {% if request.user|has_permission_name:"CAN_EDIT_CAMPAIGN_CONFIGURATION"%}
                    <li class="{% if url_name == 'campaign_configuration'%}active{% endif %}">
                        <a href="{% url 'campaign:campaign_configuration' %}" id="campaign_configuration">
                            <span>Campaign Configuration</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}

            {% if request.user|has_permission_name:"CREATE_FRAUD_TICKET"%}
            {% check_valid_url url_name 'fraud_prevention' as is_fp_url %}
            <li class="menu-accordion {% if is_fp_url %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-shield"></i> <span>Fraud Prevention</span> </a>
                <ul class="sub-menu">
                    <li class="{% if url_name == 'fraud_prevention'%}active{% endif %}">
                        <a href="{% url 'fraud_prevention:fraud_prevention' %}">
                            <span>Create Fraud Ticket</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_VIEW_RULE_LIST"%}
            {% check_valid_url url_name 'rule_configuration' as is_rule_configuration_url %}
            <li class="menu-accordion {% if is_rule_configuration_url %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-history"></i> <span>Rule Configuration</span> </a>
                <ul class="sub-menu">
                    <li class="{% if url_name == 'rule_engine'%}active{% endif %}">
                        <a href="{% url 'rule_configuration:rule_engine' %}">
                            <span>Rule List</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'authentications:logout' %}">
                    <i class="fa fa-power-off"></i>
                    <span class="">Logout</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>
    {% endwith %}
</div>
{% endblock %}