{% load permissions_filter %}
{% block sidebar_panel %}
<div class="sidebar-panel offscreen-left">
    <div class="brand">
        <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3"
           data-toggle="layout-small-menu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    {% with request.resolver_match.url_name as url_name %}
    <nav role="navigation">
        <ul class="nav">
            <li class="class={% if url_name == 'web-index' %} active{% endif %}">
                <a href="{% url 'web:web-index' %}">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            {% if request.user|has_permission_name:"SYS_MANAGE_PERMISSION_ENTITIES" or request.user|has_permission_name:"CAN_MANAGE_ROLE"%}
            <li class="menu-accordion {% if 'authentications' in request.path %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Authorizations</span> </a>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"SYS_MANAGE_PERMISSION_ENTITIES"%}
                    <li class="menu-accordion {% if 'permissions' in request.path %}open{% endif %}">
                        <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Permissions</span> </a>
                        <ul class="sub-menu">
                            <li class="{% if url_name == 'permissions_list' %}active{% endif %}">
                                <a href="{% url 'authentications:permissions_list' %}"> <span>Permission Entities</span> </a>
                            </li>
                            {% if request.user|has_permission_name:"SYS_CREATE_PERMISSION_ENTITIES"%}
                            <li class="{% if url_name == 'create_permission' %}active{% endif %}">
                                <a href="{% url 'authentications:create_permission' %}"> <span>Create Permission</span> </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}

                    {% if request.user|has_permission_name:"CAN_MANAGE_ROLE"%}
                    <li class="menu-accordion {% if 'roles' in request.path %}open{% endif %}">
                        <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Roles</span> </a>
                        <ul class="sub-menu">
                            <li class="{% if url_name == 'role_list' %}active{% endif %}">
                                <a href="{% url 'authentications:role_list' %}"> <span>Role Entities</span> </a>
                            </li>
                            {% if request.user|has_permission_name:"CAN_CREATE_ROLE"%}
                            <li class="{% if url_name == 'create_permission' %}active{% endif %}">
                                <a href="{% url 'authentications:create_role' %}"> <span>Create Role</span> </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"SYS_MANAGE_COUNTRYCODE" or request.user|has_permission_name:"SYS_VIEW_CURRENCY" or request.user|has_permission_name:"SYS_MANAGE_COMPANY_BALANCE" %}
            <li class="menu-accordion {% if 'balances' in request.path %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-money"></i> <span>Balances</span> </a>
                {% if request.user|has_permission_name:"SYS_MANAGE_COUNTRYCODE"%}
                <ul class="sub-menu">
                    <li class="{% if url_name == 'country-code' %}active{% endif %}">
                        <a href="{% url 'balances:country-code' %}"> <span>Country Code</span> </a>
                    </li>
                </ul>
                {% endif %}
                {% if request.user|has_permission_name:"SYS_VIEW_CURRENCY"%}
                <ul class="sub-menu">
                    <li class="{% if url_name == 'currency-list' %}active{% endif %}">
                        <a href="{% url 'balances:currency-list' %}"> <span>Currencies</span> </a>
                    </li>
                </ul>
                {% endif %}
                {% if request.user|has_permission_name:"SYS_MANAGE_COMPANY_BALANCE"%}
                <ul class="sub-menu">
                    <li class="{% if url_name == 'initial_company_balance' %}active{% endif %}">
                        <a href="{% url 'balances:initial_company_balance' %}">
                            <span>Setup Company Balance</span> </a>
                    </li>
                </ul>
                {% endif %}
                {% if request.user|has_permission_name:"SYS_MANAGE_COMPANY_BALANCE"%}
                <ul class="sub-menu">
                    <li class="{% if url_name == 'company_balance' %}active{% endif %}">
                        <a href="{% url 'balances:company_balance' %}"> <span>Company Balance</span> </a>
                    </li>
                </ul>
                {% endif %}
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_MANAGE_SERVICE_GROUP" or request.user|has_permission_name:"CAN_MANAGE_SERVICE"%}
            <li class="menu-accordion class={% if 'services' in request.path or 'service-group' in request.path %} open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-trophy"></i> <span>Payment Services</span> </a>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"CAN_MANAGE_SERVICE_GROUP"%}
                    <li class="class={% if url_name == 'service_group_list' %} active{% endif %}">
                        <a href="{% url 'service_group:service_group_list' %}"> <span>Service Groups</span> </a>
                    </li>
                    {% endif %}
                    {% if request.user|has_permission_name:"CAN_MANAGE_SERVICE" %}
                    <li class="class={% if url_name == 'services_list' %} active{% endif %}">
                        <a href="{% url 'services:services_list' %}"> <span>Services</span> </a>
                    </li>
                    {% endif %}

                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_MANAGE_AGENT_TYPE" or request.user|has_permission_name:"CAN_MANAGE_AGENT_REGISTRATION" or request.user|has_permission_name:"CAN_VIEW_AGENT_LIST"%}
                <li class="menu-accordion {% if 'agent' in request.path %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-map-marker"></i> <span>Agents</span> </a>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"CAN_MANAGE_AGENT_TYPE"%}
                    <li class="class={% if url_name == 'agent-type-list' %} active{% endif %}">
                        <a href="{% url 'agent_type:agent-type-list' %}"> <span>Agent Types</span> </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"CAN_MANAGE_AGENT_REGISTRATION"%}
                        <li class="class={% if url_name == 'agent_registration' %} active{% endif %}">
                        <a href="{% url 'agents:agent_registration' %}"> <span>Agent Registration</span> </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="sub-menu">
                    {% if request.user|has_permission_name:"CAN_VIEW_AGENT_LIST"%}
                         <li class="class={% if url_name == 'agent-list' %} active{% endif %}">
                        <a href="{% url 'agents:agent-list' %}"> <span>Agent List</span> </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_MANAGE_CLIENTS"%}
            <li class="class={% if url_name == 'client-list' %} active{% endif %}">
                <a href="{% url 'clients:client-list' %}">
                    <i class="fa fa-tag"></i>
                    <span>Clients</span>
                </a>
            </li>
            {% endif %}
            <!--<li class="class={% if url_name == 'api_list' %} active{% endif %}">-->
            <!--<a href="{% url 'api_management:api_list' %}">-->
            <!--<i class="fa fa-sort-numeric-asc"></i>-->
            <!--<span>Api management</span>-->
            <!--</a>-->
            <!--</li>-->
            {% if request.user|has_permission_name:"SYS_MANAGE_SCOPES"%}
            <li class="class={% if url_name == 'scope_list' %} active{% endif %}">
                <a href="{% url 'centralize_configuration:scope_list' %}">
                    <i class="fa fa-sort-numeric-asc"></i>
                    <span>Centralize Configuration</span>
                </a>
            </li>
            {% endif %}
            <!-- <li class="menu-accordion {% if 'api-management' in request.path %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Api management</span> </a>
                <ul class="sub-menu">
                    <li class="{% if url_name == 'api_list' %}active{% endif %}">
                        <a href="{% url 'api_management:api_list' %}">
                            <span>Apis</span>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li class="{% if url_name == 'service_list' %}active{% endif %}">
                        <a href="{% url 'api_management:service_list' %}"> <span>Services</span> </a>
                    </li>
                </ul>
            </li> -->
            {% if request.user|has_permission_name:"CAN_MANAGE_MEMBER_CUSTOMER_PROFILE"%}
                <li class="{% if 'customers' in request.path %} open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-folder"></i> <span>Member Customers</span> </a>
                <ul class="sub-menu">
                    <li id="customers_menu" class="{% if url_name == 'customer-list' %}active{% endif %}">
                        <a href="{% url 'customers:customer-list' %}"><span>Member Customers Profile</span></a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"SYS_MANAGE_SYSTEM_USER"%}
            <li class="{% if 'system-user' in request.path %} open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-folder"></i> <span>System Users</span> </a>
                <ul class="sub-menu">
                    <li id="system_user_menu" class="{% if url_name == 'system-user-list' %}active{% endif %}">
                        <a href="{% url 'system_user:system-user-list' %}"><span>System Users</span></a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_MANAGE_CARD"%}
                <li class="menu-accordion {% if 'cards' in request.path or 'card-type' in request.path %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Card Management</span> </a>
                {% if request.user|has_permission_name:"CAN_SEARCH_CARD_PROFILE"%}
                    <ul class="sub-menu">
                    <li class="{% if url_name == 'profile' %}active{% endif %}">
                        <a href="{% url 'cards:profile' %}"> <span>Profile</span> </a>
                    </li>
                </ul>
                {% endif %}
                {% if request.user|has_permission_name:"CAN_SEARCH_CARD_HISTORY"%}
                    <ul class="sub-menu">
                    <li class="{% if url_name == 'history' %}active{% endif %}">
                        <a href="{% url 'cards:history' %}"> <span>History</span> </a>
                    </li>
                </ul>
                {% endif %}
                <ul class="sub-menu">
                    <li class="{% if url_name == 'card-type-list' %}active{% endif %}">
                        <a href="{% url 'card_type:card-type-list' %}"> <span>Card Type List</span> </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_MANAGE_PAYMENT"%}
            <li class="menu-accordion {% if 'payment' in request.path %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Payment</span> </a>
                {% if request.user|has_permission_name:"CAN_SEARCH_PAYMENT_ORDER"%}
                <ul class="sub-menu">
                    <li class="{% if url_name == 'order' %}active{% endif %}">
                        <a href="{% url 'payments:payment_order' %}"> <span>Order</span> </a>
                    </li>
                </ul>
                {% endif %}
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_MANAGE_CASH_SOF"%}
                 <li class="menu-accordion {% if 'cash' in request.path %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Cash Source Of Fund</span> </a>
                <ul class="sub-menu">
                    <li class="{% if url_name == 'cash_sof' %}active{% endif %}">
                        <a href="{% url 'cash_sofs:cash_sof' %}"> <span>Source of Fund</span> </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li class="{% if url_name == 'cash_transaction' %}active{% endif %}">
                        <a href="{% url 'cash_sofs:cash_transaction' %}"> <span>Transaction</span> </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_MANAGE_BANK_SOF"%}
                <li id="bank_sof_menu" class="menu-accordion {% if request.path|slice:"-10:" == 'bank/sofs/' or 'bank/sofs/?' in request.path or 'bank/sofs/transaction/' in request.path %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Bank Source Of Fund</span> </a>
                <ul class="sub-menu">
                    <li class="{% if url_name == 'bank_sof' %}active{% endif %}">
                        <a id="bank_sof_list" href="{% url 'bank_sofs:bank_sof' %}"> <span>Source of Fund</span> </a>
                    </li>
                     <li class="{% if url_name == 'bank_sofs_transaction' %}active{% endif %}">
                        <a id="bank_transaction" href="{% url 'bank_sofs:bank_sofs_transaction' %}"> <span>Transaction</span> </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_permission_name:"CAN_MANAGE_CARD_SOF"%}
            <li id="card_sof_menu" class="menu-accordion {% if 'card_sofs/sofs' in request.path %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Card Source Of Fund</span> </a>
                <ul class="sub-menu">
                    <li class="{% if url_name == 'card_sof' %}active{% endif %}">
                        <a id="card_sof_list" href="{% url 'card_sofs:card_sof' %}"> <span>Source of Fund</span> </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            
            {% if request.user|has_permission_name:"SYS_MANAGE_BANK" or request.user|has_permission_name:"SYS_MANAGE_CARD_DESIGN" or request.user|has_permission_name:"SYS_MANAGE_PROVIDER"%}
                <li class="menu-accordion {% if 'bank' in request.path or 'card_designs' in request.path or 'card_provider' in request.path or 'management' in request.path or 'detail' in request.path or 'edit' in request.path or 'create' in request.path or 'delete' in request.path %}open{% endif %}">
                    <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Source Of Fund</span> </a>
                    {% if request.user|has_permission_name:"SYS_MANAGE_BANK"%}
                    <ul class="sub-menu">
                        <li class="{% if url_name == 'bank_sofs_list' %}active{% endif %}">
                            <a href="{% url 'bank_sofs:bank_sofs_list' %}"> <span>Manage Bank</span> </a>
                        </li>
                    </ul>
                    {%endif%}
                    {% if request.user|has_permission_name:"SYS_MANAGE_CARD_DESIGN"%}
                        <ul class="sub-menu">
                            <li class="{% if url_name == 'card_designs' %}active{% endif %}">
                                <a href="{% url 'card_design:card_designs' %}"> <span>Manage Card Design</span> </a>
                            </li>
                        </ul>
                    {% endif %}
                    {% if request.user|has_permission_name:"SYS_MANAGE_PROVIDER"%}
                        <ul class="sub-menu">
                            <li class="{% if url_name == 'card_provider' %}active{% endif %}">
                                <a href="{% url 'card_provider:card_provider' %}"> <span>Manage Card Provider</span> </a>
                            </li>
                        </ul>
                    {%endif%}
                </li>
            {%endif%}
            {% if request.user|has_permission_name:"CAN_MANAGE_RECONCILE"%}
            <li class="menu-accordion {% if 'reconcile' in request.path %}open{% endif %}">
                <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Reconcile</span> </a>
                {% if request.user|has_permission_name:"CAN_MANAGE_PARTNER_RECONCILE"%}
                <ul class="sub-menu">
                    <li class="menu-accordion {% if 'partner' in request.path %}open{% endif %}">
                        <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Partner</span> </a>
                        <ul class="sub-menu">
                            {% if request.user|has_permission_name:"CAN_GET_FILE_LIST_PARTNER_RECONCILE"%}
                            <li class="{% if url_name == 'reconcile_partner_file_list' %}active{% endif %}">
                                <a href="{% url 'reconcile:reconcile_partner_file_list' %}"> <span>File List</span> </a>
                            </li>
                            {% endif %}
                            {% if request.user|has_permission_name:"CAN_GET_RECONCILE_REPORT_PARTNER_RECONCILE"%}
                            <li class="{% if url_name == 'reconcile_partner_report' %}active{% endif %}">
                                <a href="{% url 'reconcile:reconcile_partner_report' %}"> <span>Reconcile Report</span> </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                {% endif %}
                {% if request.user|has_permission_name:"CAN_MANAGE_SOF_RECONCILE"%}
                <ul class="sub-menu">
                    <li class="menu-accordion {% if 'sof' in request.path %}open{% endif %}">
                        <a href="javascript:;"> <i class="fa fa-credit-card"></i> <span>Source of fund</span> </a>
                        <ul class="sub-menu">
                            {% if request.user|has_permission_name:"CAN_GET_FILE_LIST_SOF_RECONCILE"%}
                            <li class="{% if url_name == 'reconcile_sof_file_list' %}active{% endif %}">
                                <a href="{% url 'reconcile:reconcile_sof_file_list' %}"> <span>File List</span> </a>
                            </li>
                            {% endif %}
                            {% if request.user|has_permission_name:"CAN_GET_RECONCILE_REPORT_SOF_RECONCILE"%}
                            <li class="{% if url_name == 'reconcile_sof_report' %}active{% endif %}">
                                <a href="{% url 'reconcile:reconcile_sof_report' %}"> <span>Reconcile Report</span> </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </li>
            {% endif %}
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'authentications:logout' %}">
                    <i class="fa fa-power-off"></i>
                    <span class="">Logout</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>
    {% endwith %}
</div>
{% endblock %}