{% extends "base.html" %}
{% load static %}
{% load permissions_filter %}
{% block body_stylesheet %}
{{ block.super }}
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="panel mb25">
    <div class="panel-heading">
        <h3>Upload and Download</h3>
    </div>
        <!--If success return green notification and return red notification if message is failed-->
    {% for msg in msgs.values %}
        {% if msg is not None %}
            <div class="col-xs-12">
                <div class="alert
                {% if "successfully" in msg %}
                    alert-success
                {% else %}
                    alert-danger
                {% endif %}
                alert-dismissable" id="msg-update-client">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ msg }}</strong>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-6">
                    <form method="post" enctype="multipart/form-data" action="{% url 'upload:upload' %}">
                        {% csrf_token %}
                        <input type="file" name="file_data">
                        <button type="submit">Upload</button>
                    </form>
                    {% if uploaded_file_id %}
                        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                    {% endif %}

            </div>
            <div class="col-lg-6">
                    <form method="post" action="{% url 'upload:download' %}">
                        {% csrf_token %}
                        <input type="text" name="file_id">
                        <button type="submit">Download</button>
                    </form>

            </div>

        </div>`
    </div>
</div>
{% endblock %}