{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="panel mb25" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading border">
            <h3>Cash Transaction</h3>
        </div>

        <div class="panel-body">
            <form id="submit-form" class="form-horizontal" role="form" method="post" action="{% url 'cash_sofs:cash_transaction' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label class="col-sm-2 control-label">User Phone No.</label>
                    <div class=" col-sm-2">
                        <div class="input-group">
                            <input class="form-control br0" name="mobile_number" id="txt_mobile_number" value="{{ mobile_number }}">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" id="btn_search_icon" onclick = "searchUser('{% url 'payments:search_user' %}')" disabled="true">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label">Currency</label>
                    <div class="col-xs-2">
                        <select class="form-control" id="ddl_currency" name="currency">
                            <option value='0'>All</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Debit/Credit</label>
                    <div class="col-xs-2">
                        <select class="form-control" id="ddl_type" name="action_id">
                            <option value='' {% if action_id == "" %}selected="selected"{% endif %}>All</option>
                            <option value='0' {% if action_id == '0' %}selected="selected"{% endif %}>Initiate</option>
                            <option value='2' {% if action_id == '2' %}selected="selected"{% endif %}>Debit</option>
                            <option value='1' {% if action_id == '1' %}selected="selected"{% endif %}>Credit</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">User ID</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control input-rounded" name="user_id" value="{{ user_id }}" id="txt_user_id"/>
                    </div>
                    <label class="col-sm-2 control-label">User Type</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="ddl_user_type" name="user_type_id">
                            <option value=0 {% if user_type_id == '0' %}selected="selected"{% endif %}>All</option>
                            <option value=1 {% if user_type_id == '1' %}selected="selected"{% endif %}>Customer</option>
                            <option value=2 {% if user_type_id == '2' %}selected="selected"{% endif %}>Agent</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">SOF ID</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control input-rounded" name="sof_id" value="{{ sof_id }}" id="txt_sof_id">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Order ID</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control input-rounded" name="order_id" value="{{ order_id }}" id="txt_order_id"/>
                    </div>
                    <label class="col-sm-2 control-label">Order Detail ID</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-rounded" name="order_detail_id" value="{{ order_detail_id }}" id="txt_order_detail_id"/>
                    </div>
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-2">
                         <select class="form-control" id="ddl_status" name="status_id">
                            <option value='' {% if status_id == '' %}selected="selected"{% endif %}>All</option>
                            <option value='1' {% if status_id == '1' %}selected="selected"{% endif %}>processing</option>
                            <option value='2' {% if status_id == '2' %}selected="selected"{% endif %}>success</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">From</label>
                    <div class="col-sm-2">
                        <input type="date" class="form-control input-rounded"
                               name="from_created_timestamp"
                               value="{{ from_created_timestamp|default_if_none:'' }}"
                               id="dtp_from">
                    </div>
                    <label class="col-sm-2 control-label">To</label>
                    <div class="col-sm-2">
                        <input type="date" class="form-control input-rounded"
                               name="to_created_timestamp"
                               value="{{ to_created_timestamp|default_if_none:'' }}"
                               id="dtp_to">
                    </div>
                </div>

                <div class="form-group">
                    <input id="current_page_index" name="current_page_index" style="display:none" value="1">
                    <div class="col-xs-1 pull-right">
                        <input id="btn_search" class="btn btn-success btn-block" type="submit" name="search" value="Search">
                    </div>
                </div>

                <label class="pull-right" id="lbl_total">{{ search_count }}</label>
                <label class="pull-right" >Total:&nbsp;</label>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb0" id="tbl_cash_transaction_list">
                    <thead>
                    <tr>
                        <th id="sof_id">SOF ID</th>
                        <th id="owner">User Type (User ID)</th>
                        <th id="order_detail_id">Order Detail ID</th>
                        <th id="order_id">Order ID</th>
                        <th id="balance">Type</th>
                        <th id="currency">Amount</th>
                        <th id="created_date">Created Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transaction_list %}
                        <tr>
                            <td class="col-sm-2">{{ transaction.sof.id }}</td>
                            <td class="col-sm-2">{{ transaction.sof.user_type.name|default_if_none:'' }} ({{ transaction.sof.user_id|default_if_none:'' }})</td>
                            <td class="col-sm-2">{{ transaction.order_detail_id }}</td>
                            <td class="col-sm-2">{{ transaction.order_id|default_if_none:''}}</td>
                            <td class="col-sm-2">{{ transaction.action.name }}</td>
                            <td class="col-sm-2">{{ transaction.amount }}</td>
                            <td class="col-sm-2">{{ transaction.created_timestamp|default_if_none:'' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "pagination.html" %}
        </div>
    </div>

    <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" id="divModalDialog">
            <div class="modal-content" id="divModalContent">

            </div>
        </div>
    </div>

<script src="/admin-portal/static/vendor/jquery/dist/jquery.min.js"></script>
<script src="{% static 'js/search_user.js' %}"></script>

<script>
    $(document).ready(function() {
      initSearchIconVisible();
      $(window).keydown(function(event){
        if(event.keyCode == 13 && event.target.id == 'txt_mobile_number') {
          event.preventDefault();
          searchUser('{% url 'payments:search_user' %}');
        }
      });
    });
</script>

{% endblock %}
