{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Edit Card Type</h3>
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form id="submit-form" class="form-horizontal" role="form" method="post"
                      action="{% url 'card_type:card-type-update' card_type.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Card Type Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="card_type_name_input"
                                   id="card_type_name_input"
                                   value="{{ card_type.name }}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">URL - Create Card</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="url_create_card_input"
                                   id="url_create_card_input"
                                   value="{{ card_type.url_create_card }}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Timeout - Create Card (s)</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="timeout_create_card_input"
                                   id="timeout_create_card_input"
                                   value="{{ card_type.timeout_create_card_in_second }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">URL - Get Card Full Detail</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="url_get_card_detail_input"
                                   id="url_get_card_detail_input"
                                   value="{{ card_type.url_get_card_detail }}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Timeout - Get Card Full Detail (s)</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="timeout_get_card_detail_input"
                                   id="timeout_get_card_detail_input"
                                   value="{{ card_type.timeout_get_card_detail_in_second }}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">URL - Update Card Status</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="url_update_card_status"
                                   id="txt_url_update_card_status"
                                   value="{{ card_type.url_update_card_status|default_if_none:'' }}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Timeout - Update Card Status (s)</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control input-rounded" name="timeout_update_card_status"
                                   id="txt_timeout_update_card_status"
                                   value="{{ card_type.timeout_update_card_status_in_second}}" >
                        </div>
                    </div>

                    <input name="previous_page" value="{{ request.META.HTTP_REFERER }}" hidden/>
                    <div class="pull-right">
                        <a href="{{ request.META.HTTP_REFERER }}">
                            <input id="card_type_btn_cancel" class="btn" type="button" value="Cancel"/>
                        </a>
                        <a href="{% url 'card_type:card-type-list'%}">
                            <input id="btn_save" class="btn btn-success" type="submit" value="Save"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}