{% extends "base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Card Type Detail</h3>
    </div>

    {% if card_type_update_msg is not None %}
    <div class="col-xs-12">
        <div class='alert
                    {% if "successfully" in card_type_update_msg %}
                    alert-success
                    {% else %}
                    alert-danger
                    {% endif %}
                    alert-dismissable' id="msg-update-client">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ card_type_update_msg }}</strong>
        </div>
    </div>
    {% endif %}

    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form id="submit-form" class="form-horizontal" role="form" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Card Type Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_card_type_name"
                                   value="{{ card_type_info.name | default_if_none:'' }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Timeout - Create Card (s)</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_timeout_create_card"
                                   value="{{ card_type_info.timeout_create_card_in_second | default_if_none:'' }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Timeout - Get Card Full Detail (s)</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_timeout_get_card_detail"
                                   value="{{ card_type_info.timeout_get_card_detail_in_second | default_if_none:'' }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">URL - Create Card</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_url_create_card"
                                   value="{{ card_type_info.url_create_card | default_if_none:'' }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">URL - Get Card Full Detail</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_url_create_card_detail"
                                   value="{{ card_type_info.url_get_card_detail|default_if_none:'' }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">URL - Update Card Status</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="url_update_card_status"
                                   id="txt_url_update_card_status"
                                   value="{{ card_type_info.url_update_card_status }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Timeout - Update Card Status (s)</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="timeout_update_card_status"
                                   id="txt_timeout_update_card_status"
                                   value="{{ card_type_info.timeout_update_card_status }}" disabled>
                        </div>
                    </div>
                    <div class="pull-right">
                        <a href="{% url 'card_type:card-type-list' %}">
                            <input id="btn_card_type_detail_cancel" class="btn text-left mb15" type="button"
                                   value="Cancel"/>
                        </a>
                        <a href="{% url 'card_type:card-type-update' card_type_info.id %}">
                            <input id="btn_card_type_detail_edit" class="btn btn-success text-left mb15"
                                   type="button" value="Edit"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}