{% extends "base.html" %}
{% load static %}
{% block sidebar_panel %}
    {% with active_tab='services' %}
        {{ block.super }}
    {% endwith %}
{% endblock sidebar_panel %}

{% block content %}
{% csrf_token %}

<div class="panel mb25">
    <div class="panel-heading">
        <h3>Service Commands</h3>
    </div>

    <div id="ajax-messages">
        {% if msg is not None %}
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissable" id="msg-update-client">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ msg }}</strong>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form class="form-horizontal" role="form" method="post" id="service_command_form"
                      action="{% url 'services:command_list' service_id %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Service Name:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="service_name" value="{{ service_name }}" id="txt_service_name" disabled/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Command:</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="ddl_command" name="command_id" required>
                                {% for command in commands_dd_list %}
                                    <option value="{{ command.command_id }}">{{ command.command_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped mb0" id="tbl_service_commands">
                                <thead>
                                <tr>
                                    <th id="lbl_command">Command</th>
                                    <th id="lbl_created_date">Created Date</th>
                                    <th id="lbl_modified_date">Modified Date</th>
                                    <th id="lbl_action">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for command in data %}
                                    {% if not command.is_deleted %}
                                        <tr id="service_command_{{ command.service_command_id }}">
                                            <td class="col-sm-2">{{ command.command_name|default_if_none:'' }}</td>
                                            <td class="col-sm-2">{{ command.created_timestamp|default_if_none:'' }}</td>
                                            <td class="col-sm-2">{{ command.last_updated_timestamp|default_if_none:'' }}</td>
                                            <td class="col-sm-2"><a type="button"
                                                class="btn btn-outline btn-xs btn-primary"
                                                role="button"
                                                id="btn_tier" class="text-info"
                                                href="{% url 'services:fee_tier_list' service_id command.command_id command.service_command_id %}" role="button"
                                                class="text-info">
                                                <span class="small">Tier</span>
                                                </a>
                                                <button type="button" class="btn btn-outline btn-xs btn-danger small" id="btn_delete"
                                                onclick="deleteCommand('{{ command.service_command_id }}')">Delete</button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="pull-right">
                            <a href="{% url 'services:services_list' %}">
                                <input id="btn_back" class="btn btn-success" type="button" value="Back"/>
                            </a>
                            <a href="#">
                                <input id="btn_add" class="btn btn-success" type="submit" value="Add">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static 'js/services/commission_and_payment.js' %}"></script>
    <script>
        function deleteCommand(svCommandId) {
            var url = $('#service_command_form').attr('action') + svCommandId;
            $.ajax({
                url: url,
                type: "DELETE",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function () {
                    $('#service_command_' + svCommandId).remove();
                    addMessage("Deleted data successfully");
                },
                error: function () {
                    addMessage("Delete failed!");
                }
            });
        }

        function addMessage(message) {
            $("#ajax-messages").empty().append(
                '<div class="col-xs-12">' +
                '<div class="alert alert-success alert-dismissable" id="msg-add-service">' +
                '<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>' +
                '<strong>' + message + '</strong>' +
                '</div>' +
                '</div>')
        }
    </script>
{% endblock %}
