{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="col-md-12">
    <div class="panel mb25">
        <div class="panel-heading border mb15">
            <h3>Manage Role Entities</h3>
        </div>

        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissable" id="msg-roles">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ message }}</strong>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        <div class="panel-body">
            <div class="col-lg-12">
                <h4>Role Entities</h4>
            </div>
            <div class="no-more-tables">
                <table id='tbl_role_entities' class="table table-bordered table-striped mb0">
                    <thead>
                    <tr>
                        <th id="id">ID</th>
                        <th id="name">Name</th>
                        <th id="description">Description</th>
                        <th id="created_date">Created Date</th>
                        <th id="modified_date">Modified Date</th>
                        <th class="col-sm-2" id="action">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for role in roles|dictsort:"id" %}
                        <tr>
                            <td>{{ role.id|default_if_none:'' }}</td>
                            <td>{{ role.name|default_if_none:'' }}</td>
                            <td>{{ role.description|default_if_none:'' }}</td>
                            <td>{{ role.created_timestamp|default_if_none:'' }}</td>
                            <td>{{ role.last_updated_timestamp|default_if_none:'' }}</td>
                            <td class="col-sm-2">
                                <a type="button"
                                       class="btn btn-outline btn-xs btn-info mb5"
                                       role="button"
                                       id="role_btn_detail_{{ role.id }}"
                                       href="{% url 'authentications:role_detail' role.id %}">
                                        <span class="small">Detail</span>
                                    </a>
                                <a type="button"
                                       class="btn btn-outline btn-xs btn-info mb5"
                                       role="button"
                                       id="role_btn_edit_{{ role.id }}"
                                       href="{% url 'authentications:edit_role' role.id %}">
                                        <span class="small">Edit</span>
                                    </a>
                                <a type="button"
                                       class="btn btn-outline btn-xs btn-danger mb5"
                                       role="button"
                                       id="role_btn_delete_{{ role.id }}"
                                       href="{% url 'authentications:delete_role' role.id %}">
                                        <span class="small">Delete</span>
                                    </a>
                                <a type="button"
                                       class="btn btn-outline btn-xs btn-success mb5"
                                       role="button"
                                       id="role_btn_manage_permission_{{ role.id }}"
                                       href="{% url 'authentications:role_manage_permission' role.id %}">
                                        <span class="small">Manage Permission</span>
                                    </a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}