{% extends "base.html" %}
{% load static %}
{% load permissions_filter %}

{% block content %}

    <div class="panel mb25">
        <div class="panel-heading border mb15">
            <h3>Password Center</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="tbl_identity_types" class="table table-bordered table-striped mb0">
                    <thead>
                    <tr>
                        <th>Identity Type</th>
                        <th>Password Policy</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for identity_type in data.identity_types %}
                        <tr>
                            <td class="col-sm-2">
                                {{ identity_type.name }}
                            </td>
                            <td class="col-sm-2">
                                <a class="btn btn-outline mb5 btn-xs btn-primary" id="client-btn-edit-{{ identity_type.id }}" role="button">
                                    <span class="small">Edit</span>
                                </a>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
