.text-bold {
  font-weight: bold;
}

.bordered-box {
  border: 1px solid #e6e6e6;
  padding: 20px;
}

.list-mechanic {
  margin-top: 15px;

  .item {
    padding: 30px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    .fa-trash {
      font-size: 150%;
    }
  }

  .item + .item {
    margin-top: 15px;
  }
}

.mechanic-detail-page {
  .section-header {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 150%;
    color: #6d6e7d;
  }

  .section {
    margin-top: 20px;
    padding: 15px;
    background-color: #f6f6f6;
  }

  .fa-pencil, .fa-trash {
    font-size: 150%;
  }

  .fa-plus {
    color: #2dcc71;
  }

  .info-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: stretch;

    > *:first-child {
      width: 200px;
      text-align: right;
      margin-right: 15px;
      font-weight: bold;
    }

    > *:last-child {
      flex: 1;
    }
  }

  .info-group + .info-group {
    margin-top: 15px;
  }

  .sub-title {
    font-weight: bold;
    color: #1376c9;
    font-size: 110%;
  }

  .sub-section {
    background-color: #efefef;
    padding: 15px 15px 15px 0px;
  }

  .sub-section + .sub-section {
    margin-top: 15px;
  }

  .sub-list {
    margin-top: 20px;
  }

  .and-section {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
  }
}

.add-condition-page {
  form {
    .bordered-box;
    max-width: 700px;
  }

  .form-group {
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: stretch;

    .control-label {
      padding-top: 0px;
    }

    > *:first-child {
      width: 160px;
      text-align: right;
      font-weight: bold;
      padding: 0px;
      margin-right: 20px;
    }

    > *:last-child {
      flex: 1;
      padding: 0px;
    }
  }

  .sub-title {
    font-weight: bold;
    color: #1376c9;
    font-size: 110%;
  }

  .fa-trash {
    font-size: 150%;
  }

  .fa-plus {
    color: #2dcc71;
  }

  .sub-box {
    .bordered-box;
    padding: 15px 15px 15px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}