.extend_body {
    margin-top: 5%;
}

p.bg-danger.login-error {
    padding: 4%;
}

.nav-pills>li>a {
    color: white;
}

.nav-pills>li>a:hover {
    color: gray;
}

.header-form {
	max-width: none !important;
	width: 900px;
	margin-left: 0;
	margin-top: 15px;
}

.page-header {
	margin-top: 0;
	/*border-bottom: 0px solid #eeeeee;
	color: #999999;*/
}

label {
	padding-top: 3px;
}

.table {
	margin-bottom: 5px;
}

.table, .panel-body {
	font-size: 12px;
}

.large-table {
	margin-top: 20px;
}

.sm-form {
	margin-bottom: 20px;
}

.sm-form .sm-label {
	width: 170px;
	float: left;
	padding-left: 15px;
}

.sm-form .sm-form-group {
	margin-bottom: 5px;
}

.sm-header {
	margin-bottom: 10px;
	font-size: 20px;
	border-bottom: 1px solid #eee;
}

.sm-pagination {
	margin-top: 0;
	margin-bottom: 0;
}

.value {
	padding-top: 3px;
}

#navigator{
    font-size: 13px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.nav-tabs>li.active>a {
    color: #fff !important;
    background-color: #337ab7 !important;
}

div.search-not-found {
	text-align: center;
	font-weight: bold;
}

input#searchDate {
    background-color: white;
}

thead {
    background-color: gainsboro;
}
/*
.th {
    background-color: #666;
    color: #EEE;
}
*/