{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="panel mb25">
    <div class="panel-heading border mb15">
        <h3>Create Bank Profile</h3>
    </div>
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
         <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissable" id="msg-error">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ message }}</strong>
                </div>
         </div>
        {% endif %}
    {% endfor %}

    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form id="submit-form" class="form-horizontal" role="form" method="post"
                      action="{% url 'bank:bank_sofs_create' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Is Active</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="bank_active" name="is_active" disabled>
                                <option value=1 {% if user_type_id == 1 %}selected="selected" {% endif %}>True
                                </option>
                                <option value=0 {% if user_type_id == 0 %}selected="selected" {% endif %}>False
                                </option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Bank Name *</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="name"
                                   id="bank_name"
                                   value="{{ bank_info.name | default_if_none:'' }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">BIN</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="bin"
                                   id="bank_bin"
                                   value="{{ bank_info.bin | default_if_none:'' }}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="description"
                                   id="bank_description"
                                   value="{{ bank_info.description | default_if_none:'' }}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Credit Url</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="credit_url"
                                   id="bank_credit_url"
                                   value="{{ bank_info.credit_url | default_if_none:'' }}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Debit Url</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="debit_url"
                                   id="bank_debit_url"
                                   value="{{ bank_info.debit_url | default_if_none:'' }}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Check Status Url</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="check_status_url"
                                   id="check_status_url"
                                   value="{{ bank_info.check_status_url | default_if_none:'' }}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cancel Url</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="cancel_url"
                                   id="txt_cancel_url"
                                   value="{{ bank_info.cancel_url | default_if_none:'' }}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Read Timeout (millisec.)</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="txt_read_timeout" name="read_timeout" value="{{ bank_info.read_timeout }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Bank Account Number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="account_number"
                                   id="bank_account_number"
                                   value="{{ bank_info.bank_account_number | default_if_none:'' }}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Bank Account Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="account_name"
                                   id="bank_account_name"
                                   value="{{ bank_info.bank_account_name | default_if_none:'' }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Currency</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="bank_currency" name="currency" required>
                                {% for currency in currencies %}
                                {% if currency.0 == bank_info.currency %}
                                <option value="{{ currency.0 }}" selected>{{ currency.0 }}</option>
                                {% else %}
                                <option value="{{ currency.0 }}">{{ currency.0 }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="pull-right">
                        <a href="{% url 'bank:bank_sofs_list' %}">
                                <input id="bank_btn_cancel" class="btn text-left mb15" type="button"
                                       value="Cancel"/>
                            </a>
                        <a href="{% url 'agent_type:create-agent-type' %}">
                            <input id="bank_btn_add" class="btn btn-success text-left mb15" type="submit"
                                   value="Add"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}