{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Delete Bank Source Of Fund</h3>
    </div>
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="col-xs-12">
            <div class="alert alert-danger alert-dismissable" id="msg-update-client">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <strong>{{ message }}</strong>
            </div>
        </div>
      {%endif%}
    {%endfor%}

     <div class="panel-body">
        <div class="row no-margin">
            <div class="col-sm-12">
                <form id="submit-form" class="form-horizontal" role="form" method="post"
                      action="{% url 'bank:bank_sofs_delete' bank.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Is Active</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="bank_is_active"
                                   value="{{ bank.is_active | default_if_none:'' }}" readonly>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Bank Name </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="bank_name"
                                   value="{{ bank.name| default_if_none:'' }}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">BIN </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="bank_bin"
                                   value="{{ bank.bin| default_if_none:'' }}" readonly>
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-sm-2 control-label">Pre-sof Order URL </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_presof_order_url" name="pre_sof_url"
                                   value="{{ bank.pre_sof_url| default_if_none:'' }}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Pre-sof Order Read Timeout</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="txt_presof_order_read_timeout" name="presof_order_read_timeout" value="{{ bank.pre_sof_read_timeout }}" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Credit URL </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="bank_credit_url"
                                   value="{{ bank.credit_url| default_if_none:'' }}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Debit URL </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="bank_debit_url"
                                   value="{{ bank.debit_url| default_if_none:'' }}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Check Status Url</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="check_status_url"
                                   id="check_status_url"
                                   value="{{ bank.check_status_url | default_if_none:'' }}" readonly>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cancel Url</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="cancel_url"
                                   id="txt_cancel_url"
                                   value="{{ bank.cancel_url | default_if_none:'' }}" readonly>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Read Timeout (millisec.)</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="txt_read_timeout" name="read_timeout" value="{{ bank.read_timeout }}" readonly />
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-sm-2 control-label">Bank Account Name </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="bank_account_name"
                                   value="{{ bank.bank_account_name| default_if_none:'' }}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Bank Account Number </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="bank_account_number"
                                   value="{{ bank.bank_account_number| default_if_none:'' }}" readonly>
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-sm-2 control-label">Currency </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="bank_currency"
                                   value="{{ bank.currency| default_if_none:'' }}" readonly>
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-sm-2 control-label">Description </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded"
                                   id="bank_description"
                                   value="{{ bank.description| default_if_none:'' }}" readonly>
                        </div>
                     </div>
                   <div class="pull-right">
                        <a href="{% url 'bank:bank_sofs_list' %}">
                            <input id="btn_cancel" class="btn text-left mb15 btn-small" type="button"
                                   value="Cancel"/>
                        </a>
                        <a>
                            <input id="btn_yes" class="btn btn-success text-left mb15 btn-small" type="submit"
                                   value="Yes"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}