{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Edit Bank Profile</h3>
    </div>
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" id="msg-update-failed">
            <button type="button" class="close" onclick="$('.alert').hide()">×</button>
            <strong id="alert-msg-error">{{ message|capfirst }}</strong>
        </div>
        {% endif %}
        {% endfor %}
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form id="submit-form" class="form-horizontal" role="form" method="post"
                      action="{% url 'bank:bank_sofs_edit' bank.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Is Active</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="bank_active" name="is_active">
                                <option value=1 {% if bank.is_active == 1 %}selected="selected" {% endif %}>True
                                </option>
                                <option value=0 {% if bank.is_active == 0 %}selected="selected" {% endif %}>False
                                </option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Bank Name *</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="name"
                                   id="bank_name"
                                   value="{{ bank.name | default_if_none:'' }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">BIN</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="bin"
                                   id="bank_bin"
                                   value="{{ bank.bin | default_if_none:'' }}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="description"
                                   id="bank_description"
                                   value="{{ bank.description | default_if_none:'' }}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pre-sof Order URL </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_presof_order_url" name="pre_sof_url" value="{{ bank.pre_sof_url | default_if_none:'' }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pre-sof Order Read Timeout</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" id="txt_presof_order_read_timeout" name="presof_order_read_timeout" value="{{ bank.pre_sof_read_timeout | default_if_none:'' }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Credit Url</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="credit_url"
                                   id="bank_credit_url"
                                   value="{{ bank.credit_url | default_if_none:'' }}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Debit Url</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="debit_url"
                                   id="bank_debit_url"
                                   value="{{ bank.debit_url | default_if_none:'' }}">

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">Check Status Url</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="check_status_url"
                                   id="check_status_url"
                                   value="{{ bank.check_status_url | default_if_none:'' }}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Cancel Url</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="cancel_url"
                                   id="txt_cancel_url"
                                   value="{{ bank.cancel_url | default_if_none:'' }}">

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">Read Timeout (millisec.)</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="txt_read_timeout" name="read_timeout" value="{{ bank.read_timeout }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Bank Account Number</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="account_number"
                                   id="bank_account_number"
                                   value="{{ bank.bank_account_number | default_if_none:'' }}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Bank Account Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-rounded" name="account_name"
                                   id="bank_account_name"
                                   value="{{ bank.bank_account_name | default_if_none:'' }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Currency</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="bank_currency" name="currency" required>
                                {% for currency in currencies %}
                                <option value="{{ currency.0 }}"
                                        {% if bank.currency == currency.0 %}selected{% endif %}>{{ currency.0 }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="pull-right">
                        <a href="{% url 'bank:bank_sofs_list' %}">
                            <input id="bank_btn_cancel" class="btn text-left mb15" type="button"
                                   value="Cancel"/>
                        </a>
                        <a>
                            <input id="bank_btn_add" class="btn btn-success text-left mb15" type="submit"
                                   value="Save"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}