{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Card freeze list</h3>
    </div>

     {% for message in messages %}
    <div class="col-xs-12">
        <div class='alert
                    alert-success
                    alert-dismissable' id="msg-add-service">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ message|capfirst }}</strong>
        </div>
    </div>
    {% endfor %}

    <div class="col-xs-12 mb5">
        <div class="alert alert-success alert-dismissable" style="display: none;" id="alert-client">
            <button type="button" class="close" onclick="$('.alert').hide()">×</button>
            <strong id="alert-msg"></strong>
        </div>
    </div>

    <input id="data-no-permission-url"  data-no-permission-url="{% url 'web:permission_denied' %}" style="display:none;"/>
    <form id="submit-form" name="search_form" class="form-horizontal" role="form" method="get">
        <div class="form-group">
            <label class="col-sm-2 control-label">Ticket ID</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-rounded" name="ticket_id" value="{{ticket_id}}"/>
            </div>
            <label class="col-sm-2 control-label">Card ID</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-rounded" name="card_id" value="{{card_id}}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Created Date: From</label>
            <div class="col-sm-2">
                <input id="dtp_from_created_date" class="form-control input-rounded" name="from_created_date"
                       value="{{ from_created_date|default_if_none:'' }}" type="date">
            </div>
            <label class="col-sm-2 control-label">To</label>
            <div class="col-sm-2">
                <input id="dtp_to_created_date" class="form-control input-rounded" name="to_created_date"
                       value="{{ to_created_date|default_if_none:'' }}" type="date">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Actived Date: From</label>
            <div class="col-sm-2">
                <input id="dtp_from_activated_date" class="form-control input-rounded" name="from_activated_date"
                       value="{{ active_date_from|default_if_none:'' }}" type="date">
            </div>
            <label class="col-sm-2 control-label">To</label>
            <div class="col-sm-2">
                <input id="dtp_to_activated_date" class="form-control input-rounded" name="to_activated_date"
                       value="{{ active_date_to|default_if_none:'' }}" type="date">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Is Deleted</label>
            <div class="col-sm-2">
                <select class="form-control" id="ddl_status" name="is_deleted">
                    <option value='all' {%if is_deleted == 'all' %} selected="selected"{%endif%}>ALL</option>
                    <option value='1' {%if is_deleted == '1' %}selected="selected"{%endif%}>True</option>
                    <option value='0' {%if is_deleted == '0' %}selected="selected"{%endif%}>False</option>
                </select>
            </div>
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-2">
                <input id="current_page_index" name="current_page_index" style="display:none" value="1">
                <div class="col-sm-8 pull-right" style="right: -10px;">
                    <input id="btn_search" class="btn btn-success btn-block" type="submit" value="Search">
                </div>
            </div>
        </div>
        <label class="pull-right" id="lbl_total">{{ paginator.total_elements }}</label>
        <label class="pull-right">Total found: &nbsp;</label>
    </form>
    <div class="panel-body">

        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0" id="tbl_card_history">
                <thead>
                <tr>
                    <th id="ticket_id">Ticket ID</th>
                    <th id="rule_action_id">Rule Action ID</th>
                    <th id="Event">Event</th>
                    <th id="Card Id">Card ID</th>
                    <th id="description">Description</th>
                    <th id="start_active_ticket_time">Start freeze time</th>
                    <th id="end_active_ticket_time">End freeze time</th>
                    <th id="created_timestamp">Created date</th>
                    <th id="last_updated_timestamp">Last update date</th>
                    <th id="is_deleted">Deleted</th>
                    <th id="action">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for freezeCard in data%}
                           <tr id="row-{{ freezeCard.ticket_id }}">
                            <td class="col-sm-1">{{ freezeCard.ticket_id }}</td>
                            <td class="col-sm-1">{{ freezeCard.rule_action_id }}</td>
                            <td class="col-sm-1">{{ freezeCard.action}}</td>
                            <td class="col-sm-1">{{ freezeCard.card_id}}</td>
                            <td class="col-sm-1">{{ freezeCard.description}}</td>
                            <td class="col-sm-1">{{ freezeCard.start_active_ticket_timestamp}}</td>
                            <td class="col-sm-1">{{ freezeCard.end_active_ticket_timestamp}}</td>
                            <td class="col-sm-1">{{ freezeCard.created_timestamp}}</td>
                            <td class="col-sm-1">{{ freezeCard.last_updated_timestamp}}</td>
                            <td class="col-sm-1" id="delete-status-{{ freezeCard.ticket_id }}">{{ freezeCard.is_deleted}}</td>
                            <td class="col-sm-1">

                                {% if not freezeCard.is_deleted and permissions.CAN_DELETE_FRAUD_TICKET %}
                                    <button type="button"
                            class="btn btn-danger mb5 btn-outline btn-xs"
                            id="btn_freeze_card_delete_{{ freezeCard.ticket_id }}"
                            data-url="{% url 'cards:delete_card_freeze' freezeCard.ticket_id %}"
                            onclick="unFreezeCard('{{ freezeCard.ticket_id }}', this)">
                            <span class="small">UnFreeze</span>
                            </button>
                                {% endif %}
                           </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% include "pagination.html" %}
    </div>
    <div class="loader" style="display:none" id="loader-indicator"></div>
    <div class="col-xs-12" id="search-result-notification" style="display:none">
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            Something wrong happened.
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
{{ block.super }}
    <script>

    function showErrorMessage(msg) {
	    $("#alert-msg").text(msg)
	    $('#alert-client').removeClass("alert-success");
	    $('#alert-client').addClass("alert-danger");
	    //$("#alert-client").prop("hidden", false);
	    //$("#alert-client").prop("style", "display: block;");

	    $("#msg-add-service").prop("hidden", true);

        $("#alert-client").show();

	    $("html, body").animate({scrollTop: 0}, "slow");
	}

	function showSuccessMessage(msg) {
	    $("#alert-msg").text(msg)
	    $('#alert-client').removeClass("alert-danger");
	    $('#alert-client').addClass("alert-success");
	    //$("#alert-client").prop("hidden", false);
	    //$("#alert-client").prop("style", "display: block;");

	    $("#msg-add-service").prop("hidden", true);

	    $("#alert-client").show();
	    $("html, body").animate({scrollTop: 0}, "slow");
	}

    function unFreezeCard(id, e) {
        console.log(id);
        swal({
                title: "Are you sure you want to unfreeze card?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: true
            },
            function () {
                var url = $("#btn_freeze_card_delete_" + id).data("url");
                console.log(url);
                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: "json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (response) {
                        console.log(response);
                        if (response.status == 1) {
                            // Logout
                            //var url = window.location.origin + "/admin-portal/authentications/login/?next=" + window.location.pathname ;
                            window.location.reload();
                        } else if (response.status == 2) {
                            // success
                            showSuccessMessage("Unfreeze card successfully");
                            e.remove();
                            var deletedId = "delete-status-" + id;
                            var status = document.getElementById(deletedId);
                            status.innerText = "True";

                        } else if (response.status == 0) {
                            var url = $("#data-no-permission-url").data("data-no-permission-url");
                            window.location.replace(url);
                        } else {
                            // Failed
                            showErrorMessage(response.msg);
                        }
                    },
                    error: function (msg) {
                        showErrorMessage(JSON.stringify(msg));
                    }
                });
            });
    }

    </script>
{% endblock %}


