{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-md-12">
    <div class="panel mb25">
        <div class="panel-heading border mb15">
            <h3>Bank List</h3>
        </div>
        <div class="pull-right mr15 text-right">
            <a href="{% url 'bank_sofs:bank_sofs_create' %}">
                <input id="bank_sofs_btn_add" class="btn btn-success btn-block btn-sm mb15" type="button"
                       value="Add"/>
            </a>
        </div>

        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissable" id="msg-update-client">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ message }}</strong>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        <div class="panel-body">
            <div class="no-more-tables">
                <table id='tbl_bank_sofs_list' class="table table-bordered table-striped mb0">
                    <thead>
                    <tr>
                        <th id="name">Bank Name</th>
                        <th id="account_name">Account Name</th>
                        <th id="account_number">Account Number</th>
                        <th id="currency">Currency</th>
                        <th id="is_active">Is Active</th>
                        <th id="created_date">Created Date</th>
                        <th id="modified_date">Modified Date</th>
                        <th class="col-sm-2" id="action">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bank in data %}
                    {% if bank.is_deleted == False %}
                        <tr>
                            <td>{{ bank.name|default_if_none:'' }}</td>
                            <td>{{ bank.bank_account_name|default_if_none:'' }}</td>
                            <td>{{ bank.bank_account_number|default_if_none:'' }}</td>
                            <td>{{ bank.currency|default_if_none:'' }}</td>
                            <td>{{ bank.is_active|yesno:'True,False' }}</td>
                            <td>{{ bank.created_timestamp|default_if_none:'' }}</td>
                            <td>{{ bank.last_updated_timestamp|default_if_none:'' }}</td>
                            <td class="col-sm-2">
                                <div class="btn-group">
                                    <a type="button"
                                       class="btn btn-outline btn-xs btn-info"
                                       role="button"
                                       id="bank_sof_btn_detail_{{ bank.id }}"
                                       href="{% url 'bank_sofs:bank_sofs_detail' bank.id %}">
                                        <span class="small">Detail</span>
                                    </a>
                                    <a type="button"
                                       class="btn btn-outline btn-xs btn-primary"
                                       role="button"
                                       href="{% url 'bank_sofs:bank_sofs_edit' bank.id %}"
                                       id="bank_sof_btn_edit_{{ bank.id }}">
                                        <span class="small">Edit</span>
                                    </a>
                                    <a type="button"
                                       class="btn btn-outline btn-xs btn-danger"
                                       role="button"
                                       href="{% url 'bank_sofs:bank_sofs_delete' bank.id %}"
                                       id="bank_sof_btn_delete_{{ bank.id }}">
                                        <span class="small">Delete</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}