{% extends "base.html" %}
{% load static %}

{% block body_stylesheet %}
{{ block.super }}
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Agent Delete</h3>
    </div>

    {% if msg is not None %}
    <div class="col-xs-12">
        <div class="alert alert-success alert-dismissable" id="msg-update-client">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ msg }}</strong>
        </div>
    </div>
    {% endif %}
    {% if agent_update_msg is not None %}
    <div class="col-xs-12">
        <div class="alert alert-success alert-dismissable" id="msg-update-client">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ agent_update_msg }}</strong>
        </div>
    </div>
    {% endif %}

    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form id="submit-form" class="form-horizontal" role="form" method="post"
                      action="">
                    {% csrf_token %}

                    <!-- Begin section 1 -->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Status *</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="status" id="txt_status"
                                       value="Active" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label" id="lbl_agent_id">Agent ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="username"
                                       id="txt_agent_id" value="{{ agent_id | default_if_none:'' }}" disabled required/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 1 - row 1 -->
                    <hr/>

                    <!-- Begin section 2 [Agent Type] -->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"><strong>Agent Type</strong></label>
                            <div class="col-sm-8"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"></div>
                        </div>
                    </div>
                    <!-- End section 2 - row 1 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Agent Type *</label>
                            <div class="col-sm-8">
                                <input type="text" id="txt_agent_type" value="{{ agent_type_name | default_if_none:'' }}" class="form-control input-rounded" disabled required/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">User Name *</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="username"
                                       id="txt_user_name" value="{{ agent.username | default_if_none:'' }}" disabled required/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 2 - row 2 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Parent ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="parent_id"
                                       id="txt_parent_id" value="{{ agent.parent_id | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Password *</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control input-rounded" name="password"
                                       id="txt_password" value="******" disabled required/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 2 - row 3 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Grand Parent ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="grand_parent_id"
                                       id="txt_grand_parent_id" value="{{ agent.grand_parent_id | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Re-password *</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control input-rounded" name="re_password"
                                       id="txt_re_password" value="******" disabled required/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 2 - row 4 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Currency</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="currency"
                                       id="txt_currency" value="{{ agent.currency | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6"></div>
                    </div>
                    <!-- End section 2 - row 5 -->
                    <hr/>

                    <!-- Begin section 5 [Agent Info] -->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"><strong>Agent Info</strong></label>
                            <div class="col-sm-8"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"></div>
                        </div>
                    </div>
                    <!-- End section 5 - row 1 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Last Name *</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="lastname"
                                       id="txt_last_name" value="{{ agent.lastname | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">First Name *</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="firstname"
                                       id="txt_first_name" value="{{ agent.firstname | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 5 - row 2 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Date of Birth</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="date_of_birth"
                                       id="dtp_birth_date" value="{{agent.date_of_birth | default_if_none:''}}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Gender</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="gender"
                                       id="txt_gender" value="{{ agent.gender | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 5 - row 3 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">National</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="national"
                                       id="txt_national" value="{{ agent.national | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"></div>
                        </div>
                    </div>
                    <!-- End section 5 - row 4 -->
                    <hr/>

                    <!-- Begin section 6 [Primary Identify] -->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"><strong>Primary Identify</strong></label>
                            <div class="col-sm-8"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"></div>
                        </div>
                    </div>
                    <!-- End section 6 - row 1 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Identify Type</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="primary_Identify_type"
                                       id="txt_primary_identify_type" value="{{ agent.primary_identify_type | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"></div>
                        </div>
                    </div>
                    <!-- End section 6 - row 2 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Identify ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="primary_Identify_id"
                                       id="txt_primary_identify_id" value="{{ agent.primary_identify_id | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Place of Issue</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="primary_place_of_issue"
                                       id="txt_primary_place_issue" value="{{ agent.primary_place_of_issue | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 6 - row 3 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Issue Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="primary_issue_date"
                                       id="dtp_primary_issue_date" value="{{ agent.primary_issue_date | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Expire Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="primary_expire_date"
                                       id="dtp_primary_expire_date" value="{{ agent.primary_expire_date | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 6 - row 4 -->
                    <hr/>

                    <!-- Begin section 7 [Secondary Identify] -->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"><strong>Secondary Identify</strong></label>
                            <div class="col-sm-8"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"></div>
                        </div>
                    </div>
                    <!-- End section 7 - row 1 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Identify Type</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="secondary_Identify_type"
                                       id="txt_secondary_identify_type" value="{{ agent.secondary_identify_type | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"></div>
                        </div>
                    </div>
                    <!-- End section 7 - row 2 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Identify ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="secondary_Identify_id"
                                       id="txt_secondary_identify_id" value="{{ agent.secondary_identify_id | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Place of Issue</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="secondary_place_of_issue"
                                       id="txt_secondary_place_issue" value="{{ agent.secondary_place_of_issue | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 7 - row 3 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Issue Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="secondary_issue_date"
                                       id="dtp_secondary_issue_date" value="{{ agent.secondary_issue_date | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Expire Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="secondary_expire_date"
                                       id="dtp_secondary_expire_date" value="{{ agent.secondary_expire_date | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 7 - row 4 -->
                    <hr/>

                    <!-- Begin section 8 [Contact Info] -->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"><strong>Contact Info</strong></label>
                            <div class="col-sm-8"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"></div>
                        </div>
                    </div>
                    <!-- End section 8 - row 1 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Nationality</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="nationality"
                                       id="txt_nationality" value="{{ agent.nationality | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Province</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="province"
                                       id="txt_province" value="{{ agent.province | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 8 - row 2 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">District</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="district"
                                       id="txt_district" value="{{ agent.district | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Commune</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="commune"
                                       id="txt_commune" value="{{ agent.commune | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 8 - row 3 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Address</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="address"
                                       id="txt_address" value="{{ agent.address | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8"></div>
                        </div>
                    </div>
                    <!-- End section 8 - row 4 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Primary Phone *</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-rounded" name="primary_phone"
                                       id="txt_primary_mobile_number" value="{{ agent.primary_mobile_number | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control input-rounded" name="email" id="txt_email" value="{{ agent.email | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 8 - row 5 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Secondary Phone</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-rounded" name="secondary_phone"
                                       id="txt_secondary_mobile_number" value="{{ agent.secondary_mobile_number | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Unique Reference</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="shop_name"
                                       id="txt_unique_reference" value="{{ agent.unique_reference | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 8 - row 6 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">Tertiary Phone</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-rounded" name="tertiary_phone"
                                       id="txt_tertiary_mobile_number" value="{{ agent.tertiary_mobile_number | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 8 - row 7 -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4 control-label">KYC STATUS</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-rounded" name="kyc_status"
                                       id="txt_kyc_status" value="NO" value="{{ agent.kyc_status | default_if_none:'' }}" disabled/>
                            </div>
                        </div>
                    </div>
                    <!-- End section 8 - row 8 -->
                    <hr/>
                    <input name="previous_page" value="{{request.META.HTTP_REFERER}}" hidden/>

                    <div class="pull-right">
                        <a href="{% url 'agents:agent-list' %}">
                            <input id="btn_back" class="btn btn-cancel text-left mb15" type="button" value="Back"/>
                        </a>
                        <a>
                            <input id="btn_yes" class="btn btn-danger text-left mb15" type="submit" value="Yes"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
