{% extends "base_search_page.html" %}
{% load static %}
{% block content %}
<div class="panel mb25">
    <div class="panel-heading">
        <h3>Agent List</h3>
    </div>

    {% if agent_update_msg is not None %}
    <div class="col-xs-12">
        <div class="alert alert-success alert-dismissable" id="msg-update-client">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ agent_update_msg }}</strong>
        </div>
    </div>
    {% endif %}
    <form id="submit-form" class="form-horizontal" role="form" method="post" action="{% url 'agents:agent-list' %}">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label">Unique Reference</label>
            <div class="col-sm-5">
                <input type="text" class="form-control input-rounded" name="unique_reference"
                       id="txt_unique_reference"
                       value="{{ unique_reference|default_if_none:'' }}">
            </div>
            <div class="col-xs-1">
                <input id="btn_search" class="btn btn-success btn-block col-xs-1" type="button" onclick="search_agents()" value="Search">
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-5">
                <input type="text" class="form-control input-rounded" name="email"
                       id="txt_email"
                       value="{{ email|default_if_none:'' }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Primary Mobile Number</label>
            <div class="col-sm-5">
                <input type="text" class="form-control input-rounded" name="primary_mobile_number"
                       id="txt_primary_mobile_number"
                       value="{{ primary_mobile_number|default_if_none:'' }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">KYC Status</label>
            <div class="col-sm-5">
                <input type="text" class="form-control input-rounded" name="kyc_status"
                       id="txt_kyc_status"
                       value="{{ kyc_status|default_if_none:'' }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Created Date</label>
            <label class="col-sm-2 control-label">From</label>
            <div class="col-sm-2">
                <input type="date" class="form-control input-rounded"
                       name="from_created_timestamp"
                       value="{{ from_created_timestamp|default_if_none:'' }}"
                       id="dtp_from">
            </div>
            <label class="col-sm-1 control-label">To</label>
            <div class="col-sm-2">
                <input type="date" class="form-control input-rounded"
                       name="to_created_timestamp"
                       value="{{ to_created_timestamp|default_if_none:'' }}"
                       id="dtp_to">
            </div>
        </div>
    </form>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0" id="tbl_agent_list">
                <thead>
                <tr>
                    <th id="agent_type">Agent ID</th>
                    <th id="last_name">Last Name</th>
                    <th id="first_name">First Name</th>
                    <th id="phone">Phone</th>
                    <th id="email">Email</th>
                    <th id="kyc">KYC</th>
                    <th id="created_at">Created Date</th>
                    <th id="modified_at">Modified Date</th>
                    <th id="status">Status</th>
                    <th id="action">Action</th>
                </tr>
                </thead>
                <tbody id="agent_table_body">
                </tbody>
            </table>
        </div>
    </div>
    <div class="loader" style="display:none" id="loader-indicator"></div>
</div>

<script>
    function search_agents() {
        var url = "{% url 'agents:agent-list' %}";

        data = {'unique_reference': $("#txt_unique_reference").val(),
                'email': $("#txt_email").val(),
                'primary_mobile_number': $("#txt_primary_mobile_number").val(),
                'kyc_status': $("#txt_kyc_status").val(),
                'from_created_timestamp': $("#dtp_from").val(),
                'to_created_timestamp': $("#dtp_to").val()}

        do_search(url, "agent_table_body", "loader-indicator", data);
    }
</script>
{% endblock %}
