{% extends "base.html" %}
{% load static %}
{% load permissions_filter %}

{% block content %}
<div class="panel mb25">
    <div class="panel-heading border mb15">
        <h3>Agent List</h3>
    </div>
    <!--If success return green notification and return red notification if message is failed-->
    {% for msg in msgs.values %}
        {% if msg is not None %}
            <div class="col-xs-12">
                <div class="alert
                {% if "successfully" in msg %}
                    alert-success
                {% else %}
                    alert-danger
                {% endif %}
                alert-dismissable" id="msg-update-client">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ msg }}</strong>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <form id="submit-form" class="form-horizontal" role="form" method="post" action="{% url 'agents:agent-list' %}">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label">Unique Reference</label>
            <div class="col-sm-5">
                <input type="text" class="form-control input-rounded" name="unique_reference"
                       id="txt_unique_reference"
                       value="{{ unique_reference|default_if_none:'' }}">
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-5">
                <input type="text" class="form-control input-rounded" name="email"
                       id="txt_email"
                       value="{{ email|default_if_none:'' }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Primary Mobile Number</label>
            <div class="col-sm-5">
                <input type="text" class="form-control input-rounded" name="primary_mobile_number"
                       id="txt_primary_mobile_number"
                       value="{{ primary_mobile_number|default_if_none:'' }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">KYC</label>
            <div class="col-sm-5">
                <input type="text" class="form-control input-rounded" name="kyc_status"
                       id="txt_kyc_status"
                       value="{{ kyc_status|default_if_none:'' }}">
            </div>
        </div>
        <div class="form-group">
            <!--<label class="col-sm-1 control-label">Created Date</label>-->
            <label class="col-sm-2 control-label">Created Date: From</label>
            <div class="col-sm-2">
                <input type="date" class="form-control input-rounded"
                       name="from_created_timestamp"
                       value="{{ from_created_timestamp|default_if_none:'' }}"
                       id="dtp_from">
            </div>
            <label class="col-sm-1 control-label">: To</label>
            <div class="col-sm-2">
                <input type="date" class="form-control input-rounded"
                       name="to_created_timestamp"
                       value="{{ to_created_timestamp|default_if_none:'' }}"
                       id="dtp_to">
            </div>
            <div class="col-xs-1">
                <input id="btn_search" class="btn btn-success btn-block col-xs-1" type="submit" value="Search">
            </div>
        </div>
    </form>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0" id="tbl_agent_list">
                <thead>
                <tr>
                    <th id="agent_type">Agent ID</th>
                    <th id="last_name">Last Name</th>
                    <th id="first_name">First Name</th>
                    <th id="phone">Phone</th>
                    <th id="email">Email</th>
                    <th id="kyc">KYC</th>
                    <th id="created_at">Created Date</th>
                    <th id="modified_at">Modified Date</th>
                    <th id="status">Status</th>
                    <th id="action">Action</th>
                </tr>
                </thead>
                <tbody id="agent_table_body">
                {% for agent in data|dictsort:"id" %}
                    <tr>
                        {% if agent.is_deleted %}
                            <td class="col-sm-1"><s>{{ agent.id }}</s></td>
                        {% else %}
                            <td class="col-sm-1">{{ agent.id }}</td>
                        {% endif %}
                        <td class="col-sm-3">{{ agent.lastname|default_if_none:'' }}</td>
                        <td class="col-sm-5">{{ agent.firstname|default_if_none:'' }}</td>
                        <td class="col-sm-2">{{ agent.primary_mobile_number|default_if_none:'' }}</td>
                        <td class="col-sm-2">{{ agent.email|default_if_none:'' }}</td>
                        <td class="col-sm-2">{{ agent.kyc_status|default_if_none:'' }}</td>
                        <td class="col-sm-2">{{ agent.created_timestamp|default_if_none:'' }}</td>
                        <td class="col-sm-2">{{ agent.last_updated_timestamp|default_if_none:'' }}</td>
                        <td class="col-sm-2">{{ agent.status|default_if_none:'' }}</td>
                        <td class="col-sm-3">
                            {% if agent.is_permission_view %}
                                <button id="btn_detail" class="btn btn-outline mb5 btn-xs btn-info {{ agent.is_deleted|yesno:"hidden,no-hidden" }}" onclick="location.href='{% url 'agents:agent_detail' agent.id %}'">Detail</button>
                            {% endif %}
                            {% if agent.is_permission_edit %}
                                <button id="btn_edit" class="btn btn-outline mb5 btn-xs btn-primary {{ agent.is_deleted|yesno:"hidden,no-hidden" }}" onclick="location.href='{% url 'agents:agent_update' agent.id %}'">Edit</button>
                            {% endif %}
                            {% if agent.is_permission_delete %}
                                <button id="btn_delete" class="btn btn-outline mb5 btn-xs btn-danger {{ agent.is_deleted|yesno:"hidden,no-hidden" }}" onclick="location.href='{% url 'agents:agent_delete' agent.id %}'">Delete</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="loader" style="display:none" id="loader-indicator"></div>
    <div class="col-xs-12" id="search-result-notification" style="display:none">
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            Something wrong happened.
        </div>
    </div>
</div>
{% endblock %}
