<ul  class="nav nav-pills">
    {% if permissions.CAN_ACCESS_SUMMARY_TAB %}
    <li id="summary_tab" {% if active_tab == 'summary' %}class="active" {% endif %}>
        <a  href="{% url 'agents:agent_management_summary' agent_id %}" id="tab_summary"><font size="4">Summary</font></a>
    </li>
    {% endif %}
    {% if permissions.CAN_ACCESS_PRODUCT_CONFIGURATION_TAB %}
    <li id="div_product_summary" {% if active_tab == 'product' %}class="active" {% endif %}>
        <a href="{% url 'agents:agent_management_product' agent_id %}" id="tab_product"><font size="4">Product Configuration</font></a>
    </li>
    {% endif %}
    <li {% if active_tab == 'shop' %}class="active" {% endif %}>
        <a href="{% url 'agents:agent_management_shop' agent_id %}"><font size="4">Shop Management</font></a>
    </li>
    {% if permissions.CAN_ACCESS_RELATIONSHIP_TAB %}
    <li id="relationships_tab" {% if active_tab == 'relationship' %}class="active" {% endif %}>
        <a href="{% url 'agents:agent_management_relationship' agent_id %}" id="tab_relationships"><font size="4">Relationships</font></a>
    </li>
    {% endif %}
</ul>