{% extends "base.html" %}
{% load static %}
{% load permissions_filter %}
{% block body_stylesheet %}
{{ block.super }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'vendor/chosen_v1.4.0/chosen.min.css' %}?{% now "U" %}">
{% csrf_token %}
<div class="panel mb25">
<style type="text/css">

    #exTab1 .tab-content {
      background-color: white;
      padding : 5px 15px;
    }

    #exTab1 .nav-pills > li > a {
      border-radius: 0;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
        border-bottom: 4px solid #ea3f35;
        background-color: white;
        color: #ea3f35;
    }
     .nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus{
        background-color: white;
        color: #616161;
    }

    .category-group {
        border: 1px solid #d0d0d0;
    }
    .category-group + .category-group {
        border-top: none;
    }
    .category-group-title {
        padding: 10px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    .expand-collapse {
        display: inline-block;
        border: 1px solid #808080;
        border-radius: 50%;
        height: 23px;
        width: 23px;
        text-align: center;
    }
    .expand-collapse i {
        font-size: 20px;
    }
    .expand-collapse i.fa-angle-up {
        display: none;
    }
    .category-group-body {
        border-top: 1px solid #d0d0d0;
        padding: 15px;
        display: none;
    }
    .category-group-body .checkbox {
        padding-top: 0px;
    }
    .category-group.open .expand-collapse i.fa-angle-up {
        display: inline-block;
    }
    .category-group.open .expand-collapse i.fa-angle-down {
        display: none;
    }
    .category-group.open .category-group-body {
        display: block;
    }
</style>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <div id="exTab1" class="container">
                    {% include "agents/management_tab_menu.html" with active_tab='product' permissions=permissions agent_id=agent_id %}
                <br>
                <div style="border-bottom: 1px solid #ece6e6;margin-top: -20px;margin-bottom: 20px;"></div>
                <div class="tab-content clearfix">
                     <div class="tab-pane active" id="div_management_product">
                        <h4>Product Portfolio</h4>
                        <div class="portfolio-panel">
                            <div class="category-group open">
                                {% for category, products in applicable_categories.items %}
                                    <div class="category-group-title">
                                        <b><span id="lbl_summary_product_category_{{ products.0.category_id }}">{{ category }}</span></b>
                                        <div class="expand-collapse" id="btn_summary_product_category_expand_{{ products.0.category_id }}"><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></div>
                                    </div>
                                    <div class="category-group-body">
                                        {% for product in products %}
                                                <div class="product">
                                                    <label><input {% if product.is_checked %}checked{% endif %} type="checkbox" id="chk_summary_product_{{ product.id }}"/> {{ product.product_name }}</label>
                                                </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div style="text-align: right; margin-top: 15px;">
                            <button class="btn btn-success btn-md" id="btn_save" type="button" onclick="saveProductToAgent()"> Save <i class="fa fa-spinner fa-spin" style="display: none;"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
{{ block.super }}
    <script>
        $(document).ready(function () {
            $(".category-group-title").click(function () {
                $(this).parent().toggleClass("open");
            });
            $("#btn_save").click(function () {
                $(this).find("i.fa-spinner").show();
            });
        });
    </script>
{% endblock %}