{% extends "base.html" %}
{% load static %}
{% load permissions_filter %}
{% load common_tags %}
{% block body_stylesheet %}
{{ block.super }}
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="panel mb25">
<style type="text/css">
    #exTab1 {
        max-width: 100%;
    }

    #exTab1 .tab-content {
      background-color: white;
      padding : 5px 15px;
    }

    #exTab1 .nav-pills > li > a {
      border-radius: 0;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
        border-bottom: 4px solid #ea3f35;
        background-color: white;
        color: #ea3f35;
    }
     .nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus{
        background-color: white;
        color: #616161;
    }
</style>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <div id="exTab1" class="container">
                    {% include "agents/management_tab_menu.html" with active_tab='shop'%}
                    {% include "message.html" %}
                <br>
                <div style="border-bottom: 1px solid #ece6e6;margin-top: -20px;margin-bottom: 20px;"></div>
                <div class="tab-content clearfix">
                     <div class="tab-pane active">
                        <h4>Shop Management</h4>
                         <div class="text-right">
                            <a id="btn_add" class="btn btn-success btn-md" href="{% url 'agents:agent_link_shop' agent_id %}?back_url={% current_url_encoded_for_back %}">
                                <strong>+</strong> <span>Add Shop</span>
                            </a>
                        </div>
                        <form method="get">
                            <input id="current_page_index" name="current_page_index" type="hidden" value="{{ form.current_page_index|default:'1' }}"/>
                            <div style="margin-top: 15px; text-align: right">
                                Total Shops Found:&nbsp;<span id="lbl_total">123</span>
                            </div>
                            <div class="table-responsive" style="margin-top: 10px;">
                                <table id="tbl_shops" class="table table-bordered table-striped mb0">
                                    <thead>
                                    <tr>
                                        <th>Shop ID</th>
                                        <th>Shop Type</th>
                                        <th>Shop Category</th>
                                        <th>Shop Name</th>
                                        <th>City</th>
                                        <th>District</th>
                                        <th>Relationship Manager Name</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>123</td>
                                            <td>Shop Type</td>
                                            <td>Shop Category</td>
                                            <td>Shop Name</td>
                                            <td>City</td>
                                            <td>District</td>
                                            <td>Relationship Manager Name</td>
                                            <td>
                                                <a id="btn_detail" class="btn btn-outline btn-xs btn-info" href="{% url 'shop:shop_detail' 1 %}?back_url={% current_url_encoded_for_back %}">Detail</a>
                                                <a id="btn_unlink" class="btn btn-outline btn-xs btn-danger" href="">Unlink</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            {% include "pagination.html" %}
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
{{ block.super }}
{% endblock %}