{% extends "base.html" %}

{% block content %}
<div class="panel mb25">
    <div class="panel-heading border mb15">
        <h3>View Card Design</h3>
    </div>

    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissable" id="msg-roles">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ message }}</strong>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="col-xs-12">
        <div class="alert alert-danger" hidden id="msg-update-failed">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong id="alert-msg"></strong>
        </div>
    </div>

    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form class="form-horizontal" id="detail-form" role="form" method="post" action="{% url 'card_design:create_card_design' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Card Design Number *</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" name="pan_pattern" id="txt_card_number" 
                                   value="{{ body.pan_pattern|default_if_none:'' }}" required readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Card Design Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="name" id="txt_card_name" 
                                   value="{{ body.name|default_if_none:'' }}" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Provider</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="name" id="txt_provider"
                                   value="{{ body.provider.name|default_if_none:'' }}" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Card Type</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="name" id="txt_card_type"
                                   value="{{ body.card_type.name|default_if_none:'' }}" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Currency</label>
                         <div class="col-sm-7">
                            <input type="text" class="form-control" name="name" id="txt_currency"
                                   value="{{ body.currency|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pre-sof Order Url</label>
                        <div class="col-sm-7">
                            <input readonly type="text" class="form-control" name="pre_sof_order_url" id="txt_pre_sof_order_url"
                                   value="{{ body.pre_sof_order_url|default_if_none:'' }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pre-sof Order Read Timeout</label>
                        <div class="col-sm-7">
                            <input readonly type="number" class="form-control" name="pre_sof_order_read_timeout" id="txt_pre_sof_order_read_timeout"
                                   value="{{ body.pre_sof_order_read_timeout|default_if_none:'' }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pre-link Url</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="pre_link_url" id="txt_pre_link_url" 
                                   value="{{ body.pre_link_url|default_if_none:'' }}" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pre-link Read Timeout</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" name="pre_link_read_timeout" id="txt_pre_link_timeout" 
                                   value="{{ body.pre_link_read_timeout|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Link Url</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="link_url" id="txt_link_url" 
                                   value="{{ body.link_url|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Link Read Timeout</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" name="link_read_timeout" id="txt_link_timeout" 
                                   value="{{ body.link_read_timeout|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Un-link Url</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="un_link_url" id="txt_un_link_url" 
                                   value="{{ body.un_link_url|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Un-link Read Timeout</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" name="un_link_read_timeout" id="txt_un_link_timeout" 
                                   value="{{ body.un_link_read_timeout|default_if_none:'' }}"readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Debit Url</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="debit_url" id="txt_debit_url" 
                                   value="{{ body.debit_url|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Debit Read Timeout</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" name="debit_read_timeout" id="txt_debit_timeout" 
                                   value="{{ body.debit_read_timeout|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Credit Url</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="credit_url" id="txt_credit_url" 
                                   value="{{ body.credit_url|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Credit Read Timeout</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" name="credit_read_timeout" id="txt_credit_timeout" 
                                   value="{{ body.credit_read_timeout|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Check Status Url</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="check_status_url" id="txt_check_status_url" 
                                   value="{{ body.check_status_url|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Check Status Read Timeout</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" name="check_status_read_timeout" id="txt_check_status_timeout" 
                                   value="{{ body.check_status_read_timeout|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Cancel Url</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="cancel_url" id="txt_cancel_url" 
                                   value="{{ body.cancel_url|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Cancel Read Timeout</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" name="cancel_read_timeout" id="txt_cancel_timeout" 
                                   value="{{ body.cancel_read_timeout|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pre-sof check status url</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_presof_check_status_url" 
                                   value="{{ body.pre_sof_check_status_url|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pre-sof check status read timeout</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" id="txt_presof_check_status_read_timeout" 
                                   value="{{ body.pre_sof_check_status_read_timeout|default_if_none:'' }}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pre-sof check status max retry</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" id="txt_presof_check_status_max_retry" 
                                   value="{{ body.pre_sof_check_status_max_retry|default_if_none:'' }}" readonly/>
                        </div>
                    </div>

                    <div class="pull-right">
                        <a href="{% url 'card_design:card_designs' %}">
                            <input id="btn_cancel" class="btn text-left mb15" type="button"
                                   value="Cancel"/>
                        </a>
                        {% if is_permission_edit %}
                        <a href="{% url 'card_design:card_design_update' body.provider.id body.id %}">
                            <input id="btn_edit" class="btn btn-success text-left mb15" type="button"
                                   value="Edit"/>
                        </a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
